<div class="govuk-width-container footer-feedback">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="footer-feedback-actions" id="footer-feedback-actions">
                <div class="govuk-grid-column-one-half">
                    <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0"><strong>Is this page useful?</strong> <a href="#" id="yes-useful-link">Yes<span class="visually-hidden"> this page is useful</span></a>&nbsp;<a href="#" id="no-not-useful-link">No<span class="visually-hidden"> this page is not useful</span></a></p>
                </div>
                <div class="govuk-grid-column-one-half">
                    <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0 text-align-right"><a href="#" id="something-wrong-link">Is there anything wrong with this page?</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer-feedback-thanks" id="footer-feedback-thanks">
                <div class="govuk-grid-column-one-half">
                    <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0">Thanks for your feedback</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row" id="footer-feedback-content">
            <div class="govuk-grid-column-full">
                    <div class="footer-feedback-expand">
                     <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-form-group">
                                <label class="govuk-label" for="more-detail">
                                <strong>How should we improve this page?</strong>
                                </label>
                                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                            </div>
                        <div class="govuk-form-group">
                                <label class="govuk-label" for="event-name">
                                Name (optional)
                                </label>
                                <span id="event-name-hint" class="govuk-hint">
                                        Include your name and email address if you'd like us to get back to you.
                                </span>
                                <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
                        </div>
                        <div class="govuk-form-group">
                                <label class="govuk-label" for="event-name">
                                Email (optional)
                                </label>
                                <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
                            </div>
                    
        </div>
        <div class="govuk-grid-column-one-third">
            <p class="govuk-body-s text-align-right"><a href="#" id="close-feedback-link">Close</a></p>
        </div>
        </div>
        </div>
    </div>

</div>

