    <option value="" selected="selected"></option>
    <option value="Black Country">Black Country</option>
    <option value="Buckinghamshire Thames Valley">Buckinghamshire Thames Valley</option>
    <option value="Cheshire and Warrington">Cheshire and Warrington</option>
    <option value="Coast to Capital">Coast to Capital</option>
    <option value="Cornwall and Isles of Scilly">Cornwall and Isles of Scilly</option>
    <option value="Coventry and Warwickshire">Coventry and Warwickshire</option>
    <option value="Cumbria">Cumbria</option>
    <option value="D2N2 (Derby, Derbyshire, Nottingham and Nottinghamshire)">D2N2 (Derby, Derbyshire, Nottingham and Nottinghamshire)</option>
    <option value="Dorset">Dorset</option>
    <option value="Enterprise M3">Enterprise M3</option>
    <option value="GFirst LEP">GFirst LEP</option>
    <option value="Greater Birmingham and Solihull">Greater Birmingham and Solihull</option>
    <option value="Greater Cambridge and Greater Peterborough">Greater Cambridge and Greater Peterborough</option>
    <option value="Greater Lincolnshire">Greater Lincolnshire</option>
    <option value="Greater Manchester">Greater Manchester</option>
    <option value="Heart of the South West">Heart of the South West</option>
    <option value="Hertfordshire">Hertfordshire</option>
    <option value="Humber">Humber</option>
    <option value="Lancashire">Lancashire</option>
    <option value="Leeds City Region">Leeds City Region</option>
    <option value="Leicester and Leicestershire">Leicester and Leicestershire</option>
    <option value="Liverpool City Region">Liverpool City Region</option>
    <option value="London Enterprise Panel">London Enterprise Panel</option>
    <option value="New Anglia">New Anglia</option>
    <option value="North East">North East</option>
    <option value="Oxfordshire">Oxfordshire</option>
    <option value="Sheffield City Region">Sheffield City Region</option>
    <option value="Solent">Solent</option>
    <option value="South East">South East</option>
    <option value="South East Midlands">South East Midlands</option>
    <option value="Stoke-on-Trent and Staffordshire">Stoke-on-Trent and Staffordshire</option>
    <option value="Swindon and Wiltshire">Swindon and Wiltshire</option>
    <option value="Tees Valley">Tees Valley</option>
    <option value="Thames Valley Berkshire">Thames Valley Berkshire</option>
    <option value="The Marches">The Marches</option>
    <option value="West of England">West of England</option>
    <option value="Worcestershire">Worcestershire</option>
    <option value="York, North Yorkshire and East Riding">York, North Yorkshire and East Riding</option>