
{% extends "layout.html" %}

{% block pageTitle %}
Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your feedback will help us to improve it.'
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Explore the digital skills market by area
      </h1>
      <p class="govuk-body-l">
          This service lets you view information about digital skills demand in a specific area.
      </p>
      <p>You can explore data about:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>skills with the highest employer demand</li>
            <li>roles with the highest employer demand</li>
            <li>changes in employer demand</li>
          </ul>

      {{ govukButton({
        text: "Start now",
        href: "sign-in",
        classes: "govuk-button--start"
    }) }}


    </div>
</div>
</div>

{% include "includes/feedback.html" %}

{% endblock %}

{% block pageScripts %}



{% endblock %}