
{% extends "layout.html" %}

{% block pageTitle %}
Economic activity rate | North East | Local enterprise partnership | Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="where.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="lep-ne.html">North East</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Economic activity rate</li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
          Economic activity rate in the North East
      </h1>
      </div>
      </div>
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l govuk-!-margin-bottom-3">Economic activity rate is the percentage of the population, both employed and unemployed, that constitutes the manpower supply of the labour market.</p>
      <p class="last-update govuk-!-margin-bottom-6">This data was last updated in January 2019.</p>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Filter this data</h2>
      </div>
  </div>

  <div class="govuk-grid-row  govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
            <label class="govuk-label" for="sectors">
                Economic activity
              </label>
              <select class="govuk-select" id="sectors" name="sectors">
                <option value="all" selected>All</option>
                <option>Economically active</option>
                <option>Economically inactive</option>
              </select>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
            <label class="govuk-label" for="sectors">
               Age
              </label>
              <select class="govuk-select" id="sectors" name="sectors">
                <option value="all" selected>All ages</option>
                <option>0 - 15 years</option>
                <option>16 - 24 years</option>
                <option>25 - 34 years</option>
                <option>35 - 49 years</option>
                <option>50+ years</option>
              </select>
        </div>
      </div>
      </div>




      
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <hr>
          </div>
      <div class="govuk-grid-column-two-thirds">
          
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Economic activity rate in the North East is lower than the national average and is not growing</h2>
          </div>
    </div>
 
  <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-three-quarters">
          <img src="../../public/images/ear-lines.png" class="full-width-image govuk-!-margin-bottom-3"/>
      </div>
      <div class="govuk-grid-column-one-quarter">
          <div class="volumetrics-completion-selected">
              <span class="summary">August 2018</span>
              <strong>77.2%</strong>
              <p class="govuk-body-s">National average: 79.1%</p>
            </div>
      </div>
  </div>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr>
        </div>
      <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Economic activity rate across the North East is highest in Sunderland</h2>
          </div>
        
    </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-three-quarters">
          <img src="../../public/images/bar-chart-ear.png" class="full-width-image govuk-!-margin-bottom-3"/>
      </div>
      <div class="govuk-grid-column-one-quarter">
          <div class="volumetrics-completion-selected">
              <span class="summary">Sunderland</span>
              <strong>79.5%</strong>
            </div>
      </div>
  </div>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr>
        </div>
      <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">About this data</h2>
            <p>This data was collected by the Office for National Statistics.</p>
            <p><a href="NOMIS">View the source data</a></p>
          </div>
        
    </div>
  


</div>

{% endblock %}

{% block pageScripts %}



{% endblock %}