
{% extends "layout.html" %}

{% block pageTitle %}
Quality assurance | Digital skills | North East | Local enterprise partnership | Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="where.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="lep-ne.html">North East</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="lep-ne-skills.html">Skills in demand</a>
        </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Quality assurance</li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        Quality assurance in the North East
      </h1>
      <p class="govuk-body-l govuk-!-margin-bottom-3"><strong style="font-size:1.6rem;display:inline;">Skill</strong> in the Web and Software Development skills category.</p>
      
       <!-- <div class="govuk-inset-text">
          <p class=" govuk-body-s">
            We look at job data from Adzuna and use an alogrithm to match them with locations that are associated with this area.</p>
             </div> -->

    </div>
    <div class="govuk-grid-column-one-third">
        
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <p class="last-update">This data was last updated in January 2019</p>
</div>
</div>

  <div class="govuk-grid-row  govuk-!-margin-bottom-5">
      <div class="govuk-grid-column-one-third">
          <div class="headline-stat-box section-border-top">
              <span class="title">Employer demand</span>
              <span class="no-data">no data</span>
              <div class="detail govuk-body-s">
                  <p class="govuk-body-s">There are no vacancies asking for quality assurance in the North East this month.</p>
              </div>
          </div>
      </div>
      <div class="govuk-grid-column-one-third">
          <div class="headline-stat-box section-border-top">
              <span class="title">Average salary range</span>
              <span class="no-data">not enough data</span>
              <div class="detail govuk-body-s">
                    <p class="govuk-body-s">There are not enough vacancies that ask for quality assurance to work out the average salary range.</p>
                </div>

          </div>
      </div>
      <div class="govuk-grid-column-one-third">
          <div class="headline-stat-box section-border-top">
              <span class="title">Transferability</span>
              <span class="figure">Highly specialised</span>
              <div class="detail govuk-body-s govuk-!-margin-bottom-0">
                  Employer demand for this skill is only found within a small amount of roles.
              </div>
          </div>
      </div>
  </div>


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <hr>
          </div>
      <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">The number of vacancies that ask for quality assurance in the North East is very high with steady growth</h2>
            <p class="govuk-!-margin-bottom-4">The percentage of vacancies that ask for quality assurance</p>
          </div>
    </div>
 
    <div class="govuk-tabs" data-module="tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
      
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#chart">
              Chart
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#table">
              Table of data
            </a>
          </li>
        </ul>
      
        <section class="govuk-tabs__panel" id="chart">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
          <img src="../../public/images/growing-line-with-nat-av.png" class="full-width-image"/>
      </div>
      <div class="govuk-grid-column-one-quarter">
          <div class="chart-annotation">
              <span class="summary">January 2019</span>
              <p class="govuk-body-s label primary-line">North East</p>
              <strong>1.04%</strong>
              <p class="govuk-body-s label average-line">Nationwide</p>
              <strong>0.92%</strong>
              <p class="govuk-body-s label extra-annotation">Vacancies in North East <span class="figure">173</span></p>
            </div>
      </div>
  </div>
  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="table">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">North East</th>
          <th class="govuk-table__header" scope="col">Nationwide</th>
          <th class="govuk-table__header" scope="col">Claimant count</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">August 2008</td>
          <td class="govuk-table__cell">6.1%</td>
          <td class="govuk-table__cell">6.2%</td>
          <td class="govuk-table__cell">17,321</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">August 2009</td>
          <td class="govuk-table__cell">6.1%</td>
          <td class="govuk-table__cell">6.2%</td>
          <td class="govuk-table__cell">17,321</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">August 2010</td>
          <td class="govuk-table__cell">6.1%</td>
          <td class="govuk-table__cell">6.2%</td>
          <td class="govuk-table__cell">17,321</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">August 2011</td>
          <td class="govuk-table__cell">6.1%</td>
          <td class="govuk-table__cell">6.2%</td>
          <td class="govuk-table__cell">17,321</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">August 2012</td>
          <td class="govuk-table__cell">6.1%</td>
          <td class="govuk-table__cell">6.2%</td>
          <td class="govuk-table__cell">17,321</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">August 2013</td>
          <td class="govuk-table__cell">6.1%</td>
          <td class="govuk-table__cell">6.2%</td>
          <td class="govuk-table__cell">17,321</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">August 2014</td>
          <td class="govuk-table__cell">6.1%</td>
          <td class="govuk-table__cell">6.2%</td>
          <td class="govuk-table__cell">17,321</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">August 2015</td>
          <td class="govuk-table__cell">6.1%</td>
          <td class="govuk-table__cell">6.2%</td>
          <td class="govuk-table__cell">17,321</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">August 2016</td>
          <td class="govuk-table__cell">6.1%</td>
          <td class="govuk-table__cell">6.1%</td>
          <td class="govuk-table__cell">17,317</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">August 2017</td>
          <td class="govuk-table__cell">6.2%</td>
          <td class="govuk-table__cell">6.2%</td>
          <td class="govuk-table__cell">17,413</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">August 2018</td>
          <td class="govuk-table__cell">6.1%</td>
          <td class="govuk-table__cell">6.2%</td>
          <td class="govuk-table__cell">17,321</td>
        </tr>
      </tbody>
    </table>

  </section>
</div>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Employer demand across the North East is highest in Newcastle upon Tyne</h2>
            <p class="govuk-!-margin-bottom-4">The number of vacancies requiring quality assurance in each local authority district within the North East.</p>
        </div>
    </div>
    

    <div class="govuk-tabs" data-module="tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
      
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#chart-2">
              Chart
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#table-2">
              Table of data
            </a>
          </li>
        </ul>
      
        <section class="govuk-tabs__panel" id="chart-2">
  
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
          <img src="../../public/images/bar-chart-nums.png" class="full-width-image"/>
      </div>
      <div class="govuk-grid-column-one-quarter">
          <div class="volumetrics-completion-selected">
              <span class="summary">Newcastle upon Tyne</span>
              <strong>38</strong>
              <p class="govuk-body-s">Vacancies in Newcastle upon Tyne mentioned the skill quality assurance this month</p>
              <p class="govuk-body-s"><strong style="font-size:1.1875rem;display:inline;">1.48%</strong> of all listings posted in Newcastle</p> 
            </div>
      </div>
  </div>
  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="table-2">

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Local authority</th>
          <th class="govuk-table__header" scope="col">Job adverts</th>
          <th class="govuk-table__header" scope="col">% of listings</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Newcastle upon Tyne</td>
          <td class="govuk-table__cell">38</td>
          <td class="govuk-table__cell">1.48%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Gateshead</td>
          <td class="govuk-table__cell">32</td>
          <td class="govuk-table__cell">1.12%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">South Tyneside</td>
          <td class="govuk-table__cell">28</td>
          <td class="govuk-table__cell">1.18%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">North Tyneside</td>
          <td class="govuk-table__cell">23</td>
          <td class="govuk-table__cell">1.48%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Northumberland</td>
          <td class="govuk-table__cell">18</td>
          <td class="govuk-table__cell">1.23%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Durham</td>
          <td class="govuk-table__cell">18</td>
          <td class="govuk-table__cell">1.37%</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Sunderland</td>
          <td class="govuk-table__cell">16</td>
          <td class="govuk-table__cell">1.08%</td>
        </tr>
      </tbody>
    </table>

  </section>
</div>
  

  <div class="govuk-grid-row  govuk-!-margin-bottom-6">
      
    <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Roles requiring this skill</h2>
          <ul class="govuk-list">
            <li><a href="lep-ne-roles-Quality assurance-developer.htm">Javascript developer</a></li>
            <li><a href="#">Frontend Javascript developer</a></li>
            <li><a href="#">Javascript developer Nodejs</a></li>
            <li><a href="#">Angular developer</a></li>
            <li><a href="#">Full stack developer</a></li>
          </ul>
      </div>

      <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Related skills</h2>
          <ul class="govuk-list">
            <li><a href="#">CSS</a></li>
            <li><a href="#">jQuery</a></li>
            <li><a href="#">C#</a></li>
            <li><a href="#">Front end</a></li>
            <li><a href="#">HTML5</a></li>
          </ul>
      </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <hr>
            </div>
        <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m">About this data</h2>
                <p>We work out this skills information by looking at job adverts that ask for each skill. We match the location listed in the advert with locations in this area. Job adverts are collected by Adzuna.</p>
            </div>
      </div>

</div>

{% include "includes/feedback.html" %}

{% endblock %}

{% block pageScripts %}



{% endblock %}