
{% extends "layout.html" %}

{% block pageTitle %}
Roles | North East | Local enterprise partnership | Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="where.html">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="lep-ne.html">North East</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">Roles in demand</li>
        </ol>
      </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        Roles in demand in the North East
      </h1>

      <div class="govuk-inset-text">
          We work out the demand for roles by looking at how often they are asked for in job adverts. Job adverts are collected by Adzuna.
      </div>
      
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
                <strong>Categories</strong>
              </label>
              <select class="govuk-select" id="sort" name="sort">
                <option value="all" selected>All categories</option>
                <option>Accounting and Finance</option>
                <option>Administration and HR</option>
                <option>Business Analysis</option>
                <option>Catering and Hospitality</option>
                <option>Construction</option>
                <option>Data Security and Governance</option>
                <option>Electronics</option>
                <option>Engineering and Design</option>
                <option>Graphic Design</option>
                <option>IT Hardware and Networks</option>
                <option>Law</option>
                <option>Management and Strategy</option>
                <option>Marketing</option>
                <option>Nursing and Healthcare</option>
                <option>Sales</option>
                <option>Science and Pharmaceuticals</option>
                <option>Teaching and Classroom</option>
                <option>Utilities and Maintenance</option>
                <option>Web and Software Development</option>
              </select>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <form class="form" action="lep-ne-gva.html">
          <div class="govuk-form-group">
              <label class="govuk-label" for="sort">
                  <strong>Role title</strong>
                </label>
              <div id="autocomplete"></div>
          </div>
      </form>
    </div>

   
        

  </div>

  <!--<div class="govuk-grid-row govuk-!-margin-bottom-7">
      <div class="govuk-grid-column-one-half">
          <div class="dynamic-filter-box">
            <div class="figure">893</div>
            <div class="filter-desc">roles in the <strong>Graphic Design skills</strong><button class="btn-remove btn-inline" data-filter="department" type="button">×</button> category</div>
            <div class="clearfix"></div>
          </div>
          
      </div>
  </div>-->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <p class="show-with-responsive-table"><strong>Sort skills by:</strong></p>
        <table class="govuk-table sort-filter-table sortable responsive-table govuk-!-margin-bottom-5">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"><span class="th-sort-link">Role</span></th>
              <th class="govuk-table__header" scope="col"><span class="th-sort-link">Category</span></th>
              <th class="govuk-table__header" scope="col"><span class="th-sort-link">Demand</span></th>
              <th class="govuk-table__header" scope="col"><span class="th-sort-link">Change</span></th>
              <th class="govuk-table__header" scope="col"><span class="th-sort-link">Salary range</span></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row"><a href="#">Music producer</a></th>
                  <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Engineering and Design</td>
                  <td class="govuk-table__cell" sorttable_customkey="19"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>Medium</td>
                  <td class="govuk-table__cell" sorttable_customkey="3"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Not changing</td>
                  <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£30,000 - £50,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row"><a href="#">Gardener</a></th>
                    <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Utilities and Maintenance</td>
                  <td class="govuk-table__cell" sorttable_customkey="20"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>Medium</td>
  <td class="govuk-table__cell" sorttable_customkey="3"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Not changing</td>
  <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£15,000 - £22,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row"><a href="#">React developer</a></th>
                    <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Web and Software Development</td>
                    <td class="govuk-table__cell" sorttable_customkey="2"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>Very high</td>
                    <td class="govuk-table__cell" sorttable_customkey="3"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Not changing</td>
                    <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£30,000 - £50,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row"><a href="#">User researcher</a></th>
                    <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Business Analysis</td>
                  <td class="govuk-table__cell" sorttable_customkey="3"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>Very high</td>
                    <td class="govuk-table__cell" sorttable_customkey="1"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Increasing</td>
                    <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£30,000 - £50,000</td>
                </tr>

              <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row"><a href="#">QA engineer</a></th>
                  <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Web and Software Development</td>
                  <td class="govuk-table__cell" sorttable_customkey="16"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>High</td>
                  <td class="govuk-table__cell"  sorttable_customkey="3"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Not changing</td>
                  <td class="govuk-table__cell" ><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£30,000 - £50,000</td>
                </tr>

              <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row"><a href="#">Business analyst</a></th>
                  <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Business Analysis</td>
                  <td class="govuk-table__cell"  sorttable_customkey="6"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>Very high</td>
              <td class="govuk-table__cell" sorttable_customkey="3"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Not changing</td>
              <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£30,000 - £50,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row"><a href="#">Interaction designer</a></th>
                    <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Web and Software Development</td>
                  <td class="govuk-table__cell" sorttable_customkey="7"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>Very high</td>
              <td class="govuk-table__cell" sorttable_customkey="1"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Increasing</td>
              <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£30,000 - £50,000</td>
                </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row"><a href="lep-ne-roles-javascript-developer.html">Javascript developer</a></th>
                <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Web and Software Development</td>
              <td class="govuk-table__cell" sorttable_customkey="1"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>Very high</td>
              <td class="govuk-table__cell" sorttable_customkey="2"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Increasing</td>
              <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£30,000 - £50,000</td>
            </tr>
           

                  <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row"><a href="#">CAD operator</a></th>
                      <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Engineering and Design</td>
                        <td class="govuk-table__cell" sorttable_customkey="8"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>Very high</td>
                <td class="govuk-table__cell" sorttable_customkey="4"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Decreasing</td>
                <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£30,000 - £50,000</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <th class="govuk-table__header" scope="row"><a href="#">Programmer</a></th>
                          <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Web and Software Development</td>
                        <td class="govuk-table__cell" sorttable_customkey="9"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>Very high</td>
                <td class="govuk-table__cell" sorttable_customkey="3"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Not changing</td>
                <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£30,000 - £50,000</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <th class="govuk-table__header" scope="row"><a href="#">Conveyancer</a></th>
                          <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Law</td>
                            <td class="govuk-table__cell" sorttable_customkey="10"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>Very high</td>
                <td class="govuk-table__cell" sorttable_customkey="3"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Not changing</td>
                <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£35,000 - £58,000</td>
                          </tr>
                          <tr class="govuk-table__row">
                              <th class="govuk-table__header" scope="row"><a href="#">Data engineer</a></th>
                              <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Engineering and Design</td>
                            <td class="govuk-table__cell"  sorttable_customkey="11"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>High</td>
                <td class="govuk-table__cell" sorttable_customkey="3"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Not changing</td>
                <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£30,000 - £50,000</td>
                          </tr>
                          <tr class="govuk-table__row">

                              <th class="govuk-table__header" scope="row"><a href="#">Painter and decorator</a></th>
                              <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Utilties and Maintenance</td>
                            <td class="govuk-table__cell" sorttable_customkey="12"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>High</td>
                <td class="govuk-table__cell" sorttable_customkey="2"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Decreasing</td>
                <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£22,000 - £40,000</td>
                          </tr>
                          <tr class="govuk-table__row">
                              <th class="govuk-table__header" scope="row"><a href="#">Call centre operator</a></th>
                              <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Sales</td>
                                <td class="govuk-table__cell" sorttable_customkey="13"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>High</td>
                                <td class="govuk-table__cell" sorttable_customkey="2"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Increasing</td>
                                <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£14,000 - £20,000</td>
                              </tr>

                              <tr class="govuk-table__row">
                                  <th class="govuk-table__header" scope="row"><a href="#">Mainframe developer</a></th>
                                  <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>IT Hardware and Networks</td>
                                  <td class="govuk-table__cell" sorttable_customkey="4"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>Low</td>
                                    <td class="govuk-table__cell" sorttable_customkey="3"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Not changing</td>
                                    <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£30,000 - £50,000</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="row"><a href="#">Security engineer</a></th>
                                    <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Data Security and Governance</td>
                                  <td class="govuk-table__cell" sorttable_customkey="5"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>Very high</td>
                                    <td class="govuk-table__cell" sorttable_customkey="3"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Not changing</td>
                                    <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£30,000 - £50,000</td>
                                </tr>

                              <tr class="govuk-table__row">
                                  <th class="govuk-table__header" scope="row"><a href="#">Marketing manager</a></th>
                                  <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Engineering and Design</td>
                                <td class="govuk-table__cell" sorttable_customkey="14"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>High</td>
                <td class="govuk-table__cell" sorttable_customkey="3"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Not changing</td>
                <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£30,000 - £50,000</td>
                              </tr>
                              <tr class="govuk-table__row">
                                  <th class="govuk-table__header" scope="row"><a href="#">Train driver</a></th>
                                  <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Utilities and Maintenance</td>
                                  <td class="govuk-table__cell" sorttable_customkey="15"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>High</td>
                          <td class="govuk-table__cell" sorttable_customkey="3"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Not changing</td>
                          <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£17,000 - £32,000</td>
                                </tr>
                               
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"><a href="#">Paliative care nurse</a></th>
                                        <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Nursing and Healthcare</td>
                                      <td class="govuk-table__cell" sorttable_customkey="17"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>High</td>
                          <td class="govuk-table__cell" sorttable_customkey="3"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Not changing</td>
                          <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£16,000 - £38,000</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row"><a href="#">Photographer</a></th>
                                        <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Category: </span>Graphic Design</td>
                                      <td class="govuk-table__cell" sorttable_customkey="18"><span aria-hidden="true" class="show-with-responsive-table">Demand: </span>Medium</td>
                          <td class="govuk-table__cell" sorttable_customkey="2"><span aria-hidden="true" class="show-with-responsive-table">Change: </span>Increasing</td>
                          <td class="govuk-table__cell"><span aria-hidden="true" class="show-with-responsive-table">Salary range: </span>£30,000 - £50,000</td>
                                    </tr>
                                    
          </tbody>
        </table>

    </div>

</div>

</div>

{% include "includes/feedback.html" %}

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  
  const dataitems = [
  'Javascript',
  'React',
  'CSS',
  'HTML',
  'Data science',
  'Node'
]

accessibleAutocomplete({
  element: document.querySelector('#autocomplete'),
  displayMenu: 'overlay',
  id: 'autocomplete', // To match it to the existing <label>.
  source: dataitems
})


</script>


<script type="text/javascript" src="../../public/javascripts/sorttable.js"></script>


{% endblock %}

