
{% extends "layout.html" %}

{% block pageTitle %}
Skills | North East | Local enterprise partnership | Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="where.html">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="lep-ne.html">North East</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">Skills in demand</li>
        </ol>
      </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        Skills in demand in the North East
      </h1>

    
      <div class="govuk-inset-text">
          We work out the demand for skills by looking at how often they are asked for in job adverts. Job adverts are collected by Adzuna.
      </div>

      
    </div>

    
  </div>

  <!--<div class="govuk-grid-row govuk-!-margin-bottom-7">
      <div class="govuk-grid-column-one-half">
          <div class="dynamic-filter-box">
            <div class="figure">893</div>
            <div class="filter-desc">skills at <strong>all levels of digital</strong><button class="btn-remove btn-inline" type="button">×</button> in the <strong>Graphic Design skills</strong><button class="btn-remove btn-inline" data-filter="department" type="button">×</button> category</div>
            <div class="clearfix"></div>
          </div>
          
      </div>
  </div>-->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
           
      <span class="no-data">not enough data</span>
          <p>There are not enough job adverts this month to show skills demand in the North East.</p>
  
  </div>

</div>

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  
  const dataitems = [
  'Javascript',
  'React',
  'CSS',
  'HTML',
  'Data science',
  'Node'
]

accessibleAutocomplete({
  element: document.querySelector('#autocomplete'),
  displayMenu: 'overlay',
  id: 'autocomplete', // To match it to the existing <label>.
  source: dataitems
})


</script>


<script type="text/javascript" src="../../public/javascripts/sorttable.js"></script>


{% include "includes/feedback.html" %}

{% endblock %}

{% block pageScripts %}



{% endblock %}