
{% extends "layout.html" %}

{% block pageTitle %}
  North East | Local enterprise partnership | Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="where.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item"><a href="lep-ne.html">North East</a></li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Insights into roles demand</li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        How demand for roles in North East differs from other local enterprise partnerships in the country
      </h1>
      <p class="govuk-body-l">
            We look at all of the data we hold on this area and highlight things that make it unique or interesting in comparison to other areas.
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-heading-m section-border-top">Demand for roles</h2>

          <p>The proportion of adverts for each role compared to other local enterprise partnerships in the country.</p>

          <div class="govuk-grid-row govuk-!-margin-bottom-5">
          <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-s">Roles in higher demand</h3>
            
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/placeitem?place=E37000025&kind=skill&name=Teaching">Social Care Worker</a></li>
              <li><a href="/placeitem?place=E37000025&kind=skill&name=Nursing">Production Operative</a></li>
              <li><a href="/placeitem?place=E37000025&kind=skill&name=Documentation">Customer Service Adviser</a></li>
            </ul>
          </div>

          <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-s">Roles in lower demand</h3>
            
            <ul class="govuk-list govuk-list--bullet"> 
              <li><a href="/placeitem?place=E37000025&kind=skill&name=Management">Recruitment Consultant</a></li>     
              <li><a href="/placeitem?place=E37000025&kind=skill&name=Clients">Software Developer</a></li>
              <li><a href="/placeitem?place=E37000025&kind=skill&name=Sales">Project Manager</a></li>
            </ul>
            </div> 
          </div>



              <h2 class="govuk-heading-m section-border-top">Changes in demand for roles</h2>
              <p>The change in proportion of adverts for each role compared to other local enterprise partnerships in the country.</p>
            

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h3 class="govuk-heading-s">Roles with growing demand</h3>
                      <ul class="govuk-list govuk-list--bullet">
                        <li><a href="/placeitem?place=E37000025&kind=skill&name=Testing">Social Care Worker</a></li>
                        <li><a href="/placeitem?place=E37000025&kind=skill&name=Time Management">Lorry Driver</a></li>
                        <li><a href="/placeitem?place=E37000025&kind=skill&name=Evidence">Operator</a></li>
                      </ul>
              </div>

              <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-s">Roles with falling demand</h3>
                  <ul class="govuk-list govuk-list--bullet">
                  <li><a href="/placeitem?place=E37000025&kind=skill&name=Management">General Nurse</a></li>
                  <li><a href="/placeitem?place=E37000025&kind=skill&name=Sales">Primary School Teacher</a></li>
                  <li><a href="/placeitem?place=E37000025&kind=skill&name=Solutions">Customer Service Adviser</a></li>
                </ul>
              </div> 
            </div>

           
          </div>



    <div class="govuk-grid-column-one-third">
      
    </div>

</div>

</div>


{% include "includes/feedback.html" %}

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  
  const dataitems = [
  'GVA by industry sector',
  'Digital skills demand by industry sector',
  'Courses offered locally'
]

accessibleAutocomplete({
  element: document.querySelector('#autocomplete'),
  displayMenu: 'overlay',
  showAllValues: true,
  id: 'autocomplete', // To match it to the existing <label>.
  source: dataitems
})


</script>

{% endblock %}