
{% extends "layout.html" %}

{% block pageTitle %}
Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your feedback will help us to improve it.'
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <fieldset class="govuk-fieldset govuk-!-margin-top-0">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Sign in
          </h1>
        </legend>
        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email address
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="text">
        </div>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="password">
            Password
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="password">
        </div>

      </fieldset>

      {{ govukButton({
        text: "Sign in",
        href: "where",
        classes: "govuk-button"
    }) }}


    </div>
</div>
</div>
{% include "includes/feedback.html" %}

{% endblock %}

{% block pageScripts %}



{% endblock %}