
{% extends "layout.html" %}

{% block pageTitle %}
  What type of area would you like to find data about? | Find data about a local area
{% endblock %}

{% block content %}

<div class="top-alignment-correct">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
        beta
      </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your
            <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>

      {{ govukBackLink({
        text: "Back",
        href: "index.html"
      }) }}
   </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" class="form">

          {% set lepHtml %}
         
          {{ govukRadios({
            idPrefix: "how-to-lep",
            name: "how-to-lep",
            fieldset: {
              legend: {
                text: "How would you like to view this area?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "lep-as-whole",
                text: "For the area as a whole"
              },
              {
                value: "lep-as-authorities",
                text: "For all local authorities within this area"
              }
            ]
          }) }}

          {% endset -%}

          {% set laHint %}

          {{ govukDetails({
            summaryText: "What is a local authority?",
            text: "A local authority is the council responsible for public services and facilities at a local level."
          }) }}

          {% endset -%}

      {{ govukRadios({
        idPrefix: "what-area-type",
        name: "what-area-type",
        fieldset: {
          legend: {
            text: "What type of area would you like to find data about?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "local-authorities",
            text: "Local Authorities",
            hint: {
              html: ""
            }
          },
          {
            value: "local-enterprise-partnerships",
            text: "Local Enterprise Partnerships",
            hint: {
              text: "Groups of local authorities working in partnership with businesses to focus on the local economy and labour market."
            },
            conditional: {
              html: lepHtml
            }
          },
          {
            value: "westminister-parliamentary-constituencies",
            text: "Westminister Parliamentary Constituencies",
            hint: {
              html: "Local areas that elect an MP to sit in Parliament."
            }
          },
          {
            value: "government-office-regions",
            text: "Government Office Regions",
            hint: {
              text: "High level areas within Great Britain."
            }
          },
          {
            value: "countries",
            text: "Countries"
          }
        ]
      }) }}

      
      <button class="govuk-button">Continue</button>
      </form>

    </div>
</div>

{% endblock %}
