
$govuk-font-family: Helvetica, Arial, sans-serif;

// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// CUSTOM STYLES

// Phase banner correction

.govuk-phase-banner { margin-top:-30px; margin-bottom:30px; }

/*** AUTOCOMPLETE ***/

.autocomplete__menu {
  font-family: Helvetica, Arial, sans-serif;
}

.ui-autocomplete {
  background-color: #fff;
  border: 2px solid #0b0c0c;
  border-top: 0;
  color: #34384b;
  margin: 0;
  padding: 0;
  width: calc(100% - 4px);
  width: 200px;
  max-height: 300px;
  overflow-x: hidden;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
}
.ui-autocomplete .ui-menu-item {
  border-top: 1px solid #bfc1c3;
  display: block;
  padding: 4px 6px;
  color: #34384b;
  cursor: pointer;
}
.ui-autocomplete .ui-menu-item:first-child {
  border-top: none;
}
.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: #005ea5;
  color: #FFF !important;
}

.areaname {
  display:block;
}

.areatype {
  font-size:16px;
  color: #70777B;
  display:block;
}

/*** ARROWS ***/

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #006435;
}


.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #df3034;
}