
// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// CUSTOM STYLES

.full-width-image { width:100%; }
hr { border: 0; border-top:1px solid #bfc1c3; margin-bottom:15px; }
.section-border-top { border-top: 1px solid #bfc1c3; padding-top:15px; }
.two-col { column-count: 2; column-gap: 30px; } 
.three-col { column-count: 3; column-gap: 30px; } 

.autocomplete__input--show-all-values.autocomplete__input--focused + 
.autocomplete__dropdown-arrow-down {
  z-index: 1;
}

.autocomplete__dropdown-arrow-down {
  z-index: 1;
}

.clearfix {
  clear:both;
}

.inline-block { display: inline-block; }

// Phase banner correction

.govuk-phase-banner { margin-top:-30px; margin-bottom:30px; }


/// DYNAMIC FILTER BOX


.sort-filter-table {
  font-size: 16px;
}

.sort-filter-table .govuk-table__head .govuk-table__row .govuk-table__header {
  font-weight:normal !important; 
}


/// DYNAMIC FILTER BOX

.dynamic-filter-box {
  font-family: "nta";
  font-size:19px;
}

.dynamic-filter-box .figure {
  font-size: 42px;
  line-height: 1.0416666667;
  font-weight: bold;
  margin-right:10px;
  color: #000;
  float:left;
}

.dynamic-filter-box .filter-desc {
  font-size: 16px;
  margin-left: 10px;
  color: #000;
}

@media (min-width: 641px) {
.btn-remove {
  font-size: 16px;
  line-height: 1.25;
}
}

.btn-remove {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  margin: 0;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  font-family: "nta",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  color: #6f777b;
  display: inline-block;
  height: 1em;
  width: 0.5em;
}

.btn-inline {
  margin-left: 3px;
    margin-right: 7px;
    vertical-align: middle;
}


/// STAT BOX

.headline-stat-box {
  font-family: "nta";
  font-size:19px;
}

.headline-stat-box .title {
  font-size:24px;
  color: #0b0c0c;
  display: block;
  font-weight: bold;
}

.headline-stat-box .figure {
  font-size: 36px;
  line-height: 1.0416666667;
  margin:8px 0;
  font-weight: bold;
  display:block;
  color: #000;
}

.headline-stat-box .date-range {
  display: block;
}

.headline-stat-box .detail {
  margin-bottom:0px;
}

.headline-stat-box .increase {
  font-size:24px;
  display:inline-block;
}

.headline-stat-box .increase::after {
  content: '\25B2';
  color: #bfc1c3;
  float:none;
}

.headline-stat-box .prior-date-range {
  display: inline-block;
}

.graph-figure .title {
  font-size:19px;
  border-bottom:1px solid #bfc1c3; 
  padding-bottom:12px;
}

/// Volumetrics

.volumetrics-completion-selected {
  font-family: "nta";
  font-size:19px; 
}

.volumetrics-completion-selected .summary {
  color: #0b0c0c;
  display: block;
  font-weight: bold;
  padding-bottom: 6px;
  border-bottom:1px solid #bfc1c3;
}

.volumetrics-completion-selected strong {
  font-size: 42px;
  line-height: 1.0416666667;
  padding-top:6px;
  display:block;
  color: #097F96;
}

/*** AUTOCOMPLETE ***/

.autocomplete__menu {
  font-family: "nta";
}

.header-search .autocomplete__input {
  background-color: #FFF;
  min-height: 40px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0px;
    -webkit-appearance: none;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 0px;
}

.ui-autocomplete {
  background-color: #fff;
  border: 2px solid #0b0c0c;
  border-top: 0;
  color: #34384b;
  margin: 0;
  padding: 0;
  width: calc(100% - 4px);
  width: 200px;
  max-height: 300px;
  overflow-x: hidden;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
}
.ui-autocomplete .ui-menu-item {
  border-top: 1px solid #bfc1c3;
  display: block;
  padding: 4px 6px;
  color: #34384b;
  cursor: pointer;
}
.ui-autocomplete .ui-menu-item:first-child {
  border-top: none;
}
.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: #005ea5;
  color: #FFF !important;
}

.areaname {
  display:block;
}

.areatype {
  font-size:16px;
  color: #70777B;
  display:block;
}

/*** ARROWS ***/

.arrow-up {
  width: 0; 
  height: 0; 
  margin-top:6px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #006435;
  float:right;
}


.arrow-down {
  width: 0; 
  height: 0; 
  margin-top:6px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #df3034;
  float:right;
}

.steady-square {
  width: 18px; 
  height: 7px; 
  margin-top:10px;
  background-color:	#bfc1c3;
  float:right;
}

/// MAP

#map {
  width:100%;
  height:250px;
}

.leaflet-control-attribution { display:none; }

//// PANEL

.govuk-panel a, .govuk-panel a:link, .govuk-panel a:hover, .govuk-panel a:visited { color:#FFF; display:inline-block; }

/// TABLES

.th-sort-link {
  color:  #005ea5;
  text-decoration: none;
  cursor: pointer;
}

.th-sort-link:hover {
  color: #2b8cc4;
  text-decoration: underline;
  cursor: pointer;
}

.show-with-responsive-table { display: none; }
.responsive-table .govuk-table__header, .responsive-table .govuk-table__cell { border:0; }
.responsive-table .govuk-table__head { border-top:2px solid #bfc1c3; border-bottom:2px solid #bfc1c3; }
.responsive-table .govuk-table__row { border-bottom:1px solid #bfc1c3; }

@media screen and (max-width: 641px) {
  .govuk-table__row .show-with-responsive-table { display: inline-block; margin-right:7px; font-weight: bold; }
  .responsive-table .govuk-table__row { padding-top:8px; padding-bottom:8px; display:block; }
  .responsive-table .govuk-table__header, .responsive-table .govuk-table__cell { width:100%; display:block; }
  .responsive-table .govuk-table__header, .responsive-table .govuk-table__cell { padding: 3px 20px 3px 0px; }
}

/*** CHART CONTROL PANEL  ***/

.chart-panel { background-color:  #f8f8f8; color:#FFF; padding:15px 0px; border-bottom: 3px solid #005ea5; }

