// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

/*** GLOBAL NAV DWP CLASSES ***/

#global-header-bar {
    display: none;
  }
  
  .navigation-global ul:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .navigation-global {
    background: #dee0e2;
  }
  
  .navigation-global ul {
    margin: 0 auto;
    max-width: 960px;
  }
  
  .navigation-global li {
    float: left;
    list-style-type: none;
  }
  
  @media (max-width: 640px) {
    .navigation-global li {
      width: 100%;
    }
  }
  
  .navigation-global a {
    display: block;
    padding: 15px;
    text-decoration: none;
  }
  
  .navigation-global a:link,
  .navigation-global a:visited {
    color: #0b0c0c;
  }
  
  .navigation-global a:active,
  .navigation-global a:focus {
    background: #ffbf47;
    color: #0b0c0c;
  }
  
  .navigation-global a:hover {
    background: #f8f8f8;
    text-decoration: underline;
  }
  
  .navigation-global .active {
    background: #005ea5;
    border-bottom: 0;
    font-weight: 700;
  }
  
  .navigation-global .active:link,
  .navigation-global .active:visited,
  .navigation-global .active:active {
    color: #fff;
  }
  
  .navigation-global .active:focus {
    color: #0b0c0c;
  }
  
  .navigation-global .active:hover {
    background: #005ea5;
    color: #fff;
    text-decoration: underline;
  }

  /*** Secondary Nav ***/

  .navigation-secondary ul:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .navigation-secondary {
    border-bottom: 1px solid #bfc1c3;
    margin: auto;
    max-width: 960px;
  }
  
  .navigation-secondary ul {
    margin: 0 auto;
    max-width: 960px;
  }
  
  .navigation-secondary li {
    float: left;
    list-style-type: none;
  }
  
  @media (max-width: 640px) {
    .navigation-secondary li {
      border: 0;
      width: 100%;
    }
  }
  
  .navigation-secondary a {
    display: block;
    padding: 15px;
  }
  
  .navigation-secondary a:visited {
    color: #005ea5;
  }
  
  .navigation-secondary a:hover {
    background-color: #f8f8f8;
  }
  
  .navigation-secondary .active {
    box-shadow: inset 0px -5px 0px 0px #005ea5;
    color: #0b0c0c;
    text-decoration: none;
  }
  
  .navigation-secondary .active:visited {
    color: #0b0c0c;
  }

/*** TABS DWP ***/

.visually-hidden,
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.tabs {
  margin-bottom: 1.05263em;
}

.tabs-content {
  clear: both;
}

@media (min-width: 641px) {
  .tabs-content [role='tabpanel'] {
    border-top: 1px solid #bfc1c3;
  }
}

.tabs-content [role='tabpanel'] .tabs-panel-inner {
  margin-top: 40px;
}

.tabs-content [aria-hidden='true'] {
  display: none;
}

.tabs-panel-inner:focus {
  border: 0;
    outline: 5px solid #ffbf47;
}

.tabs-list[role='tablist'] {
  border-top: 1px solid #bfc1c3;
  margin: 0;
  padding-left:10px;
  list-style: none;
}

@media (min-width: 641px) {
  .tabs-list[role='tablist'] {
    border-top: 0 none;
  }
}

.tabs-list[role='tablist'] li {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  border-bottom: 1px solid #bfc1c3;
  margin: 0;
}

@media (min-width: 641px) {
  .tabs-list[role='tablist'] li {
    font-size: 19px;
    line-height: 1.31579;
  }
}

@media (min-width: 641px) {
  .tabs-list[role='tablist'] li {
    border-bottom: 0 none;
    float: left;
    margin: 0 0 -1px;
    padding: 0;
  }
}

.tabs-list[role='tablist'] li a {
  background-color: #dee0e2;
  display: block;
  font-weight: bold;
  padding: 0.47368em;
  text-decoration: none;
}

@media (min-width: 641px) {
  .tabs-list[role='tablist'] li a {
    border: 0 none;
    float: left;
    margin: 0.26316em 0.26316em 0.26316em 0;
    padding: 0.47368em 1em;
    text-align: center;
  }
}

.tabs-list[role='tablist'] li [aria-selected='true'] {
  background-color: #fff;
  color: #0b0c0c;
  cursor: default;
  text-decoration: none;
}

@media (min-width: 641px) {
  .tabs-list[role='tablist'] li [aria-selected='true'] {
    border: 1px solid #bfc1c3;
    border-bottom: 1px solid transparent;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0.68421em 0.94737em 0.73684em;
  }
}
          
  

/*** GLOBAL NAV CUSTOM EXTENDED CLASSES ***/

.navigation-global ul {
    margin: 0 auto;
    max-width: 100%;
    padding:0px;
  }

.navigation-global a:hover {
    background: #005ea5;
    text-decoration: underline;
    color:#FFF;
  }

/*** SECONDARY NAV CUSTOM EXTENDED CLASSES ***/

.navigation-secondary  {
    margin: 0 auto;
    max-width: 100%;
    padding:0px;
  }

  .navigation-secondary ul { max-width:100%;  margin: 0 auto; padding:0; }

/*** Dropdowns ***/

#where-dropdown { display:none; }
#what-dropdown { display:none; }
#when-dropdown { display:none; }

.dropdown { border-bottom:2px solid #005ea5; padding:15px; background-color: #f8f8f8;  }

.dropdown-block { width:50%; max-width: 400px; float:left; }

/*** Criteria panel ***/

.criteria-panel { background-color: #f8f8f8; padding: 1.4em 0.4em 0 0.4em;  margin: 0 0 60px 0; }

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.top-alignment-correct { margin-top:-30px; margin-bottom:40px; }
.text-right { text-align: right; }
.right { float:right; }
.clearfix { clear: both; }

#conditional-display { display:none; }
.link-beneath-select { margin-top: -20px !important; }

.full-width-image { width:100%; }

.govuk-extra-width-container { max-width:96%; margin-left:auto; margin-right:auto; }
.govuk-extra-width-container .top-alignment-correct { margin-top:-60px; }

.key-cube { width: 19px; height: 19px; display:inline-block; margin-right:6px; margin-left:6px; margin-bottom: -2px; }

.big-stat-list { background-color:#28A17F; color:#FFFFFF; list-style: none; padding:1em; line-height: 160%; }

.negative-stat-box { background-color:#f47738; color:#FFFFFF; padding:1em; line-height: 160%; }
.positive-stat-box { background-color:#28A17F; color:#FFFFFF; padding:1em; line-height: 160%; }

.white { color:#FFFFFF; }

.map-key { list-style: None; padding-left:0; line-height: 160%; }

.location-bar { padding: 0.8em 0 0.6em 0; border-bottom: 1px solid #bfc1c3; }

.inline-block { display: inline-block; width:auto; }
.date-select { width:auto; display:inline-block;}

.snapshot-section { border-bottom:1px solid #bfc1c3; }

/*** CHART CONTROL PANEL  ***/

.chart-panel { background-color: #f8f8f8; padding:15px 0px; /** border-bottom: 2px solid #005ea5;  **/ }
.chart-panel-new { background-color: #f8f8f8; padding:15px 0px; border-bottom: 3px solid #005ea5; }

/*** SNAPSHOT PAGE ***/


.snapshot-alt .snapshot-chart-block { padding:0; border:0px; border-bottom:1px solid #bfc1c3; }
.snapshot-alt .snapshot-chart-block:hover {background-color:#FFF; }
.snapshot-alt .snapshot-chart-block-active { border:0px; border-bottom:1px solid #bfc1c3; }
