
{% extends "layout.html" %}

{% block pageTitle %}
  Churchill | Find data about a local area
{% endblock %}

{% block content %}

<div class="top-alignment-correct">
  <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
      beta
    </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your
          <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
 </div>


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Find data about a local area</span>
        <h1 class="govuk-heading-l govuk-!-font-weight-regular">
            Number of people entitled to <strong>Carers Allowance</strong> in <strong>Aberdeen City</strong> in relation to other <strong>Local Authorities</strong>
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <p>Charts will go here</p>
        <p><img src="images/chart.png" /></p>
      </div>

    <div class="govuk-grid-column-one-third">
        {{ govukTable({
          classes: "govuk-!-margin-bottom-7",
          caption: "When you're measuring",
          captionClasses: "govuk-heading-m",
          rows: [
            [
              {
                html: "March 2017 - March 2018"
              },
              {
                html: "<a href=\"#\" class=\"right\">Change</a>"
              }
            ]
          ]
        }) }}

        {{ govukTable({
          classes: "govuk-!-margin-bottom-2",
          caption: "What you're measuring",
          captionClasses: "govuk-heading-m",
          rows: [
            [
              {
                html: "<strong>Carers allowance</strong><br>(Number of people)"
              },
              {
                html: "<a href=\"#\" class=\"right\">Change</a>"
              }
            ]
          ]
        }) }}
        <p class="govuk-!-margin-bottom-7"><a href="#">Add another statistic</a></p>

        {{ govukTable({
          classes: "govuk-!-margin-bottom-2",
          caption: "Areas you've chosen",
          captionClasses: "govuk-heading-m",
          rows: [
            [
              {
                html: "Aberdeen City"
              },
              {
                html: "<a href=\"#\" class=\"right\">Remove</a>"
              }
            ],
            [
              {
                html: "Camden"
              },
              {
                html: "<a href=\"#\" class=\"right\">Remove</a>"
              }
            ],
            [
              {
                html: "South Tyneside"
              },
              {
                html: "<a href=\"#\" class=\"right\">Remove</a>"
              }
            ]
          ]
        }) }}
        <p class="govuk-!-margin-bottom-7"><a href="#" class="govuk-!-margin-bottom-6">Add another area</a></p>
    </div>
</div>

{% endblock %}
