
{% extends "layout.html" %}

{% block pageTitle %}
  Digital skills information service | GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Digital skills information service
      </h1>
      <p class="govuk-body-l">
        This service lets you find out about the digital skills landscape in a local enterprise partnership or local authority.
      </p>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Sign in
          </h2>
        </legend>
        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email address
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="text">
        </div>
      
        <div class="govuk-form-group">
          <label class="govuk-label" for="password">
            Password
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="password">
        </div>
      </fieldset>

        {{ govukButton({
            text: "Start now",
            href: "version-0-1/where",
            classes: "govuk-button--start"
        }) }}


    </div>
</div>

{% endblock %}
