
{% extends "layout.html" %}

{% block pageTitle %}
  Examine a place | GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Examine a place
      </h1>
      <p class="govuk-body-l">
        This is the prototype for Examine a Place. This is a service to allow users to look at local skills and labour market data in context and help with decision making.
      </p>

      <div class="govuk-inset-text">
        This service is also available in <a href="#">Welsh (Cymraeg)</a>.
      </div>

        {{ govukButton({
            text: "Start now",
            href: "#",
            classes: "govuk-button--start"
        }) }}


    </div>
</div>

{% endblock %}
