
{% extends "layout.html" %}

{% block pageTitle %}
  Examine a place | GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Local authority</span>
      <h1 class="govuk-heading-xl">
        Newcastle upon Tyne
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
     <div class="govuk-panel govuk-panel--confirmation">
        <div class="govuk-panel__body">
        The largest employer in this area is <strong>Her Majesty's Revenue and Customs</strong> and the most sought after skillset is <strong>administrative skills</strong>.
      </div>
      </div>

      <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                How we found this out
              </span>
            </summary>
            <div class="govuk-details__text">
              We use data from HMRC to establish who are the largest employers in each area. We use job data from Adzuna to look at what skills people are looking for. You can take also see <a href="">in depth employment data for Newcastle upon Tyne</a>.
            </div>
          </details>
     
    </div>

    <div class="govuk-grid-column-one-third">
       <p>Newcastle is part of the <a href="lep-north-east">North East</a> local enterprise partnership.</p>
      <h3 class="govuk-heading-s">
        Other authorities in the North East local enterprise partnership
      </h3>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Durham</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Gateshead</a>
        </li>
        <li>
          <a class="govuk-link" href="#">North Tyneside</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Northumbria</a>
        </li>
        <li>
          <a class="govuk-link" href="#">South Tyneside</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Sunderland</a>
        </li>
      </ul>
    </div>

</div>

{% endblock %}
