
{% extends "layout.html" %}

{% block pageTitle %}
Newcastle upon Tyne | Local authority | Digital skills information service
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Newcastle upon Tyne local authority</li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
        Newcastle upon Tyne
      </h1>
      <span class="govuk-caption-xl govuk-!-margin-bottom-8">Local authority</span>
     
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      

      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
            <table class="govuk-table govuk-!-margin-bottom-2">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header">Most wanted digital skills</th>
                    <th class="govuk-table__header"></th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Javascript development</td>
                    <td class="govuk-table__cell">-</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">REACT</td>
                    <td class="govuk-table__cell"><div class="arrow-up"></div></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">User research</td>
                        <td class="govuk-table__cell"><div class="arrow-down"></div></td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell">HTML / CSS</td>
                      <td class="govuk-table__cell"><div class="arrow-up"></div></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Interaction Design</td>
                        <td class="govuk-table__cell"><div class="arrow-down"></div></td>
                      </tr>
                </tbody>
              </table>
            

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    How we worked this out
                  </span>
                </summary>
                <div class="govuk-details__text">
                 We use job data from Adzuna to look at what skills people are looking for. You can take also see <a href="">in depth skills data for Newcastle upon Tyne</a>.
                </div>
              </details>

            </div>

            <div class="govuk-grid-column-one-half">
              <table class="govuk-table  govuk-!-margin-bottom-2">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col">Largest employers</th>
                      <th class="govuk-table__header" scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Her Majesty's Revenue and Customs</td>
                      <td class="govuk-table__cell"><div class="arrow-up"></div></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">National Health Service</td>
                      <td class="govuk-table__cell"><div class="arrow-down"></div></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Sage ltd</td>
                      <td class="govuk-table__cell"><div class="arrow-up"></div></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">Virgin Money</td>
                        <td class="govuk-table__cell"><div class="arrow-down"></div></td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell" scope="row">RIBA Enterprises ltd</td>
                          <td class="govuk-table__cell"><div class="arrow-up"></div></td>
                        </tr>
                  </tbody>
                </table>
              
  
              <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      How we worked this out
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    We use data from HMRC to establish who are the largest employers in each area. You can take also see <a href="">in depth employer data for Newcastle upon Tyne</a>.
                  </div>
                </details>
  
              </div>
              </div>

    </div>

    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m section-border-top">
            This area is part of
          </h3>

          <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="#">England</a>
              </li>
              <li>
                <a class="govuk-link" href="#">North East region</a>
              </li>
              <li>
                  <a class="govuk-link" href="lep-north-east.html">North East local enterprise partnership</a>
                </li>
            </ul>

      <h3 class="govuk-heading-m section-border-top">
        Authorities in the North East local enterprise partnership
      </h3>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Durham</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Gateshead</a>
        </li>
        <li>Newcastle upon Tyne</li>
        <li>
          <a class="govuk-link" href="#">North Tyneside</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Northumberland</a>
        </li>
        <li>
          <a class="govuk-link" href="#">South Tyneside</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Sunderland</a>
        </li>
      </ul>
    </div>

</div>

{% endblock %}
