
{% extends "layout.html" %}

{% block pageTitle %}
  North East | Local enterprise partnership | Digital skills information service
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
        North East
      </h1>
      <span class="govuk-caption-xl govuk-!-margin-bottom-8">Local enterprise partnership</span>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-5">
            <div class="govuk-panel__body">
            Demand for <strong>Javascript development</strong> is <strong>higher than the national average</strong> and is <strong>growing</strong>.
          </div>
          <a href="#" class="govuk-!-margin-top-4">Show digital skills demand in the North East</a>
          </div>

        <div class="govuk-grid-row  govuk-!-margin-bottom-6">
            <div class="govuk-grid-column-one-half">
                <div class="headline-stat-box section-border-top">
                    <span class="title"><a href="#">Employment rate</a></span>
                    <span class="figure">83%</span>
                    <div class="detail govuk-body-s">
                      <span class="date-range">August 2018</span>
                      <span class="increase">0.17%</span> <span class="prior-date-range">August 2017</span>
                    </div>
                </div>
            </div>
          <div class="govuk-grid-column-one-half">
              <div class="headline-stat-box section-border-top">
                  <span class="title"><a href="lep-north-east-gva.html">Gross value added (GVA)</a></span>
                  <span class="figure">£4,172,309</span>
                  <div class="detail govuk-body-s">
                    <span class="date-range">Oct 2017 to Sep 2018</span>
                    <span class="increase">2.1%</span> <span class="prior-date-range">Oct 2016 to Sep 2017</span>
                  </div>
              </div>
          </div>
        </div>

        <h2 class="govuk-heading-m section-border-top">Demand for digital skills across the North East LEP is highest in Newcastle upon Tyne</h2>
        <img src="../../public/images/ne-lep-barcode.png" class="full-width-image govuk-!-margin-bottom-3"/>

        
        <h2 class="govuk-heading-m section-border-top">Digital skills in greatest demand in the North East</h2>

        <table class="govuk-table  govuk-!-margin-bottom-5">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Digital Skill</th>
              <th class="govuk-table__header govuk-table__header" scope="col">Trend</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Javascript development</th>
              <td class="govuk-table__cell govuk-table__cell"><a href="#">Growing</a> <div class="arrow-up"></div></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">REACT</th>
              <td class="govuk-table__cell govuk-table__cell"><a href="la-newcastle-javascript.html">Steady</a> <div class="steady-square"></div></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">User research</th>
              <td class="govuk-table__cell govuk-table__cell"><a href="#">Growing</a> <div class="arrow-up"></div></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Cobol</th>
              <td class="govuk-table__cell govuk-table__cell"><a href="#">Falling</a> <div class="arrow-down"></div></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Digital security</th>
              <td class="govuk-table__cell govuk-table__cell"><a href="#">Steady</a> <div class="steady-square"></div></td>
            </tr>
          </tbody>
        </table>

  
        <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                  Data may not be an exact match to local enterprise partnership boundaries
              </span>
            </summary>
            <div class="govuk-details__text">
              This data uses jobs information from Adzuna to understand what skills people are looking for. The data is collected based on the location specified in the job advert. Because of this we cannot guarantee an exact match with the boundaries of the local enterprise partnership. We estimate that the degree of accuracy is 96%.
            </div>
          </details>

    </div>

    <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-m section-border-top">
            Find specific data
          </h2>

          <form method="post" class="form">

              <div class="govuk-form-group govuk-!-margin-bottom-4">
                  <div id="autocomplete"></div>
                </div>
      
              <button class="govuk-button">Continue</button>
      
          </form>

      <h3 class="govuk-heading-m section-border-top">
        Authorities in this area
      </h3>

      <!-- <div id="map"></div>

        <script type="text/javascript" src="../../public/javascripts/leaflet/leaflet.js"></script>
        <script type="text/javascript" src="../../public/javascripts/NE_LEP_LA_boundaries_WGS84.js"></script>
        <script type="text/javascript">
          var map = L.map('map', {
            //center: [55.10, -2.01],
            //zoom: 9,
            zoomControl:false,
            scrollWheelZoom:false,
            doubleClickZoom:false,
            touchZoom:false,
            dragging:false
          });
  
          var geoJsonData = L.geoJSON(data, {
            onEachFeature: onEachFeature,
            style:style,
            smoothFactor:0
          });
  
          map.fitBounds(geoJsonData.getBounds());
  
          geoJsonData.addTo(map);
  
          function style(feature) {
              return {
                  fillColor: '#cccccc',
                  weight: 1,
                  opacity: 1,
                  color: '#333',
                  //dashArray: '3',
                  fillOpacity: 1.0
              };
          }
  
          function highlightFeature(e) {
              var layer = e.target;
  
              layer.setStyle({
                  weight: 1,
                  color: '#666',
                  dashArray: '',
                  fillOpacity: 0.7
              });
  
              if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                  layer.bringToFront();
              }
          }
  
          function resetHighlight(e) {
            geoJsonData.resetStyle(e.target);
          }
  
          function featureSelect(e) {
            alert("This would link to: " + e.target.feature.properties.lad16nm);
            //window.location.href = 'https://skillsrecommendation.dwpdata.info';
          }
  
  
          function onEachFeature(feature, layer) {
              layer.on({
                  mouseover: highlightFeature,
                  mouseout: resetHighlight,
                  click: featureSelect
              });
          }
  
          
          //, {
          //  style: function (feature) {
          //    return {color: feature.properties.color};
          //  }
          //}).bindPopup(function (layer) {
          //  return layer.feature.properties.description;
          </script>

        -->

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Durham</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Gateshead</a>
        </li>
        <li>
          <a class="govuk-link" href="la-newcastle">Newcastle upon Tyne</a>
        </li>
        <li>
          <a class="govuk-link" href="#">North Tyneside</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Northumberland</a>
        </li>
        <li>
          <a class="govuk-link" href="#">South Tyneside</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Sunderland</a>
        </li>
      </ul>
    </div>

</div>

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  
  const dataitems = [
  'GVA by industry sector',
  'Digital skills demand by industry sector',
  'Courses offered locally'
]

accessibleAutocomplete({
  element: document.querySelector('#autocomplete'),
  displayMenu: 'overlay',
  showAllValues: true,
  id: 'autocomplete', // To match it to the existing <label>.
  source: dataitems
})


</script>

{% endblock %}