
{% extends "layout.html" %}

{% block pageTitle %}
  Churchill | Find data about a local area
{% endblock %}

{% block content %}

<div class="top-alignment-correct">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
        beta
      </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your
            <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>

      {{ govukBackLink({
        text: "Back",
        href: "where-1.html"
      }) }}
   </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Find data about a local area</span>     
      <h1 class="govuk-heading-xl">Where to measure data for</h1>    

    </div>
    <div class="govuk-grid-column-two-thirds">
      
      {{ govukSelect({
        id: "where",
        name: "where",
        label: {
          text: "What local authority would you like to measure data for?"
        },
        items: [
          {
            value: "aberdeen-city",
            text: "Aberdeen City"
          },
          {
            value: "aberdeenshire",
            text: "Aberdeenshire"
          },
          {
            value: "adur",
            text: "Adur"
          },
          {
            value: "allerdale",
            text: "Allerdale"
          },
          {
            value: "amber-valley",
            text: "Amber Valley"
          },
          {
            value: "angus",
            text: "Angus"
          }
        ]
      }) }}
      <p class="link-beneath-select"><a href="where-map-loop.html">You can also choose areas from a map</a></p>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "add-more-areas",
        name: "add-more-areas",
        fieldset: {
          legend: {
            text: "Would you like to compare this to another area?"
          }
        },
        hint: {
          text: "You can select up to ten areas to compare."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        href: "what.html"
      }) }}

    </div>
    <div class="govuk-grid-column-one-third">
        {{ govukTable({
          classes: "govuk-!-margin-bottom-2",
          caption: "Where you've chosen",
          captionClasses: "govuk-heading-m",
          rows: [
            [
              {
                html: "<div class=\"key-cube\" style=\"background-color:#F47738;\"></div>Aberdeen City"
              },
              {
                html: "<a href=\"#\" class=\"right\">Remove</a>"
              }
            
            ]
          ]
        }) }}
        <p class="govuk-!-margin-bottom-7"><a href="#" class="govuk-!-margin-bottom-6">Add another area</a></p>
        
    </div>
</div>

{% endblock %}
