
{% extends "layout-wide.html" %}

{% block pageTitle %}
  Churchill | Find data about a local area
{% endblock %}

{% block content %}
</div>
<div class="govuk-extra-width-container">

<div class="top-alignment-correct">
  <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
      beta
    </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your
          <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>

    <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="churchill-where.html" id="where-link">Where you're looking at</a>
          </li>
      
          <li>
            <a href="churchill-what.html" id="what-link">What you're measuring</a>
          </li>
      
          <li>
            <a href="churchill-when.html" aria-current="section" class="active" id="when-link">When you're measuring</a>
          </li>
  
          <li>
            <a href="churchill-main.html" id="where-link">Your data</a>
          </li>
        </ul>
      </nav>

  </div>




<div class="govuk-width-container">

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            When you're measuring
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
<p class="govuk-body-l">You're measuring data for the period of <strong>May 2007</strong> to <strong>May 2017</strong>.</p>

        {% set rangeHtml %}
        {{ govukDateInput({
          id: "range-from",
          name: "range-from",
          fieldset: {
            legend: {
              text: "When would you like to measure from?"
            }
          },
          hint: {
            text: "For example, 3 1980"
          },
          items: [
            {
              name: "month"
            },
            {
              name: "year"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "range-to",
          name: "range-to",
          fieldset: {
            legend: {
              text: "When would you like to measure to?"
            }
          },
          hint: {
            text: "For example, 3 1980"
          },
          items: [
            
            {
              name: "month"
            },
            {
              name: "year"
            }
          ]
        }) }}
      {% endset -%}

      {% set snapshotHtml %}
          {{ govukDateInput({
            id: "snapshot-date",
            name: "snapshot-date",
            fieldset: {
              legend: {
                text: "What date would you like to view data for?"
              }
            },
            hint: {
              text: "For example, 3 1980"
            },
            items: [
              
              {
                name: "month"
              },
              {
                name: "year"
              }
            ]
          }) }}
      {% endset -%}

        
      {{ govukRadios({
        idPrefix: "when-choice",
        name: "when-choice",
        fieldset: {
          legend: {
            text: "When would you like to view data for?",
          classes: "govuk-label--m"
          }
        },
        items: [
          {
            value: "time-period",
            text: "Show data over a period of time",
            conditional: {
              html: rangeHtml
            }
          },
          {
            value: "specific-date",
            text: "Show data at a specific date",
            conditional: {
              html: snapshotHtml
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        href: "churchill-main.html"
      }) }}

      </div>

    <div class="govuk-grid-column-one-third">


    </div>
</div>

</div>

<script type="text/javascript" >
  document.getElementById('measure-select').addEventListener('change', function () {
      var style = this.value == 'carers-allowance' ? 'block' : 'none';
      document.getElementById('conditional-display').style.display = style;
  });
</script>

{% endblock %}
