
{% extends "layout-wide.html" %}

{% block pageTitle %}
  Churchill | Find data about a local area
{% endblock %}

{% block content %}
</div>
<div class="govuk-extra-width-container">

<div class="top-alignment-correct">
  <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
      beta
    </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your
          <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>

    <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="churchill-where.html" aria-current="section" class="active" id="where-link">Where you're looking at</a>
          </li>
      
          <li>
            <a href="churchill-what.html" id="what-link">What you're measuring</a>
          </li>
      
          <li>
            <a href="churchill-when.html" id="when-link">When you're measuring</a>
          </li>
  
          <li>
            <a href="churchill-main.html" id="where-link">Your data</a>
          </li>
        </ul>
      </nav>

  </div>




<div class="govuk-width-container">

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Where you're looking at
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
          <p>You chose to compare data for local authorities. You can also choose to <a href="where.html">view data from other types of area</a>.</p>

        {{ govukSelect({
          id: "where",
          name: "where",
          label: {
            text: "What local authority would you like to compare?",
            classes: "govuk-label--m"
          },
          items: [
            {
              value: "aberdeen-city",
              text: "Aberdeen City"
            },
            {
              value: "aberdeenshire",
              text: "Aberdeenshire"
            },
            {
              value: "adur",
              text: "Adur"
            },
            {
              value: "allerdale",
              text: "Allerdale"
            },
            {
              value: "amber-valley",
              text: "Amber Valley"
            },
            {
              value: "angus",
              text: "Angus"
            }
          ]
        }) }}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "add-more-areas",
        name: "add-more-areas",
        fieldset: {
          legend: {
            text: "Would you like to add another area to this comparison?",
            classes: "govuk-label--m"
          }
        },
        hint: {
          text: "You can select up to ten areas to compare."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      <a href="#" class="govuk-button" id="continue-button">
          Continue
        </a>
      
        <script type="text/javascript">
          document.getElementById("add-more-areas-1").onclick = function () {
            document.getElementById("continue-button").href="churchill-where.html"; 
          }
      
          document.getElementById("add-more-areas-2").onclick = function() {
            document.getElementById("continue-button").href="churchill-main.html"; 
          };
      </script>

      </div>

    <div class="govuk-grid-column-one-third">
        {{ govukTable({
          classes: "govuk-!-margin-bottom-2",
          caption: "Where you've chosen",
          captionClasses: "govuk-heading-m",
          rows: [
            [
              {
                html: "<div class=\"key-cube\" style=\"background-color:#F47738;\"></div>Aberdeen City"
              },
              {
                html: "<a href=\"#\" class=\"right\">Remove</a>"
              }
            ],
            [
              {
                html: "<div class=\"key-cube\" style=\"background-color:#27A197;\"></div>Camden"
              },
              {
                html: "<a href=\"#\" class=\"right\">Remove</a>"
              }
            ],
            [
              {
                html: "<div class=\"key-cube\" style=\"background-color:#FFBF47;\"></div>South Tyneside"
              },
              {
                html: "<a href=\"#\" class=\"right\">Remove</a>"
              }
            ]
          ]
        }) }}

    </div>
</div>

</div>

<script type="text/javascript" >
  document.getElementById('measure-select').addEventListener('change', function () {
      var style = this.value == 'carers-allowance' ? 'block' : 'none';
      document.getElementById('conditional-display').style.display = style;
  });
</script>

{% endblock %}
