
{% extends "layout.html" %}

{% block pageTitle %}
Newcastle upon Tyne | Local authority | Digital skills information service
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Newcastle upon Tyne local authority</li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
        Newcastle upon Tyne
      </h1>
      <span class="govuk-caption-xl govuk-!-margin-bottom-8">Local authority</span>
     
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
 Content
              </div>

    </div>

    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m section-border-top">
            This area is part of
          </h3>

          <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="#">England</a>
              </li>
              <li>
                <a class="govuk-link" href="#">North East region</a>
              </li>
              <li>
                  <a class="govuk-link" href="lep-north-east.html">North East local enterprise partnership</a>
                </li>
            </ul>

      <h3 class="govuk-heading-m section-border-top">
        Authorities in the North East local enterprise partnership
      </h3>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Durham</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Gateshead</a>
        </li>
        <li>Newcastle upon Tyne</li>
        <li>
          <a class="govuk-link" href="#">North Tyneside</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Northumberland</a>
        </li>
        <li>
          <a class="govuk-link" href="#">South Tyneside</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Sunderland</a>
        </li>
      </ul>
    </div>

</div>

{% endblock %}
