
{% extends "layout.html" %}

{% block pageTitle %}
  Examine a place | GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="lep-north-east.html">North East local enterprise partnership</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Javascript</li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Javascript
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row  govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-third">
          <div class="headline-stat-box section-border-top">
              <span class="title">Demand</span>
              <span class="figure">Very high</span>
              <div class="detail govuk-body-s">
                <span class="date-range">August 2018</span>
                <span class="increase">1.32%</span> <span class="prior-date-range">August 2017</span>
              </div>
          </div>
      </div>
      <div class="govuk-grid-column-one-third">
          <div class="headline-stat-box section-border-top">
              <span class="title">Salary range</span>
              <span class="figure">£30,000 - £50,000</span>
              <div class="detail govuk-body-s">
                <span class="date-range">August 2018</span>
                <span class="increase">0.17%</span> <span class="prior-date-range">August 2017</span>
              </div>
          </div>
      </div>
      <div class="govuk-grid-column-one-third">
          <div class="headline-stat-box section-border-top">
              <span class="title">Transferability</span>
              <span class="figure">Highly specialised</span>
              <div class="detail govuk-body-s">
                Very specific to roles that need it
              </div>
          </div>
      </div>
  </div>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full section-border-top">
      <div class="govuk-grid-column-three-quarters">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Demand in the North East is very high with steady growth</h2>
          <p class="govuk-body-s">Number of vacancies requiring Javascript each month</p>
        </div>
  </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-three-quarters">
          <img src="../../public/images/steady-line-gds.png" class="full-width-image govuk-!-margin-bottom-3"/>
          <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  How we worked this out
                </span>
              </summary>
              <div class="govuk-details__text">
                We use data from Adzuna to analyse the number of vacancies in each area. Demand is based upon the percentage of jobs requiring this skill in comparison to other skills.
              </div>
            </details>
      </div>
      <div class="govuk-grid-column-one-quarter">
          <div class="volumetrics-completion-selected">
              <span class="summary">November 2018</span>
              <strong>92</strong>
              <p>(from 1,834 adverts)</p>
            </div>
      </div>
  </div>

  <div class="govuk-grid-row section-border-top">
      <div class="govuk-grid-column-full">
      <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Related Jobs and skills</h2>
        </div>
      </div>
      </div>

  <div class="govuk-grid-row  govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-half">
          <table class="govuk-table  govuk-!-margin-bottom-2">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Jobs requiring this skill</th>
                  <th class="govuk-table__header" scope="col"></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Javascript developer</td>
                  <td class="govuk-table__cell"><div class="arrow-up"></div></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Frontend Javascript developer</td>
                  <td class="govuk-table__cell"><div class="arrow-down"></div></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Javascript developer Nodejs </td>
                  <td class="govuk-table__cell"><div class="steady-square"></div></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Angular developer</td>
                    <td class="govuk-table__cell"><div class="arrow-down"></div></td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Full stack developer</td>
                      <td class="govuk-table__cell"><div class="arrow-up"></div></td>
                    </tr>
              </tbody>
            </table>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    How we worked this out
                  </span>
                </summary>
                <div class="govuk-details__text">
                  We use data from Adzuna to search which jobs feature this as a skill
                </div>
              </details>
      </div>
      <div class="govuk-grid-column-one-half">
          <table class="govuk-table  govuk-!-margin-bottom-2">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Related skills</th>
                  <th class="govuk-table__header" scope="col"></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">CSS</td>
                  <td class="govuk-table__cell"><div class="steady-square"></div></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">jQuery</td>
                  <td class="govuk-table__cell"><div class="arrow-down"></div></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">C#</td>
                  <td class="govuk-table__cell"><div class="arrow-up"></div></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">Front end</td>
                    <td class="govuk-table__cell"><div class="arrow-down"></div></td>
                  </tr>
                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">HTML 5</td>
                      <td class="govuk-table__cell"><div class="arrow-up"></div></td>
                    </tr>
              </tbody>
            </table>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    How we worked this out
                  </span>
                </summary>
                <div class="govuk-details__text">
                  We use data from Adzuna to analyse the number of vacancies in each area. Demand is based upon the percentage of jobs requiring this skill in comparison to other skills.
                </div>
              </details>
      </div>

      </div>

</div>

{% endblock %}

{% block pageScripts %}



{% endblock %}