
{% extends "layout.html" %}

{% block pageTitle %}
  Examine a place | GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Local enterprise partnerships</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        North East
      </h1>
    </div>
  </div>


  <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-third">
          <div class="volumetrics-completion-selected section-border-top">
              <span class="summary">Population</span>
              <strong>1,273,406</strong>
          </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="volumetrics-completion-selected section-border-top">
            <span class="summary">Unemployment</span>
            <strong>3.6%</strong>
        </div>
    </div>
      <div class="govuk-grid-column-one-third">
          <div class="volumetrics-completion-selected section-border-top">
              <span class="summary">People in further education</span>
              <strong>2.1%</strong>
          </div>
     </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m section-border-top">Skills in greatest demand in the North East</h2>

      <table class="govuk-table  govuk-!-margin-bottom-2">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Skill</th>
            <th class="govuk-table__header govuk-table__header" scope="col">Area</th>
            <th class="govuk-table__header govuk-table__header" scope="col">Trend</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">REACT</th>
            <td class="govuk-table__cell govuk-table__cell">Sunderland</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="#">Growing</a> <div class="arrow-up"></div></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Javascript development</th>
            <td class="govuk-table__cell govuk-table__cell">Newcastle upon Tyne</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="la-newcastle-javascript.html">Steady</a> <div class="steady-square"></div></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">User research</th>
            <td class="govuk-table__cell govuk-table__cell">South Tyneside</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="#">Growing</a> <div class="arrow-up"></div></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Cobol</th>
            <td class="govuk-table__cell govuk-table__cell">North Tyneside</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="#">Falling</a> <div class="arrow-down"></div></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Digital security</th>
            <td class="govuk-table__cell govuk-table__cell">Sunderland</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="#">Steady</a> <div class="steady-square"></div></td>
          </tr>
        </tbody>
      </table>

      <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How we worked this out
            </span>
          </summary>
          <div class="govuk-details__text">
            We use job data from Adzuna to understand what skills people are looking for.
          </div>
        </details>

        <h2 class="govuk-heading-m">Largest employers in the North East</h2>

      <table class="govuk-table  govuk-!-margin-bottom-2">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Employer</th>
            <th class="govuk-table__header govuk-table__header" scope="col">Staff</th>
            <th class="govuk-table__header govuk-table__header" scope="col">Trend</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">National Health Service</th>
            <td class="govuk-table__cell govuk-table__cell">13,491</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="la-newcastle-javascript.html">Steady</a> <div class="steady-square"></div></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Her Majesty's Revenue and Customs</th>
            <td class="govuk-table__cell govuk-table__cell">8,918</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="la-newcastle-javascript.html">Steady</a> <div class="steady-square"></div></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Nissan</th>
            <td class="govuk-table__cell govuk-table__cell">8,715</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="#">Falling</a> <div class="arrow-down"></div></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Sage Ltd</th>
            <td class="govuk-table__cell govuk-table__cell">6,513</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="#">Growing</a> <div class="arrow-up"></div></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Department for Work and Pensions</th>
            <td class="govuk-table__cell govuk-table__cell">3,621</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="#">Growing</a> <div class="arrow-up"></div></td>
          </tr>
        </tbody>
      </table>

      <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How we worked this out
            </span>
          </summary>
          <div class="govuk-details__text">
            We use employment data from HMRC to find out who the biggest employers are. This data is updated monthly and there is a margin of error of 2%.
          </div>
        </details>

    </div>

    <div class="govuk-grid-column-one-third">

      <h3 class="govuk-heading-s section-border-top">
        Authorities in this area
      </h3>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Durham</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Gateshead</a>
        </li>
        <li>
          <a class="govuk-link" href="la-newcastle">Newcastle upon Tyne</a>
        </li>
        <li>
          <a class="govuk-link" href="#">North Tyneside</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Northumberland</a>
        </li>
        <li>
          <a class="govuk-link" href="#">South Tyneside</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Sunderland</a>
        </li>
      </ul>
    </div>

</div>

{% endblock %}
