
{% extends "layout.html" %}

{% block pageTitle %}
  Churchill | Find data about a local area
{% endblock %}

{% block content %}

<div class="top-alignment-correct">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
        beta
      </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your
            <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>

      {{ govukBackLink({
        text: "Back",
        href: "where-1.html"
      }) }}
   </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
   
      <h1 class="govuk-heading-xl">Where to measure data for</h1>    

    </div>
    <div class="govuk-grid-column-two-thirds">
      
        {% include "version-0-7/local-authority-select.html" %}
      <p class="link-beneath-select"><a href="where-map-loop.html">You can also choose areas from a map</a></p>


      <a href="churchill-main.html" class="govuk-button" id="continue-button">
          Continue
        </a>
      


    </div>
    <div class="govuk-grid-column-one-third">
        {{ govukTable({
          classes: "govuk-!-margin-bottom-2",
          caption: "Where you've chosen",
          captionClasses: "govuk-heading-m",
          rows: [
            [
              {
                html: "<div class=\"key-cube\" style=\"background-color:#F47738;\"></div>Aberdeen City"
              },
              {
                html: "<a href=\"#\" class=\"right\">Remove</a>"
              }
            
            ]
          ]
        }) }}
        
    </div>
</div>

{% endblock %}
