
{% extends "layout.html" %}

{% block pageTitle %}
  Churchill | Find data about a local area
{% endblock %}

{% block content %}

<div class="top-alignment-correct">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
        beta
      </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your
            <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>

      {{ govukBackLink({
        text: "Back",
        href: "where-1.html"
      }) }}
   </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
 
      <h1 class="govuk-heading-xl">Where to measure data for</h1>    

    </div>
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" class="form">

      {% include "version-0-7/local-authority-select-2.html" %}
      <p class="link-beneath-select"><a href="where-map-loop.html">You can also choose areas from a map</a></p>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "add-more-areas",
        name: "add-more-areas",
        fieldset: {
          legend: {
            text: "Would you like to compare this to another area?",
            classes: "govuk-label--m"
          }
        },
        hint: {
          text: "You can select up to ten areas to compare."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      <button class="govuk-button">Continue</button>

      </form>


    </div>
    <div class="govuk-grid-column-one-third">
        
        <table class="govuk-table govuk-!-margin-bottom-2">
            <caption class="govuk-table__caption govuk-heading-m">Where you&#39;ve chosen</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><div class="key-cube" style="background-color:#F47738;"></div>{{ data['where'] }}</td>
                <td class="govuk-table__cell "><a href="#" class="right">Remove</a></td>
              </tr>
            </tbody>
          </table>
      
      
        
    </div>
</div>

{% endblock %}
