
{% extends "layout.html" %}

{% block pageTitle %}
Manhattan
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="search">Home</a>
        </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Employers in Newcastle upon Tyne</li>
    </ol>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
        Newcastle upon Tyne
      </h1>
      <span class="govuk-caption-xl govuk-!-margin-bottom-8">Local authority district in North East England</span>

    </div>
    <div class="govuk-grid-column-one-third">
        
    </div>
  </div>



  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
            <p class="govuk-!-margin-bottom-4">Based on PAYE data from HMRC, the average salary in this area is roughly <strong>£21,000</strong>, which is <strong>below the national average</strong> of £23,300 – by £2,300.</p>
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View the neighbours of Newcastle upon Tyne
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>Newcastle upon Tyne is neighboured by the following areas, within 1km of its borders.</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li><a href="#">South Tyneside</a></li>
                  <li><a href="#">Northumberland</a></li>
                  <li><a href="#">North Tyneside</a></li>
                  <li><a href="#">Gateshead</a></li>
                  </ul>
              </div>
            </details>

            <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Employer size and salaries in Newcastle upon Tyne</h2>
          </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-5">
        <div class="govuk-grid-column-one-third">
      
            <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                    Select a sector
                  </label>
                  <select class="govuk-select" id="sort" name="sort">
                    <option value="all" selected>Select a sector</option>
                    <option>01110 - Growing of cereals (except rice), leguminous crops and oil seeds</option>
                    <option>01130 - Growing of vegetable and melons, roots and tubers</option>
                    <option>Business Analysis</option>
                    <option>Catering and Hospitality</option>
                    <option>Construction</option>
                    <option>Data Security and Governance</option>
                    <option>Electronics</option>
                    <option>Engineering and Design</option>
                    <option>Graphic Design</option>
                    <option>IT Hardware and Networks</option>
                    <option>Law</option>
                    <option>Management and Strategy</option>
                    <option>Marketing</option>
                    <option>Nursing and Healthcare</option>
                    <option>Sales</option>
                    <option>Science and Pharmaceuticals</option>
                    <option>Teaching and Classroom</option>
                    <option>Utilities and Maintenance</option>
                    <option>Web and Software Development</option>
                  </select>
            </div>
    
      </div>
      <div class="govuk-grid-column-one-third">
      
          <form class="form" action="lep-ne-gva.html">
              <div class="govuk-form-group">
                  <label class="govuk-label" for="sort">
                      Search for an employer
                    </label>
                  <div id="autocomplete"></div>
              </div>
              
      
          </form>
      </div>
  
      <div class="govuk-grid-column-one-third">
  
        <form class="form" action="lep-ne-gva.html">
            <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                    Select an employer extent
                  </label>
                  <select class="govuk-select" id="sort" name="sort">
                    <option value="all" selected>Select an extent...</option>
                    <option value="digital">Local</option>
                    <option value="Low">Regional</option>
                    <option value="Low">National</option>
                  </select>
            </div>
            
    
        </form>
      </div>
  
     
  
    </div>
 
    <div class="govuk-tabs" data-module="tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
      
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#chart">
              Chart
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#table">
              Table of data
            </a>
          </li>
        </ul>
      
        <section class="govuk-tabs__panel" id="chart">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <span class="govuk-hint">Click a point to view facts about an employer and the distribution of its employees. Hover over a point to see more details about the employer below the scatter plot.</span>
            </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
          <img src="../../public/images/manhattan-scatter.jpg" class="full-width-image  govuk-!-margin-bottom-4"/>
        </div>
      </div>
      <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <div class="govuk-grid-column-two-thirds">
            <strong>Employer:</strong> <a href="emp-bgw"><strong>BROADSTREET GREAT WILSON (EUROPE)</strong></a>
          </div>
      </div>
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-heading-s">
              <strong>Employees:</strong>
            </div>
            <div class="govuk-body-s label extra-annotation-emp">
              <span class="figure-emp">804</span>
              <div class="explainer">This is the <strong>9th</strong> largest employer in this area, and the <strong>5th</strong> largest in the region.</div>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
              <div class="govuk-heading-s">
                  <strong>Average salary:</strong>
                </div>
                <div class="govuk-body-s label extra-annotation-emp">
                  <span class="figure-emp">£10,461</span>
                  <div class="explainer">This is <strong>below</strong> the average salary in this area, and <strong>below</strong> the average salary for this company nationwide.</div>
                </div>
              </div>
          <div class="govuk-grid-column-one-half">
              <div class="govuk-heading-s">
                  <strong>Employer info:</strong>
                </div>
                <div class="govuk-body-s label extra-annotation-emp">
                  <div class="explainer">This is a <strong>national</strong> employer, and has a presence of at least five employees in <strong>376</strong> local authorities.</br>This employer operates mainly in the <strong>Retail sale in non-specialised stores with food, beverages or tobacco predominating</strong> sector.<br>The number of employees living in this area that work for this employer is <strong>increasing</strong> over time.
                  </div>
                </div>
          </div>
      </div>


  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="table">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-3">Table of data</h3>
      </div>
      </div>

      <table id="full-table" class="govuk-table sort-filter-table sortable responsive-table govuk-!-margin-bottom-5">

          <thead class="govuk-table__head">

                       <tr class="govuk-table__row">

                       <th class="govuk-table__header" scope="col"><span class="th-sort-link">Employer</span></th>

                       <th class="govuk-table__header" scope="col"><span class="th-sort-link">Rank by size</span></th>

                       <th class="govuk-table__header" scope="col"><span class="th-sort-link">Number of employees</span></th>

                       <th class="govuk-table__header" scope="col"><span class="th-sort-link">Salary median</span></th>

                       <th class="govuk-table__header" scope="col"><span class="th-sort-link">Extent</span></th>

                       <th class="govuk-table__header" scope="col"><span class="th-sort-link">Sector</span></th>

                       </tr>

          </thead>

          <tbody class="govuk-table__body">

      <tr class="govuk-table__row">

          <td class="govuk-table__header" scope="row" sorttable_customkey="JOHN LEWIS PARTNERSHIP PLC INC ALL"><span aria-hidden="true" class="show-with-responsive-table">Employer: </span><a href="/employer?name=JOHN LEWIS PARTNERSHIP PLC INC ALL">JOHN LEWIS PARTNERSHIP PLC INC ALL</a></td>

          <td class="govuk-table__cell" sorttable_customkey="37"><span aria-hidden="true" class="show-with-responsive-table">Rank by size: </span>38th</td>

          <td class="govuk-table__cell" sorttable_customkey="339"><span aria-hidden="true" class="show-with-responsive-table">Number of employees: </span>339</td>

          <td class="govuk-table__cell" sorttable_customkey="15066.0"><span aria-hidden="true" class="show-with-responsive-table">Salary median: </span>£15,066</td>

          <td class="govuk-table__cell" sorttable_customkey="5.383310195135876"><span aria-hidden="true" class="show-with-responsive-table">Extent: </span>national</td>

          <td class="govuk-table__cell" sorttable_customkey="47110"><span aria-hidden="true" class="show-with-responsive-table">Sector: </span>Retail sale in non-specialised stores with food, beverages or tobacco predominating</td>

</tr>



<tr class="govuk-table__row">

          <td class="govuk-table__header" scope="row" sorttable_customkey="COMPASS CONTRACT SERVICES UK LTD"><span aria-hidden="true" class="show-with-responsive-table">Employer: </span><a href="/employer?name=COMPASS CONTRACT SERVICES UK LTD">COMPASS CONTRACT SERVICES UK LTD</a></td>

          <td class="govuk-table__cell" sorttable_customkey="38"><span aria-hidden="true" class="show-with-responsive-table">Rank by size: </span>39th</td>

          <td class="govuk-table__cell" sorttable_customkey="323"><span aria-hidden="true" class="show-with-responsive-table">Number of employees: </span>323</td>

          <td class="govuk-table__cell" sorttable_customkey="11181.0"><span aria-hidden="true" class="show-with-responsive-table">Salary median: </span>£11,181</td>

          <td class="govuk-table__cell" sorttable_customkey="5.478625473172648"><span aria-hidden="true" class="show-with-responsive-table">Extent: </span>national</td>

          <td class="govuk-table__cell" sorttable_customkey="56290"><span aria-hidden="true" class="show-with-responsive-table">Sector: </span>Other food service activities</td>

</tr>



<tr class="govuk-table__row">

          <td class="govuk-table__header" scope="row" sorttable_customkey="PROCTER &amp; GAMBLE LTD INC VAT GRP,"><span aria-hidden="true" class="show-with-responsive-table">Employer: </span><a href="/employer?name=PROCTER &amp; GAMBLE LTD INC VAT GRP,">PROCTER &amp; GAMBLE LTD INC VAT GRP,</a></td>

          <td class="govuk-table__cell" sorttable_customkey="39"><span aria-hidden="true" class="show-with-responsive-table">Rank by size: </span>39th</td>

          <td class="govuk-table__cell" sorttable_customkey="323"><span aria-hidden="true" class="show-with-responsive-table">Number of employees: </span>323</td>

          <td class="govuk-table__cell" sorttable_customkey="50418.0"><span aria-hidden="true" class="show-with-responsive-table">Salary median: </span>£50,418</td>

          <td class="govuk-table__cell" sorttable_customkey="3.674017227037062"><span aria-hidden="true" class="show-with-responsive-table">Extent: </span>national</td>

          <td class="govuk-table__cell" sorttable_customkey="20420"><span aria-hidden="true" class="show-with-responsive-table">Sector: </span>Manufacture of perfumes and toilet preparations</td>

</tr>



<tr class="govuk-table__row">

          <td class="govuk-table__header" scope="row" sorttable_customkey="MITCHELLS &amp; BUTLERS PLC INCL ALL"><span aria-hidden="true" class="show-with-responsive-table">Employer: </span><a href="/employer?name=MITCHELLS &amp; BUTLERS PLC INCL ALL">MITCHELLS &amp; BUTLERS PLC INCL ALL</a></td>

          <td class="govuk-table__cell" sorttable_customkey="40"><span aria-hidden="true" class="show-with-responsive-table">Rank by size: </span>41st</td>

          <td class="govuk-table__cell" sorttable_customkey="310"><span aria-hidden="true" class="show-with-responsive-table">Number of employees: </span>310</td>

          <td class="govuk-table__cell" sorttable_customkey="13540.0"><span aria-hidden="true" class="show-with-responsive-table">Salary median: </span>£13,540</td>

          <td class="govuk-table__cell" sorttable_customkey="5.491888327330441"><span aria-hidden="true" class="show-with-responsive-table">Extent: </span>national</td>

          <td class="govuk-table__cell" sorttable_customkey="56302"><span aria-hidden="true" class="show-with-responsive-table">Sector: </span>Beverage serving activities</td>

</tr>
      </tbody>
    </table>

  </section>
</div>



      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">About this data</h2>
                  <p>We work out this information by analysing HMRC Pay As You Earn (PAYE) data. Read more about our technical approach, and our data sources, on the <a href="methodology">methodology page</a>. </p>
              </div>
        </div>

    </div>

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  
  const dataitems = [
  'BROADSTREET GREAT WILSON (EUROPE)',
  'WHITBREAD GRP PLC INCL WHITBREAD',
  'BRITISH UNITED PROVIDENT',
  'GREENE KING PLC INCL BREWING',
  'BRITISH AIRWAYS PLC INCL BRITISH',
  'BROOK STREET (UK) LTD INCL BAFIN'
]

accessibleAutocomplete({
  element: document.querySelector('#autocomplete'),
  displayMenu: 'overlay',
  id: 'autocomplete', // To match it to the existing <label>.
  source: dataitems
})


</script>


<script type="text/javascript" src="../../public/javascripts/sorttable.js"></script>

{% endblock %}