
{% extends "layout.html" %}

{% block pageTitle %}
Find data on employers
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <div class="govuk-grid-row govuk-!-margin-top-7">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Sign in
      </h1>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Access to the prototype is logged for audit and reference purposes. Do not attempt to access this prototype unluess you have been given explicit approval.
        </strong>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="username">
          Username
        </label>
        <input class="govuk-input" id="username" name="username" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="password">
          Password
        </label>
        <input class="govuk-input" id="password" name="password" type="password">
      </div>

      <div class="govuk-form-group">
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="remember-me" name="remember-me" type="checkbox" value="remember-me">
          <label class="govuk-label govuk-checkboxes__label" for="remember-me">
            Remember me
          </label> </div>
        </div>
      </div>

     

      {{ govukButton({
        text: "Sign in",
        href: "start-page"
    }) }}


    </div>
</div>
</div>

{% endblock %}

{% block pageScripts %}



{% endblock %}