
{% extends "layout.html" %}

{% block pageTitle %}
Alternative claimant count | North East | Local enterprise partnership | Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="where.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="lep-ne.html">North East</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Alternative claimant count</li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
            Alternative claimant count in the North East
      </h1>
    </div>

  </div>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  <p class="govuk-body-l govuk-!-margin-bottom-3">Official experimental statistics on the number of people claiming unemployment related benefits.</p>
  <p class="last-update govuk-!-margin-bottom-6">This data was last updated in August 2018.</p>
</div>
<div class="govuk-grid-column-one-third">
</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Filter this data</h2>
    </div>
</div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4">

          <div class="govuk-grid-column-one-third">
              <div class="govuk-form-group  govuk-!-margin-bottom-1">
                  <label class="govuk-label" for="sectors">
                      Benefit component
                    </label>
                    <select class="govuk-select" id="sectors" name="sectors">
                      <option value="all" selected>All</option>
                      <option>Job seekers' allowance</option>
                      <option>Housing benefit</option>
                      <option>Universal credit</option>
                    </select>
              </div>
        </div>
  
    </div>




  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <hr>
          </div>
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Alternative claimant count in the North East is lower than the national average and is declining slowly</h2>
        </div>
    </div>
 
  <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-three-quarters">
          <img src="../../public/images/lines-acc.png" class="full-width-image govuk-!-margin-bottom-3"/>
      </div>
      <div class="govuk-grid-column-one-quarter">
          <div class="chart-annotation">
              <span class="summary">January 2019</span>
              <p class="govuk-body-s label primary-line">North East</p>
              <strong>6.1%</strong>
              <p class="govuk-body-s label average-line">Nationwide</p>
              <strong>6.2%</strong>
              <p class="govuk-body-s label extra-annotation">Claimant count <span class="figure">17,321</span></p>
            </div>
      </div>
  </div>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <hr>
          </div>
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Alternative claimant count in the North East is highest in Durham</h2>
          </div>

    </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-three-quarters">
          <img src="../../public/images/ne-dist-acc.png" class="full-width-image govuk-!-margin-bottom-3"/>
      </div>
      <div class="govuk-grid-column-one-quarter">
          <div class="volumetrics-completion-selected">
              <span class="summary">Durham</span>
              <strong>7.1%</strong>
            </div>
      </div>
  </div>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr>
        </div>
      <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">About this data</h2>
            <p>This data was collected by the Office for National Statistics.</p>
            <p><a href="NOMIS">View the source data</a></p>
          </div>
        
    </div>
  


</div>

{% endblock %}

{% block pageScripts %}



{% endblock %}