
{% extends "layout.html" %}

{% block pageTitle %}
  Manhattan
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Home</li>
            </ol>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
                <p class="govuk-body  govuk-!-font-size-16 govuk-!-margin-top-2" align="right">Currently logged in as</br><strong>Pete Jobes</strong> - <a href='/logout'>Log out</a></p>
     </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            What would you like to find out about?
          </h1>
        </legend>
        
        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="place-1" name="how-contacted" type="radio" value="email" data-aria-controls="place-1">
            <label class="govuk-label govuk-radios__label" for="place-1">
              Employers in a local authority district
            </label> </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="employer-2" name="how-contacted" type="radio" value="phone" data-aria-controls="employer-2">
            <label class="govuk-label govuk-radios__label" for="employer-2">
              Facts about an employer and the distribution of its employees
            </label> </div>


        </div>

      </div>
      
        <div class="govuk-form-group">
          <a href="#" class="govuk-button" id="continue-button">
            Continue
          </a>
        
          <script type="text/javascript">
            document.getElementById("place-1").onclick = function () {
              document.getElementById("continue-button").href="search-places"; 
            }
        
            document.getElementById("employer-2").onclick = function() {
              document.getElementById("continue-button").href="search-employers"; 
            };
        </script>
        </div>
      </fieldset>
    </div>

    </form>
    
     
  </div>
</div>

</div>

{% endblock %}

{% block pageScripts %}

{% endblock %}
