
{% extends "layout-wide.html" %}

{% block pageTitle %}
  Churchill | Find data about a local area
{% endblock %}

{% block content %}
</div>
<div class="govuk-extra-width-container">

<div class="top-alignment-correct">
  <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
      beta
    </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your
          <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
 </div>


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Your data views
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

          <div class="tabs">
              <div class="tabs-nav">
                <ul class="tabs-list">
                  <li>
                    <a href="#tab-1">
                      Data in context
                    </a>
                  </li>
                  <li>
                    <a href="#tab-2">
                      Hide unselected areas
                    </a>
                  </li>
                  <li>
                    <a href="#tab-3">
                      Show as seperate charts
                    </a>
                  </li>
                  <li>
                      <a href="#tab-4">
                        Table of data
                      </a>
                    </li>
                </ul>
              </div>
      
              <div class="tabs-content">
                <div class="tabs-panel" id="tab-1">
                  <div class="tabs-panel-inner">

                      <h2 class="visually-hidden govuk-heading-m">
                          Data in context
                        </h2>

                        <h3 class="govuk-heading-m govuk-!-font-weight-regular">
                          Number of 18 to 24 year old males entitled to <strong>Carers Allowance</strong>, May 2007 - May 2017
                        </h3>
                    
                        <img src="../../public/images/chart.png" class="full-width-image govuk-!-margin-bottom-3"/>
                        <p class="govuk-body-s">View data source: <a href="https://stat-xplore.dwp.gov.uk/">Stat-Xplore</a></p>
                    </div>
                </div>
      
                <div class="tabs-panel" id="tab-2">
                  <div class="tabs-panel-inner">
                    
                      <h2 class="visually-hidden govuk-heading-m">
                          Unselected areas hidden
                        </h2>

                        <h3 class="govuk-heading-m govuk-!-font-weight-regular">
                          Number of 18 to 24 year old males entitled to <strong>Carers Allowance</strong> in selected <strong>Local Authorities</strong>
                        </h3>

                        <img src="../../public/images/chart-2.png" class="full-width-image govuk-!-margin-bottom-3"/>
                        <p class="govuk-body-s">View data source: <a href="https://stat-xplore.dwp.gov.uk/">Stat-Xplore</a></p>
                  </div>
                </div>
      
                <div class="tabs-panel" id="tab-3">
                  <div class="tabs-panel-inner">
                    
                    <h2 class="visually-hidden govuk-heading-m">
                       Showing areas as seperate charts
                      </h2>

                      <h3 class="govuk-heading-m govuk-!-font-weight-regular">
                        Number of 18 to 24 year old males entitled to <strong>Carers Allowance</strong> in selected <strong>Local Authorities</strong>
                      </h3>

                      <img src="../../public/images/charts-separate.png" class="full-width-image govuk-!-margin-bottom-3"/>
                      <p class="govuk-body-s">View data source: <a href="https://stat-xplore.dwp.gov.uk/">Stat-Xplore</a></p>
                  </div>
                </div>

                <div class="tabs-panel" id="tab-4">
                    <div class="tabs-panel-inner">

                        <h2 class="visually-hidden govuk-heading-m">
                            Table of data
                          </h2>
                      
                          <h3 class="govuk-heading-m govuk-!-font-weight-regular">
                            Number of 18 to 24 year old males entitled to <strong>Carers Allowance</strong> in selected <strong>Local Authorities</strong>
                          </h3>

                          {{ govukTable({
                            firstCellIsHeader: true,
                            head: [
                              {
                                text: "Date"
                              },
                              {
                                text: "Aberdeen City"
                              },
                              {
                                text: "Camden"
                              },
                              {
                                text: "South Tyneside"
                              }
                            ],
                            rows: [
                              [
                                {
                                  text: "May 2007"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2007"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2007"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2008"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2008"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2008"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2008"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2009"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2009"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2009"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2009"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2010"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2010"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2010"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2010"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2011"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2011"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2011"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2011"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2012"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2012"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2012"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2012"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2013"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2013"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2013"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2013"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2014"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2014"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2014"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2014"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2015"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2015"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2015"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2015"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2016"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2016"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2016"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2016"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2017"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                            {
                              text: "May 2017"
                            },
                            {
                              text: "2,277"
                            },
                            {
                              text: "1,993"
                            },
                            {
                              text: "2,889"
                            }
                          ]
                            ]
                          }) }}
                    </div>
                  </div>

              </div>
            </div>

            
      
        
      </div>

    <div class="govuk-grid-column-one-third">
        {{ govukTable({
          classes: "govuk-!-margin-bottom-2",
          caption: "Where you've chosen",
          captionClasses: "govuk-heading-m",
          rows: [
            [
              {
                html: "<div class=\"key-cube\" style=\"background-color:#F47738;\"></div>Aberdeen City"
              },
              {
                html: "<a href=\"#\" class=\"right\">Remove</a>"
              }
            ],
            [
              {
                html: "<div class=\"key-cube\" style=\"background-color:#27A197;\"></div>Camden"
              },
              {
                html: "<a href=\"#\" class=\"right\">Remove</a>"
              }
            ],
            [
              {
                html: "<div class=\"key-cube\" style=\"background-color:#FFBF47;\"></div>South Tyneside"
              },
              {
                html: "<a href=\"#\" class=\"right\">Remove</a>"
              }
            ]
          ]
        }) }}
        <p class="govuk-!-margin-bottom-7"><a href="where-2-loop.html" class="govuk-!-margin-bottom-6">Add another area</a></p>

        {{ govukTable({
          classes: "govuk-!-margin-bottom-2",
          caption: "What you're measuring",
          captionClasses: "govuk-heading-m",
          rows: [
            [
              {
                html: "Number of 18 to 24 year old males entitled to <strong>Carers allowance</strong>, May 2007 - May 2017."
              },
              {
                html: "<a href=\"#\" class=\"right\">Change</a>"
              }
            ]
          ]
        }) }}
        <p class="govuk-!-margin-bottom-7"><a href="what-loop.html">Add another statistic</a></p>

    </div>
</div>


{% endblock %}
