
{% extends "layout.html" %}

{% block pageTitle %}
  Churchill | Find data about a local area
{% endblock %}

{% block content %}

<div class="top-alignment-correct">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
        beta
      </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your
            <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>

      {{ govukBackLink({
        text: "Back",
        href: "how.html"
      }) }}
   </div>

   {% include "version-0-5/where-b.html" %}

   <a href="#" class="govuk-button" id="continue-button">
    Continue
  </a>


  <script type="text/javascript">
    document.getElementById("add-more-areas-1").onclick = function () {
      document.getElementById("continue-button").href="how-where-loop.html"; 
    }

    document.getElementById("add-more-areas-2").onclick = function() {
      document.getElementById("continue-button").href="how-where-what.html"; 
    };
</script>

</div>

<div class="govuk-grid-column-one-third">

{{ govukTable({
  classes: "govuk-!-margin-bottom-2",
  caption: "Where you've chosen",
  captionClasses: "govuk-heading-m",
  rows: [
    [
      {
        html: "<div class=\"key-cube\" style=\"background-color:#F47738;\"></div>Aberdeen City"
      },
      {
        html: "<a href=\"#\" class=\"right\">Remove</a>"
      }
    ],
    [
      {
        html: "<div class=\"key-cube\" style=\"background-color:#27A197;\"></div>Camden"
      },
      {
        html: "<a href=\"#\" class=\"right\">Remove</a>"
      }
    ],
    [
      {
        html: "<div class=\"key-cube\" style=\"background-color:#FFBF47;\"></div>South Tyneside"
      },
      {
        html: "<a href=\"#\" class=\"right\">Remove</a>"
      }
    ]
  ]
}) }}
<p class="govuk-!-margin-bottom-7"><a href="where-2-loop.html" class="govuk-!-margin-bottom-6">Add another area</a></p>

</div>

</div>
</div>

  
{% endblock %}