
{% extends "layout.html" %}

{% block pageTitle %}
  Examine a place | GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Local enterprise partnerships</span>
      <h1 class="govuk-heading-xl">
        Gross Value Added (GVA) in the North East
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">The Gross Value Added (GVA) in North East is growing but is still below the national average</h2>
          <p>Showing data from 1998 to 2018</p>
      </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
        
        <img src="../../public/images/gva-north-east.png" class="full-width-image govuk-!-margin-bottom-3"/>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="headline-stat-box graph-figure">
            <span class="title">September 2018</span>
            <span class="figure">£44,172</span>
            <div class="detail govuk-body-s">
              <span class="increase">2.1%</span> <span class="prior-date-range">Oct 2016 to Sep 2017</span>
            </div>
        </div>
   </div>

   </div>


   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Gross Value Added (GVA) in North East is below average compared to other local enterprise partnerships</h2>
      </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <img src="../../public/images/ne-lep-barcode.png" class="full-width-image govuk-!-margin-bottom-3"/>
    </div>

    <div class="govuk-grid-column-one-third">
        <img src="../../public/images/ne-lep-map.png" class="full-width-image govuk-!-margin-bottom-3"/>
   </div>

</div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Amongst local authorities in the North East, Newcastle upon Tyne has the highest Gross Value Added (GVA) and the lowest is in North Tyneside</h2>

      <table class="govuk-table  govuk-!-margin-bottom-2">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Local authority</th>
            <th class="govuk-table__header govuk-table__header" scope="col">Gross Value Added (GVA)</th>
            <th class="govuk-table__header govuk-table__header" scope="col">Trend</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Durham</th>
            <td class="govuk-table__cell govuk-table__cell">£39,821</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="#">Growing</a> <div class="arrow-up"></div></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Gateshead</th>
            <td class="govuk-table__cell govuk-table__cell">£43,634</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="la-newcastle-javascript.html">Steady</a> <div class="steady-square"></div></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Newcastle upon Tyne</th>
            <td class="govuk-table__cell govuk-table__cell">£47,019</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="#">Growing</a> <div class="arrow-up"></div></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">North Tyneside</th>
            <td class="govuk-table__cell govuk-table__cell">£39,290</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="#">Falling</a> <div class="arrow-down"></div></td>
          </tr>
          <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Northumberland</th>
              <td class="govuk-table__cell govuk-table__cell">£45,812</td>
              <td class="govuk-table__cell govuk-table__cell"><a href="#">Falling</a> <div class="arrow-down"></div></td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">South Tyneside</th>
                <td class="govuk-table__cell govuk-table__cell">£42,182</td>
                <td class="govuk-table__cell govuk-table__cell"><a href="#">Falling</a> <div class="arrow-down"></div></td>
              </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Sunderland</th>
            <td class="govuk-table__cell govuk-table__cell">£41,297</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="#">Steady</a> <div class="steady-square"></div></td>
          </tr>
        </tbody>
      </table>

      <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How we worked this out
            </span>
          </summary>
          <div class="govuk-details__text">
            We use job data from Adzuna to understand what skills people are looking for.
          </div>
        </details>

    

    </div>

    <div class="govuk-grid-column-one-third">

      
    </div>

</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Gross Value Added is highest in the North East within the industrial sector</h2>

      <table class="govuk-table  govuk-!-margin-bottom-2">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Local authority</th>
            <th class="govuk-table__header govuk-table__header" scope="col">Gross Value Added (GVA)</th>
            <th class="govuk-table__header govuk-table__header" scope="col">Trend</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Durham</th>
            <td class="govuk-table__cell govuk-table__cell">£39,821</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="#">Growing</a> <div class="arrow-up"></div></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Gateshead</th>
            <td class="govuk-table__cell govuk-table__cell">£43,634</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="la-newcastle-javascript.html">Steady</a> <div class="steady-square"></div></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Newcastle upon Tyne</th>
            <td class="govuk-table__cell govuk-table__cell">£47,019</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="#">Growing</a> <div class="arrow-up"></div></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">North Tyneside</th>
            <td class="govuk-table__cell govuk-table__cell">£39,290</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="#">Falling</a> <div class="arrow-down"></div></td>
          </tr>
          <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Northumberland</th>
              <td class="govuk-table__cell govuk-table__cell">£45,812</td>
              <td class="govuk-table__cell govuk-table__cell"><a href="#">Falling</a> <div class="arrow-down"></div></td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">South Tyneside</th>
                <td class="govuk-table__cell govuk-table__cell">£42,182</td>
                <td class="govuk-table__cell govuk-table__cell"><a href="#">Falling</a> <div class="arrow-down"></div></td>
              </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Sunderland</th>
            <td class="govuk-table__cell govuk-table__cell">£41,297</td>
            <td class="govuk-table__cell govuk-table__cell"><a href="#">Steady</a> <div class="steady-square"></div></td>
          </tr>
        </tbody>
      </table>

      <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How we worked this out
            </span>
          </summary>
          <div class="govuk-details__text">
            We use job data from Adzuna to understand what skills people are looking for.
          </div>
        </details>

    

    </div>

    <div class="govuk-grid-column-one-third">

      
    </div>

</div>

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  
  const dataitems = [
  'GVA by industry sector',
  'Digital skills demand by industry sector',
  'United Kingdom'
]

accessibleAutocomplete({
  element: document.querySelector('#autocomplete'),
  displayMenu: 'overlay',
  showAllValues: true,
  id: 'autocomplete', // To match it to the existing <label>.
  source: dataitems
})


</script>

{% endblock %}