
{% extends "layout.html" %}

{% block pageTitle %}
  Churchill | Find data about a local area
{% endblock %}

{% block content %}

<div class="top-alignment-correct">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
        beta
      </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your
            <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>
      {{ govukBackLink({
        text: "Back",
        href: "how-what.html"
      }) }}


   </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Jobseekers Allowance</h1>
      
      </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="positive-stat-box">
              <h2 class="govuk-heading-l white">Areas with the largest percentage of the population claiming Jobseekers Allowance</h2>
              <ul class="govuk-heading-m white">
                <li><span class="govuk-!-font-weight-regular">South Tyneside</span> (3.55%)</li>
                <li><span class="govuk-!-font-weight-regular">Middlesbrough</span> (3.48%)</li>
                <li><span class="govuk-!-font-weight-regular">Kingston upon Hull</span> (2.91%)</li>
                <li><span class="govuk-!-font-weight-regular">Birmingham</span> (2.69%)</li>
                <li><span class="govuk-!-font-weight-regular">Wolverhampton</span> (2.66%)</li>
              </ul>
            </div>
            <p class="govuk-!-margin-top-2">Source: <a href="#">NomisWeb</a></p>
    <p>This page will contain content on what is exceptional about Jobseekers Allowance. This is done by looking at the outliers; where is the place with the highest take up, and likewise the lowest? Are any other elements of the data particularly noticeable when checked by AI?</p>

    </div>

    <div class="govuk-grid-column-one-third">

        <h3 class="govuk-heading-m">Ways to find out more</h3>

        <ul>
            <li><a href="how-what-loop.html">Compare to other subjects</a></li>
            <li><a href="how-what-where.html">See data for specific areas</a></li>
          </ul>

        <h3 class="govuk-heading-m">Useful downloads</h3>
        <ul>
            <li><a href="#">Download statistics as .CSV</a></li>
            <li><a href="#">Download statistics as .XLS</a></li>
          </ul>

    </div>
</div>

{% endblock %}
