
{% extends "layout.html" %}

{% block pageTitle %}
  Churchill | Find data about a local area
{% endblock %}

{% block content %}

<div class="top-alignment-correct">
  <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
      beta
    </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your
          <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
 </div>


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full  govuk-!-margin-bottom-5">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
            Exploring data across a local enterprise partnership
        </h1>
        <p class="govuk-!-margin-bottom-0"><strong>Chosen area:</strong> {{ data['where'] }} (<a href="where-edit.html">Add or remove area</a>)</p>
      </div>
    </div>

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full chart-panel-blue govuk-!-margin-bottom-7">
        <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">How the data is shown: </h3>
                <p class="govuk-!-margin-bottom-0">Data in context | <a href="churchill-main-snapshot-table.html">Table</a></p>
            </div> 
      </div>
     </div>


      <div class="govuk-grid-row snapshot-section govuk-!-margin-bottom-7">

        <div class="govuk-grid-column-full">

            <div class="snapshot-chart-block">
                <h2 class="govuk-heading-m">
                        People entitled to Carers Allowance in May 2017 <span class="govuk-!-font-weight-regular">(<a href="what-loop-edit-snapshot.html">Change</a>)</span>
                </h2>
                <img src="../../public/images/bar-chart-lep.png" class="full-width-image govuk-!-margin-bottom-7"/>
                <p class="govuk-body-s">View data source: <a href="https://stat-xplore.dwp.gov.uk/">Stat-Xplore</a></p>
            </div>

         
            <!-- <ul class="big-stat-list govuk-heading-m">
              <li>61 <span class="govuk-!-font-weight-regular">in</span> Aberdeen City</li>
              <li>122 <span class="govuk-!-font-weight-regular">in</span> Camden</li>
              <li>186 <span class="govuk-!-font-weight-regular">in</span> South Tyneside</li>
            </ul> -->
          
        </div>

      </div>


      <p><a href="what-loop.html">Add another type of data for comparisson</a></p>


{% endblock %}
