
{% extends "layout.html" %}

{% block pageTitle %}
Where to measure data for - Find data about a local area

{% endblock %}

{% block content %}


<div class="top-alignment-correct">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
        beta
      </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your
            <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>

      {{ govukBackLink({
        text: "Back",
        href: "where-1.html"
      }) }}
   </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post" class="form">
   
          <script src="../../public/javascripts/jquery-1.11.1.min.js" type="text/javascript"></script>
          <script src="../../public/javascripts/jquery.select-to-autocomplete.js" type="text/javascript"></script>
          <script src="../../public/javascripts/jquery-ui.min.js" type="text/javascript"></script>
          <script type="text/javascript">
            (function($){
                  $(function(){
                   // $('select').selectToAutocomplete();
                  });
                })(jQuery);
          </script>
          
          
            <fieldset class="govuk-fieldset" id="where_fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Where would you like to find out about?
            </h1>
          
            </legend>

            <script type="text/javascript">
              var area_input_count = 1;
            </script>

          <div class="govuk-form-group">
            <label class="govuk-label" for="where_1" >Local authority <span class="remove_area_link">(<a  href="#" class="govuk-link">remove</a>)</span></label>  
            <select class="govuk-select js-example-basic-single" id="where_1" name="where_1" autofocus="autofocus" autocorrect="off" autocomplete="off"> 
              {% include "version-0-8/local-authority-select.html" %}
            </select>
          </div>

            </fieldset>
          
    
            <p><a href="#" id="add_area" class="govuk-link">Add another area - you can compare up to ten areas</a></p>
            <div class="govuk-inset-text" id="max_message">
                You've reached the maximum amount of areas you can compare.
              </div>
    
          <button class="govuk-button">Continue</button>
    
          </form>
      
       
    </div>
</div>

<script type="text/javascript">


var dropdown_content = $.get("local-authority-select.html");


  $( "#add_area" ).click(function() {
    if (area_input_count < 10) {
      area_input_count++;
      /*** Add another select typeahead ***/
      $( "#where_fieldset" ).append( "<div class=\"govuk-form-group\"><label class=\"govuk-label\" for=\"where_"+area_input_count+"\">Local authority <span>(<a id=\"remove_"+area_input_count+"\" class=\"remove_area_link\" href=\"#\">remove</a>)</span></label><select class=\"govuk-select js-example-basic-single\" id=\"where_"+area_input_count+"\" name=\"where_"+area_input_count+"\" autofocus=\"autofocus\" autocorrect=\"off\" autocomplete=\"off\">");
      $( "#where_"+area_input_count ).load( "local-authority-select.html" );
      $( "#where_fieldset" ).append( "</select></div>" );
      alert("meh.");
      $('#where_1').selectToAutocomplete();

      /*** /Add another select typeahead ***/

       $( ".remove_area_link" ).unbind("click").click(function() {
         console.log("hello");
         if (area_input_count > 1) {
            area_input_count--;
            /*** REMOVE ***/
            $(this).parent().parent().parent().hide();
            /*** REMOVE ***/
          }
          if (area_input_count < 10) {
            $('#add_area').css({"display":"inline-block"});
            $('#max_message').css({"display":"none"});
          }
          if (area_input_count == 1) {
            $('.remove_area_link').css({"display":"none"});
          }
          return false;
        })
    }
    if (area_input_count == 10) {
      $('#add_area').css({"display":"none"});
      $('#max_message').css({"display":"block"});
    }
    if (area_input_count > 1) {
      $('.remove_area_link').css({"display":"inline-block"});
    }
    return false;
  });

  $( ".remove_area_link" ).on( "click", function() {
  
  });
</script>

{% endblock %}
