
{% extends "layout.html" %}

{% block pageTitle %}
Where to measure data for - Find data about a local area

{% endblock %}

{% block content %}


<div class="top-alignment-correct">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
        beta
      </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your
            <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>

      {{ govukBackLink({
        text: "Back",
        href: "where-1.html"
      }) }}
   </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post" class="form">

      <fieldset class="govuk-fieldset" id="where_fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          Where would you like to find out about?
        </h1>

        </legend>

        <div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="where_1" >Local enterprise partnership <span class="remove_area_span">(<a href="#"  class="remove_area_link">remove</a>)</span></label>
            <select class="govuk-select js-example-basic-single" id="where_1" name="where_1" autofocus="autofocus" autocorrect="off" autocomplete="off">
              {% include "version-0-8/lep-select.html" %}
            </select>
          </div>
        <div>

        </fieldset>

        <button class="govuk-button">Continue</button>

      </form>
      
       
    </div>
</div>


{% endblock %}
{% block pageScripts %}
<script type="text/javascript">

  $(function() {
      accessibleAutocomplete.enhanceSelectElement({
        selectElement: document.querySelector('#where_1')
      })
    })

</script>


{% endblock %}