<nav class="navigation-global">
        <ul>
          <li>
            <a href="#" aria-current="page" onclick="myFunction('where-dropdown', 'where-link')" id="where-link" class="dropdown-link">Where you're looking at</a>
          </li>
      
          <li>
            <a href="#" onclick="myFunction('what-dropdown', 'what-link')" id="what-link" class="dropdown-link">What you're measuring</a>
          </li>
      
          <li>
            <a href="#" onclick="myFunction('when-dropdown', 'when-link')" id="when-link" class="dropdown-link">When you're measuring</a>
          </li>
        </ul>
      </nav>

      <script type="text/javascript" >
          function myFunction(z,w) {
              var x = document.getElementById(z);
              var v = document.getElementById(w);
              var y = document.getElementsByClassName("dropdown");
              var u = document.getElementsByClassName("dropdown-link");

              if (x.style.display === "none") {
                  var i;
                  for (i = 0; i < y.length; i++) {
                  y[i].style.display = "none"; }
                  for (i = 0; i < u.length; i++) {
                  u[i].classList.remove("active"); }
                  x.style.display = "block"; 
                  v.classList.add("active"); 
              } else {
                  var i;
                  for (i = 0; i < y.length; i++) {
                  y[i].style.display = "none"; }
                  for (i = 0; i < u.length; i++) { u[i].classList.remove("active"); } 
                }
              }
          
      </script>

      <div class="dropdown" id="where-dropdown">
          <div class="dropdown-block">
         <h3 class="govuk-heading-s">Existing areas</h3>
          {{ govukTable({
            classes: "govuk-!-margin-bottom-2",
            rows: [
              [
                {
                  html: "<div class=\"key-cube\" style=\"background-color:#F47738;\"></div>Aberdeen City"
                },
                {
                  html: "<a href=\"#\" class=\"right\">Remove</a>"
                }
              ],
              [
                {
                  html: "<div class=\"key-cube\" style=\"background-color:#27A197;\"></div>Camden"
                },
                {
                  html: "<a href=\"#\" class=\"right\">Remove</a>"
                }
              ],
              [
                {
                  html: "<div class=\"key-cube\" style=\"background-color:#FFBF47;\"></div>South Tyneside"
                },
                {
                  html: "<a href=\"#\" class=\"right\">Remove</a>"
                }
              ]
            ]
          }) }}
          
          </div>
          <div class="dropdown-block govuk-!-margin-left-6 clear">
                <h3 class="govuk-heading-s">Add a new area</h3>
                {{ govukSelect({
                    id: "where",
                    name: "where",
                    label: {
                      text: "What local authority would you like to measure data for?"
                    },
                    items: [
                      {
                        value: "aberdeen-city",
                        text: "Aberdeen City"
                      },
                      {
                        value: "aberdeenshire",
                        text: "Aberdeenshire"
                      },
                      {
                        value: "adur",
                        text: "Adur"
                      },
                      {
                        value: "allerdale",
                        text: "Allerdale"
                      },
                      {
                        value: "amber-valley",
                        text: "Amber Valley"
                      },
                      {
                        value: "angus",
                        text: "Angus"
                      }
                    ]
                  }) }}
                  <p class="link-beneath-select"><a href="where-map-loop.html">You can also choose areas from a map</a></p>
                  {{ govukButton({
                    text: "Add area",
                    href: "#"
                  }) }}
            </div>

            <div class="clearfix"></div>

          </div>

          <div class="dropdown" id="what-dropdown">
              <div class="dropdown-block">
                    <h3 class="govuk-heading-s">Existing data you're measuring</h3>
                {{ govukTable({
                  classes: "govuk-!-margin-bottom-2",
                  rows: [
                    [
                      {
                        html: "Number of 18 to 24 year old males entitled to <strong>Carers allowance</strong>"
                      },
                      {
                        html: "<a href=\"#\" class=\"right\">Change</a>"
                      }
                    ]
                  ]
                }) }}
              </div>
              <div class="dropdown-block govuk-!-margin-left-6 clear">
                    <h3 class="govuk-heading-s">Add a new type of data</h3>
                    {{ govukSelect({
                        id: "measure-select",
                        classes: "measure-select",
                        name: "measure-select",
                        label: {
                          text: "What type of data would you like to measure?"
                        },
                        items: [
                          {
                            value: "-",
                            text: "Please select",
                            selected: true
                          },
                          {
                            value: "active-enterprises",
                            text: "Active Enterprises"
                          },
                          {
                            value: "attendance-allowance",
                            text: "Attendance Allowance"
                          },
                          {
                            value: "carers-allowance",
                            text: "Carers Allowance"
                          },
                          {
                            value: "claimant-count",
                            text: "Claimant Count"
                          }
                        ]
                      }) }}
                
                      <div class="govuk-radios__conditional" id="conditional-display" style="display: none;">
                          {{ govukRadios({
                            idPrefix: "metric",
                            name: "metric",
                            fieldset: {
                              legend: {
                                text: "How would you like to view this data?"
                              }
                            },
                            items: [
                              {
                                value: "average-amount",
                                text: "Average weekly amount of Carers Allowance"
                              },
                              {
                                value: "number-entitled",
                                text: "Number of people entitled to Carers Allownace"
                              },
                              {
                                value: "number-in-reciept",
                                text: "Number of people in reciept of Carers Allownace"
                              }
                            ]
                          }) }}
                
                          {{ govukSelect({
                            id: "data-list",
                            name: "data-list",
                            label: {
                              text: "What age group would you like to see data for?"
                            },
                            items: [
                              {
                                value: "-",
                                text: "Please select",
                                selected: true
                              },
                              {
                                value: "under-18",
                                text: "Under 18"
                              },
                              {
                                value: "18-to-24",
                                text: "18 to 24"
                              },
                              {
                                value: "25-to-29",
                                text: "25 to 29"
                              },
                              {
                                value: "30-to-34",
                                text: "30 to 34"
                              },
                              {
                                value: "35-to-39",
                                text: "35 to 39"
                              },
                              {
                                value: "40-to-44",
                                text: "40 to 44"
                              },
                              {
                                value: "45-to-49",
                                text: "45 to 49"
                              },
                              {
                                value: "50-to-54",
                                text: "50 to 54"
                              },
                              {
                                value: "55-to-59",
                                text: "55 to 59"
                              },
                              {
                                value: "60-to-64",
                                text: "60 to 64"
                              },
                              {
                                value: "over-64",
                                text: "Over 64"
                              },
                              {
                                value: "unknown",
                                text: "Unknown"
                              }
                            ]
                          }) }}
                
                          {{ govukRadios({
                            idPrefix: "gender",
                            name: "gender",
                            fieldset: {
                              legend: {
                                text: "What sex would you like to see data for?"
                              }
                            },
                            hint: {
                              text: "The data set is historically divided by binary sex rather than gender"
                            },
                            items: [
                              {
                                value: "male",
                                text: "Male"
                              },
                              {
                                value: "female",
                                text: "Female"
                              },
                              {
                                divider: "or"
                              },
                              {
                                value: "both",
                                text: "Both"
                              }
                            ]
                          }) }}
                      </div>

                      {{ govukButton({
                        text: "Add measurement",
                        href: "#"
                      }) }}
              </div>
              <div class="clearfix"></div>

          </div>

              <div class="dropdown" id="when-dropdown">
                  <div class="dropdown-block">
                    <h3 class="govuk-heading-s">Currently measuring</h3>
                    <p>May 2007 - May 2017</p>
                   
                  </div>

                  <div class="dropdown-block govuk-!-margin-left-6 clear">
                        <h3 class="govuk-heading-s">Change the timescale</h3>
                        {% set rangeHtml %}
        {{ govukDateInput({
          id: "range-from",
          name: "range-from",
          fieldset: {
            legend: {
              text: "When would you like to measure from?"
            }
          },
          hint: {
            text: "For example, 3 1980"
          },
          items: [
            {
              name: "month"
            },
            {
              name: "year"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "range-to",
          name: "range-to",
          fieldset: {
            legend: {
              text: "When would you like to measure to?"
            }
          },
          hint: {
            text: "For example, 3 1980"
          },
          items: [
            
            {
              name: "month"
            },
            {
              name: "year"
            }
          ]
        }) }}
      {% endset -%}

      {% set snapshotHtml %}
          {{ govukDateInput({
            id: "snapshot-date",
            name: "snapshot-date",
            fieldset: {
              legend: {
                text: "What date would you like to view data for?"
              }
            },
            hint: {
              text: "For example, 3 1980"
            },
            items: [
              
              {
                name: "month"
              },
              {
                name: "year"
              }
            ]
          }) }}
      {% endset -%}


      {{ govukRadios({
        idPrefix: "when-choice",
        name: "when-choice",
        fieldset: {
        },
        items: [
          {
            value: "time-period",
            text: "Show data over a period of time",
            conditional: {
              html: rangeHtml
            }
          },
          {
            value: "specific-date",
            text: "Show data at a specific date",
            conditional: {
              html: snapshotHtml
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Change timescale",
        href: "#"
      }) }}
                    </div>

                  <div class="clearfix"></div>

               </div>

               <script type="text/javascript" >
                document.getElementById('measure-select').addEventListener('change', function () {
                    var style = this.value == 'carers-allowance' ? 'block' : 'none';
                    document.getElementById('conditional-display').style.display = style;
                });
              </script>