
{% extends "layout.html" %}

{% block pageTitle %}
  North East | Local enterprise partnership | Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">North East</li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
        North East
      </h1>
      <span class="govuk-caption-xl govuk-!-margin-bottom-8">Local enterprise partnership</span>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-5">
            <div class="govuk-panel__body">
                <a href="lep-ne-skills-javascript">Demand for <strong>Javascript development</strong></a> is <strong>higher than the national average</strong> and is <strong>growing</strong>.
          </div>
          <a href="lep-ne-insights.html" class="govuk-!-margin-top-4"> Summary of employer demand for skills in the north-east</a>
          </div>


         <!-- <h2 class="govuk-heading-m section-border-top">
              Find specific data
            </h2>
  
            <form class="form" action="lep-ne-gva.html">
  
                <div class="govuk-form-group govuk-!-margin-bottom-4">
                    <div id="autocomplete"></div>
                  </div>
        
                <button class="govuk-button">Continue</button>
        
            </form> -->

            <div class="govuk-grid-row govuk-!-margin-bottom-4">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m section-border-top">Digital skills</h2>
                    </div>
            <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-s">
                    <a href="lep-ne-skills">Skills with the highest employer demand</a>
                  </h3>

                  <ol class="govuk-list govuk-list--number">
                    <li>Javascript</li>
                    <li>Node</li>
                    <li>Data engineering</li>
                    <li>Angular</li>
                    <li>Interaction design</li>
                  </ol>
                
                  <details class="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          How we work this out
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                          We use data from Adzuna to search job adverts and calculate demand for digital skills
                      </div>
                    </details>
            </div>
            <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-s">
                    <a href="lep-ne-skills">Skills with the largest growth in employer demand</a>
                  </h3>

                  <ol class="govuk-list govuk-list--number">
                      <li>CSS</li>
                      <li>jQuery</li>
                      <li>C#</li>
                      <li>Front end</li>
                      <li>HTML 5</li>
                    </ol>

                  <details class="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          How we work this out
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                          We use data from Adzuna to search job adverts and calculate the change in demand for digital skills over time
                      </div>
                    </details>
            </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m section-border-top">Roles requiring digital skills</h2>
                </div>
            <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-s">
                    <a href="lep-ne-roles">Roles with the highest employer demand</a>
                  </h3>

                  <ol class="govuk-list govuk-list--number">
                      <li>Front end developer</li>
                      <li>Full stack developer</li>
                      <li>User research</li>
                      <li>Javascript developer</li>
                      <li>Interaction designer</li>
                    </ol>

                  <details class="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          How we work this out
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        We use data from Adzuna to search demand for roles requiring digital skills
                      </div>
                    </details>
            </div>
            <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-s">
                    <a href="lep-ne-roles">Roles with the largest growth in employer demand</a>
                  </h3>
                
                  <ol class="govuk-list govuk-list--number">
                      <li>Javascript developer</li>
                      <li>Business analyst</li>
                      <li>User research</li>
                      <li>Graphic designer</li>
                      <li>Front end developer</li>
                    </ol>
                  
                  <details class="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          How we work this out
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                          We use data from Adzuna to search job adverts and calculate the change in demand for digital skills over time
                      </div>
                    </details>
            </div>
          </div>

    </div>



    <div class="govuk-grid-column-one-third">

        <h3 class="govuk-heading-m section-border-top">
            This area is part of
          </h3>

          <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="#">England</a>
              </li>
              <li>
                <a class="govuk-link" href="#">North East region</a>
              </li>
            </ul>

      <h3 class="govuk-heading-m section-border-top">
        Authorities in this area
      </h3>

      <!-- <div id="map"></div>

        <script type="text/javascript" src="../../public/javascripts/leaflet/leaflet.js"></script>
        <script type="text/javascript" src="../../public/javascripts/NE_LEP_LA_boundaries_WGS84.js"></script>
        <script type="text/javascript">
          var map = L.map('map', {
            //center: [55.10, -2.01],
            //zoom: 9,
            zoomControl:false,
            scrollWheelZoom:false,
            doubleClickZoom:false,
            touchZoom:false,
            dragging:false
          });
  
          var geoJsonData = L.geoJSON(data, {
            onEachFeature: onEachFeature,
            style:style,
            smoothFactor:0
          });
  
          map.fitBounds(geoJsonData.getBounds());
  
          geoJsonData.addTo(map);
  
          function style(feature) {
              return {
                  fillColor: '#cccccc',
                  weight: 1,
                  opacity: 1,
                  color: '#333',
                  //dashArray: '3',
                  fillOpacity: 1.0
              };
          }
  
          function highlightFeature(e) {
              var layer = e.target;
  
              layer.setStyle({
                  weight: 1,
                  color: '#666',
                  dashArray: '',
                  fillOpacity: 0.7
              });
  
              if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                  layer.bringToFront();
              }
          }
  
          function resetHighlight(e) {
            geoJsonData.resetStyle(e.target);
          }
  
          function featureSelect(e) {
            alert("This would link to: " + e.target.feature.properties.lad16nm);
            //window.location.href = 'https://skillsrecommendation.dwpdata.info';
          }
  
  
          function onEachFeature(feature, layer) {
              layer.on({
                  mouseover: highlightFeature,
                  mouseout: resetHighlight,
                  click: featureSelect
              });
          }
  
          
          //, {
          //  style: function (feature) {
          //    return {color: feature.properties.color};
          //  }
          //}).bindPopup(function (layer) {
          //  return layer.feature.properties.description;
          </script>

        -->

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Durham</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Gateshead</a>
        </li>
        <li>
          <a class="govuk-link" href="la-newcastle">Newcastle upon Tyne</a>
        </li>
        <li>
          <a class="govuk-link" href="#">North Tyneside</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Northumberland</a>
        </li>
        <li>
          <a class="govuk-link" href="#">South Tyneside</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Sunderland</a>
        </li>
      </ul>
    </div>

</div>

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  
  const dataitems = [
  'GVA by industry sector',
  'Digital skills demand by industry sector',
  'Courses offered locally'
]

accessibleAutocomplete({
  element: document.querySelector('#autocomplete'),
  displayMenu: 'overlay',
  showAllValues: true,
  id: 'autocomplete', // To match it to the existing <label>.
  source: dataitems
})


</script>

{% endblock %}