
{% extends "layout.html" %}

{% block pageTitle %}
Javascript | Digital skills | North East | Local enterprise partnership | Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="lep-ne.html">North East</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="lep-ne-skills.html">Skills in demand</a>
        </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Javascript</li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        Javascript in the North East
      </h1>
      <p class="govuk-body-l govuk-!-margin-bottom-3">Digital Skill in the Web and Software Development skills category.</p>
       <!-- <div class="govuk-inset-text">
          <p class=" govuk-body-s">
            We look at job data from Adzuna and use an alogrithm to match them with locations that are associated with this area.</p>
             </div> -->
     <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                How we work this out
            </span>
          </summary>
          <div class="govuk-details__text">
            We look at job data from Adzuna and match the locations that employers put in their job adverts with places associated with this area.
          </div>
        </details> 
    </div>
    <div class="govuk-grid-column-one-third">
        
    </div>
  </div>

  <div class="govuk-grid-row  govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-third">
          <div class="headline-stat-box section-border-top">
              <span class="title"><a href="lep-ne-skills-javascript-demand.html">Employer demand</a></span>
              <span class="figure">Very high</span>
              <div class="detail govuk-body-s">
                  <p class="govuk-body-s">1.04% of job adverts in this area require this skill.</p>
                <span class="date-range">August 2018</span>
                <span class="increase">0.13%</span> <span class="prior-date-range">August 2017</span>
              </div>
          </div>
      </div>
      <div class="govuk-grid-column-one-third">
          <div class="headline-stat-box section-border-top">
              <span class="title"><a href="lep-ne-skills-javascript-salary-range.html">Average salary range</a></span>
              <span class="figure">£30,000 to £50,000</span>
              <div class="detail govuk-body-s">
                <span class="date-range">August 2018</span>
                <span class="increase">0.17%</span> <span class="prior-date-range">August 2017</span>
              </div>
          </div>
      </div>
      <div class="govuk-grid-column-one-third">
          <div class="headline-stat-box section-border-top">
              <span class="title"><a href="#">Transferability</a></span>
              <span class="figure">Highly specialised</span>
              <div class="detail govuk-body-s">
                  Demand for this skill is only found within a small amount of roles.
              </div>
          </div>
      </div>
  </div>


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <hr>
          </div>
      <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="lep-ne-skills-javascript-demand-over-time.html">Demand in the North East is very high with steady growth</a></h2>
            <p class="govuk-body-s">Percentage of vacancies requiring Javascript.</p>
          </div>
    </div>
 
  <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-three-quarters">
          <img src="../../public/images/steady-line-with-nat-av.png" class="full-width-image govuk-!-margin-bottom-3"/>
      </div>
      <div class="govuk-grid-column-one-quarter">
          <div class="volumetrics-completion-selected">
              <span class="summary">January 2019</span>
              <strong>1.04%</strong>
              <p class="govuk-body-s">National average: 0.92%</p>
            </div>
      </div>
  </div>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <hr>
          </div>
      <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="#">Demand across the North East is highest in Newcastle upon Tyne</a></h2>
            <p class="govuk-body-s">Percentage of vacancies requiring Javascript in each local authority.</p>
        </div>
    </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-three-quarters">
          <img src="../../public/images/ne-lep-barcode.png" class="full-width-image govuk-!-margin-bottom-3"/>
      </div>
      <div class="govuk-grid-column-one-quarter">
          <div class="volumetrics-completion-selected">
              <span class="summary">Newcastle upon Tyne</span>
              <strong>1.6%</strong>
              
            </div>
      </div>
  </div>
  

  <div class="govuk-grid-row  govuk-!-margin-bottom-6">
      
    <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m section-border-top govuk-!-margin-bottom-4">Jobs requiring this skill</h2>
          <ul class="govuk-list">
            <li><a href="#">Javascript developer</a></li>
            <li><a href="#">Frontend Javascript developer</a></li>
            <li><a href="#">Javascript developer Nodejs</a></li>
            <li><a href="#">Angular developer</a></li>
            <li><a href="#">Full stack developer</a></li>
          </ul>
      </div>

      <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m section-border-top govuk-!-margin-bottom-4">Related skills</h2>
          <ul class="govuk-list">
            <li><a href="#">CSS</a></li>
            <li><a href="#">jQuery</a></li>
            <li><a href="#">C#</a></li>
            <li><a href="#">Front end</a></li>
            <li><a href="#">HTML5</a></li>
          </ul>
      </div>
      </div>

</div>

{% endblock %}

{% block pageScripts %}



{% endblock %}