
{% extends "layout.html" %}

{% block pageTitle %}
  North East | Local enterprise partnership | Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">North East local enterprise partnership</li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
        North East
      </h1>
      <span class="govuk-caption-xl govuk-!-margin-bottom-8">Local enterprise partnership</span>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-5">
            <div class="govuk-panel__body">
                <a href="lep-ne-digital-skills-javascript">Demand for <strong>Javascript development</strong></a> is <strong>higher than the national average</strong> and is <strong>growing</strong>.
          </div>
          <a href="lep-ne-insights.html" class="govuk-!-margin-top-4">Show all insights for this area</a>
          </div>


         <!-- <h2 class="govuk-heading-m section-border-top">
              Find specific data
            </h2>
  
            <form class="form" action="lep-ne-gva.html">
  
                <div class="govuk-form-group govuk-!-margin-bottom-4">
                    <div id="autocomplete"></div>
                  </div>
        
                <button class="govuk-button">Continue</button>
        
            </form> -->

            <div class="govuk-grid-row govuk-!-margin-bottom-8">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m section-border-top">Digital skills</h2>
                    </div>
            <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-s">
                    <a href="lep-ne-digital-skills">Skills in highest demand</a>
                  </h3>

                <table class="govuk-table  govuk-!-margin-bottom-2">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Skill</th>
                        <th class="govuk-table__header" scope="col">Vacancies</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">Javascript</td>
                        <td class="govuk-table__cell">92</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">Node</td>
                        <td class="govuk-table__cell">73</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">Data engineering</td>
                        <td class="govuk-table__cell">71</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell" scope="row">Angular</td>
                          <td class="govuk-table__cell">65</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Interaction design</td>
                            <td class="govuk-table__cell">43</td>
                          </tr>
                    </tbody>
                  </table>
                  <details class="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          How we work this out
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        We use data from Adzuna to search which jobs feature this as a skill
                      </div>
                    </details>
            </div>
            <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-s">
                    <a href="lep-ne-digital-skills">Skills growing fastest</a>
                  </h3>
                <table class="govuk-table  govuk-!-margin-bottom-2">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Skill</th>
                        <th class="govuk-table__header" scope="col">Growth</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">CSS</td>
                        <td class="govuk-table__cell"><div class="steady-square"></div></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">jQuery</td>
                        <td class="govuk-table__cell"><div class="arrow-down"></div></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">C#</td>
                        <td class="govuk-table__cell"><div class="arrow-up"></div></td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell" scope="row">Front end</td>
                          <td class="govuk-table__cell"><div class="arrow-down"></div></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">HTML 5</td>
                            <td class="govuk-table__cell"><div class="arrow-up"></div></td>
                          </tr>
                    </tbody>
                  </table>
                  <details class="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          How we work this out
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        We use data from Adzuna to analyse the number of vacancies in each area. Demand is based upon the percentage of jobs requiring this skill in comparison to other skills.
                      </div>
                    </details>
            </div>
          </div>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m section-border-top">Jobs requiring digital skills</h2>
                </div>
            <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-s">
                    <a href="lep-ne-digital-skills">Jobs in highest demand</a>
                  </h3>

                <table class="govuk-table  govuk-!-margin-bottom-2">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Skill</th>
                        <th class="govuk-table__header" scope="col">Vacancies</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">Javascript</td>
                        <td class="govuk-table__cell">92</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">Node</td>
                        <td class="govuk-table__cell">73</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">Data engineering</td>
                        <td class="govuk-table__cell">71</td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell" scope="row">Angular</td>
                          <td class="govuk-table__cell">65</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Interaction design</td>
                            <td class="govuk-table__cell">43</td>
                          </tr>
                    </tbody>
                  </table>
                  <details class="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          How we work this out
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        We use data from Adzuna to search which jobs feature this as a skill
                      </div>
                    </details>
            </div>
            <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-s">
                    <a href="lep-ne-digital-skills">Jobs growing fastest</a>
                  </h3>
                <table class="govuk-table  govuk-!-margin-bottom-2">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Skill</th>
                        <th class="govuk-table__header" scope="col">Growth</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">CSS</td>
                        <td class="govuk-table__cell"><div class="steady-square"></div></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">jQuery</td>
                        <td class="govuk-table__cell"><div class="arrow-down"></div></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">C#</td>
                        <td class="govuk-table__cell"><div class="arrow-up"></div></td>
                      </tr>
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell" scope="row">Front end</td>
                          <td class="govuk-table__cell"><div class="arrow-down"></div></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">HTML 5</td>
                            <td class="govuk-table__cell"><div class="arrow-up"></div></td>
                          </tr>
                    </tbody>
                  </table>
                  <details class="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          How we work this out
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        We use data from Adzuna to analyse the number of vacancies in each area. Demand is based upon the percentage of jobs requiring this skill in comparison to other skills.
                      </div>
                    </details>
            </div>
          </div>

    </div>



    <div class="govuk-grid-column-one-third">

        <h3 class="govuk-heading-m section-border-top">
            This area is part of
          </h3>

          <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="#">England</a>
              </li>
              <li>
                <a class="govuk-link" href="#">North East region</a>
              </li>
            </ul>

      <h3 class="govuk-heading-m section-border-top">
        Authorities in this area
      </h3>

      <!-- <div id="map"></div>

        <script type="text/javascript" src="../../public/javascripts/leaflet/leaflet.js"></script>
        <script type="text/javascript" src="../../public/javascripts/NE_LEP_LA_boundaries_WGS84.js"></script>
        <script type="text/javascript">
          var map = L.map('map', {
            //center: [55.10, -2.01],
            //zoom: 9,
            zoomControl:false,
            scrollWheelZoom:false,
            doubleClickZoom:false,
            touchZoom:false,
            dragging:false
          });
  
          var geoJsonData = L.geoJSON(data, {
            onEachFeature: onEachFeature,
            style:style,
            smoothFactor:0
          });
  
          map.fitBounds(geoJsonData.getBounds());
  
          geoJsonData.addTo(map);
  
          function style(feature) {
              return {
                  fillColor: '#cccccc',
                  weight: 1,
                  opacity: 1,
                  color: '#333',
                  //dashArray: '3',
                  fillOpacity: 1.0
              };
          }
  
          function highlightFeature(e) {
              var layer = e.target;
  
              layer.setStyle({
                  weight: 1,
                  color: '#666',
                  dashArray: '',
                  fillOpacity: 0.7
              });
  
              if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                  layer.bringToFront();
              }
          }
  
          function resetHighlight(e) {
            geoJsonData.resetStyle(e.target);
          }
  
          function featureSelect(e) {
            alert("This would link to: " + e.target.feature.properties.lad16nm);
            //window.location.href = 'https://skillsrecommendation.dwpdata.info';
          }
  
  
          function onEachFeature(feature, layer) {
              layer.on({
                  mouseover: highlightFeature,
                  mouseout: resetHighlight,
                  click: featureSelect
              });
          }
  
          
          //, {
          //  style: function (feature) {
          //    return {color: feature.properties.color};
          //  }
          //}).bindPopup(function (layer) {
          //  return layer.feature.properties.description;
          </script>

        -->

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Durham</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Gateshead</a>
        </li>
        <li>
          <a class="govuk-link" href="la-newcastle">Newcastle upon Tyne</a>
        </li>
        <li>
          <a class="govuk-link" href="#">North Tyneside</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Northumberland</a>
        </li>
        <li>
          <a class="govuk-link" href="#">South Tyneside</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Sunderland</a>
        </li>
      </ul>
    </div>

</div>

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  
  const dataitems = [
  'GVA by industry sector',
  'Digital skills demand by industry sector',
  'Courses offered locally'
]

accessibleAutocomplete({
  element: document.querySelector('#autocomplete'),
  displayMenu: 'overlay',
  showAllValues: true,
  id: 'autocomplete', // To match it to the existing <label>.
  source: dataitems
})


</script>

{% endblock %}