
{% extends "layout.html" %}

{% block pageTitle %}
Javascript | Digital skills | North East | Local enterprise partnership | Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="lep-north-east.html">North East local enterprise partnership</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Javascript</li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        Javascript in the North East
      </h1>
      <p class="govuk-body-l govuk-!-margin-bottom-3">Digital Skill in the Web and Software Development skills category.</p>
       <!-- <div class="govuk-inset-text">
          <p class=" govuk-body-s">
            We look at job data from Adzuna and use an alogrithm to match them with locations that are associated with this area.</p>
             </div> -->
     <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How we calculated skills associated with this area
            </span>
          </summary>
          <div class="govuk-details__text">
            We look at job data from Adzuna and match the locations that employers put in their job adverts with associated locations in this area.
          </div>
        </details> 
    </div>
    <div class="govuk-grid-column-one-third">
        
    </div>
  </div>

  <div class="govuk-grid-row  govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-third">
          <div class="headline-stat-box section-border-top">
              <span class="title"><a href="#">Demand</a></span>
              <span class="figure">Very high</span>
              <div class="detail govuk-body-s">
                <span class="date-range">August 2018</span>
                <span class="increase">1.32%</span> <span class="prior-date-range">August 2017</span>
              </div>
          </div>
      </div>
      <div class="govuk-grid-column-one-third">
          <div class="headline-stat-box section-border-top">
              <span class="title"><a href="#">Salary range</a></span>
              <span class="figure">£30,000 - £50,000</span>
              <div class="detail govuk-body-s">
                <span class="date-range">August 2018</span>
                <span class="increase">0.17%</span> <span class="prior-date-range">August 2017</span>
              </div>
          </div>
      </div>
      <div class="govuk-grid-column-one-third">
          <div class="headline-stat-box section-border-top">
              <span class="title"><a href="#">Transferability</a></span>
              <span class="figure">Highly specialised</span>
              <div class="detail govuk-body-s">
                Very specific to roles that need it
              </div>
          </div>
      </div>
  </div>


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <div class="section-border-top">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="#">Demand in the North East is very high with steady growth</a></h2>
            <p class="govuk-body-s">Percentage of vacancies requiring Javascript</p>
          </div>
        </div>
    </div>
 
  <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-three-quarters">
          <img src="../../public/images/steady-line-gds.png" class="full-width-image govuk-!-margin-bottom-3"/>
      </div>
      <div class="govuk-grid-column-one-quarter">
          <div class="volumetrics-completion-selected">
              <span class="summary">November 2018</span>
              <strong>4.1%</strong>
              <p>(from 1,834 adverts)</p>
            </div>
      </div>
  </div>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <div class="section-border-top">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="#">Demand across the North East is highest in Newcastle upon Tyne</a></h2>
            <p class="govuk-body-s">Percentage of vacancies requiring Javascript in each local authority</p>
          </div>
        </div>
    </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-three-quarters">
          <img src="../../public/images/ne-lep-barcode.png" class="full-width-image govuk-!-margin-bottom-3"/>
      </div>
      <div class="govuk-grid-column-one-quarter">
          <div class="volumetrics-completion-selected">
              <span class="summary">Newcastle upon Tyne</span>
              <strong>5.2%</strong>
              <p>(from 1,834 adverts)</p>
            </div>
      </div>
  </div>
  

  <div class="govuk-grid-row  govuk-!-margin-bottom-6">
      
    <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m section-border-top govuk-!-margin-bottom-4">Jobs requiring this skill</h2>
          <ul class="govuk-list">
            <li><a href="#">Javascript developer</a></li>
            <li><a href="#">Frontend Javascript developer</a></li>
            <li><a href="#">Javascript developer Nodejs</a></li>
            <li><a href="#">Angular developer</a></li>
            <li><a href="#">Full stack developer</a></li>
          </ul>
      </div>

      <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m section-border-top govuk-!-margin-bottom-4">Related skills</h2>
          <ul class="govuk-list">
            <li><a href="#">CSS</a></li>
            <li><a href="#">jQuery</a></li>
            <li><a href="#">C#</a></li>
            <li><a href="#">Front end</a></li>
            <li><a href="#">HTML5</a></li>
          </ul>
      </div>
      </div>

</div>

{% endblock %}

{% block pageScripts %}



{% endblock %}