
{% extends "layout.html" %}

{% block pageTitle %}
Employer demand | Javascript | Digital skills | North East | Local enterprise partnership | Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="lep-ne.html">North East</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="lep-ne-skills.html">Skills in demand</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="lep-ne-skills-javascript.html">Javascript</a>
              </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Employer demand</li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Employer demand for Javascript in the North East
      </h1>
      </div>
    <div class="govuk-grid-column-one-third">
        
    </div>
  </div>

  <div class="govuk-grid-row  govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-third">
          <div class="headline-stat-box  govuk-!-margin-bottom-6">
                <span class="figure">Very high</span>
                <div class="detail govuk-body-s">
                <p class="govuk-body-s">0.67% of job adverts in the North East local enterprise partnership require this skill.</p>
                  <span class="date-range">August 2018</span>
                  <span class="increase">0.13%</span> <span class="prior-date-range">August 2017</span>
                </div>
          </div>
          <h2 class="govuk-heading-m">About the data</h2>
          <p>The employer demand was calculated by looking at Adzuna job adverts. Demand is worked out by looking at the proportion of adverts in an area seeking this skill.</p>
      </div>
  </div>


</div>

{% endblock %}

{% block pageScripts %}



{% endblock %}