
{% extends "layout.html" %}

{% block pageTitle %}
  North East | Local enterprise partnership | Digital skills information service
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="lep-north-east.html">North East local enterprise partnership</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">Digital skills</li>
        </ol>
      </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
        Digital skills in the North East
      </h1>
      
    </div>

    <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">
        Find a specific skill
      </h2>

      <form class="form" action="lep-ne-gva.html">

          <div class="govuk-form-group govuk-!-margin-bottom-4">
              <div id="autocomplete"></div>
          </div>
  
      </form>
    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <table class="govuk-table  govuk-!-margin-bottom-5">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Digital Skill</th>
              <th class="govuk-table__header" scope="col">Demand</th>
              <th class="govuk-table__header" scope="col">Growth</th>
              <th class="govuk-table__header" scope="col">Salary range</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row"><a href="lep-ne-digital-skills-javascript.html">Javascript</a></th>
              <td class="govuk-table__cell">Very high</td>
              <td class="govuk-table__cell">Steady growth</td>
              <td class="govuk-table__cell">£30,000 - £50,000</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row"><a href="#">React</a></th>
                <td class="govuk-table__cell">Very high</td>
                <td class="govuk-table__cell">Stable</td>
                <td class="govuk-table__cell">£30,000 - £50,000</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row"><a href="#">User research</a></th>
              <td class="govuk-table__cell">Very high</td>
                <td class="govuk-table__cell">Rapid growth</td>
                <td class="govuk-table__cell">£30,000 - £50,000</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row"><a href="#">Cobol</a></th>
              <td class="govuk-table__cell">Very high</td>
                <td class="govuk-table__cell">Stable</td>
                <td class="govuk-table__cell">£30,000 - £50,000</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row"><a href="#">Digital security</a></th>
              <td class="govuk-table__cell">Very high</td>
                <td class="govuk-table__cell">Stable</td>
                <td class="govuk-table__cell">£30,000 - £50,000</td>
            </tr>
            <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row"><a href="#">Business analysis</a></th>
                    <td class="govuk-table__cell">Very high</td>
                <td class="govuk-table__cell">Stable</td>
                <td class="govuk-table__cell">£30,000 - £50,000</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row"><a href="#">Interaction design</a></th>
                    <td class="govuk-table__cell">Very high</td>
                <td class="govuk-table__cell">Rapid growth</td>
                <td class="govuk-table__cell">£30,000 - £50,000</td>
                  </tr>
                  <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row"><a href="#">CAD operator</a></th>
                        <td class="govuk-table__cell">Very high</td>
                <td class="govuk-table__cell">Steady decline</td>
                <td class="govuk-table__cell">£30,000 - £50,000</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row"><a href="#">Programming</a></th>
                        <td class="govuk-table__cell">Very high</td>
                <td class="govuk-table__cell">Stable</td>
                <td class="govuk-table__cell">£30,000 - £50,000</td>
                      </tr>
                      <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row"><a href="#">Quality assurance</a></th>
                            <td class="govuk-table__cell">Very high</td>
                <td class="govuk-table__cell">Stable</td>
                <td class="govuk-table__cell">£30,000 - £50,000</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row"><a href="#">Data engineering</a></th>
                            <td class="govuk-table__cell">High</td>
                <td class="govuk-table__cell">Stable</td>
                <td class="govuk-table__cell">£30,000 - £50,000</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row"><a href="#">Photo editing</a></th>
                            <td class="govuk-table__cell">High</td>
                <td class="govuk-table__cell">Steady growth</td>
                <td class="govuk-table__cell">£30,000 - £50,000</td>
                          </tr>
                          <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row"><a href="#">Music production</a></th>
                                <td class="govuk-table__cell">High</td>
                                <td class="govuk-table__cell">Steady growth</td>
                                <td class="govuk-table__cell">£30,000 - £50,000</td>
                              </tr>
                              <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row"><a href="#">Marketing</a></th>
                                <td class="govuk-table__cell">High</td>
                <td class="govuk-table__cell">Stable</td>
                <td class="govuk-table__cell">£30,000 - £50,000</td>
                              </tr>
                              <tr class="govuk-table__row">
                                  <th class="govuk-table__header" scope="row"><a href="#">Programming</a></th>
                                  <td class="govuk-table__cell">High</td>
                          <td class="govuk-table__cell">Stable</td>
                          <td class="govuk-table__cell">£30,000 - £50,000</td>
                                </tr>
                                <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row"><a href="#">Quality assurance</a></th>
                                      <td class="govuk-table__cell">High</td>
                          <td class="govuk-table__cell">Stable</td>
                          <td class="govuk-table__cell">£30,000 - £50,000</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row"><a href="#">Data engineering</a></th>
                                      <td class="govuk-table__cell">High</td>
                          <td class="govuk-table__cell">Stable</td>
                          <td class="govuk-table__cell">£30,000 - £50,000</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                      <th class="govuk-table__header" scope="row"><a href="#">Photo editing</a></th>
                                      <td class="govuk-table__cell">Average</td>
                          <td class="govuk-table__cell">Steady growth</td>
                          <td class="govuk-table__cell">£30,000 - £50,000</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                          <th class="govuk-table__header" scope="row"><a href="#">Music production</a></th>
                                          <td class="govuk-table__cell">Average</td>
                                          <td class="govuk-table__cell">Stable</td>
                                          <td class="govuk-table__cell">£30,000 - £50,000</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                          <th class="govuk-table__header" scope="row"><a href="#">Marketing</a></th>
                                          <td class="govuk-table__cell">Average</td>
                          <td class="govuk-table__cell">Stable</td>
                          <td class="govuk-table__cell">£30,000 - £50,000</td>
                                        </tr>
          </tbody>
        </table>

    </div>

</div>

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  
  const dataitems = [
  'Javascript',
  'React',
  'CSS',
  'HTML',
  'Data science',
  'Node'
]

accessibleAutocomplete({
  element: document.querySelector('#autocomplete'),
  displayMenu: 'overlay',
  showAllValues: true,
  id: 'autocomplete', // To match it to the existing <label>.
  source: dataitems
})


</script>

{% endblock %}