
{% extends "layout.html" %}

{% block pageTitle %}
  Churchill | Find data about a local area
{% endblock %}

{% block content %}

<div class="top-alignment-correct">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
        beta
      </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your
            <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>

      {{ govukBackLink({
        text: "Back",
        href: "where-1.html"
      }) }}
   </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Find data about a local area</span>     
      <h1 class="govuk-heading-xl">Where to measure data for</h1> 
      </div>
      </div>

      <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-two-thirds">
      <label class="govuk-label">What local authority would you like to measure data for?</label>
      <span class="govuk-hint">Choose an area by selecting it on the map. You can choose up to ten to compare.</span>
      <img src="../../public/images/map-selector.png" class="map-select-image"/>
      <p class="link-beneath-select"><a href="where-2-loop.html">You can also choose areas from a list</a></p>

      {{ govukButton({
        text: "Continue",
        href: "what.html"
      }) }}
    </div>

   

    <div class="govuk-grid-column-one-third">
    {{ govukTable({
      classes: "govuk-!-margin-bottom-2",
      caption: "Where you've chosen",
      captionClasses: "govuk-heading-m",
      rows: [
        [
          {
            html: "<div class=\"key-cube\" style=\"background-color:#F47738;\"></div>Aberdeen City"
          },
          {
            html: "<a href=\"#\" class=\"right\">Remove</a>"
          }
        
        ]
      ]
    }) }}
  </div>
</div>

{% endblock %}
