
{% extends "layout-wide.html" %}

{% block pageTitle %}
  Churchill | Find data about a local area
{% endblock %}

{% block content %}
</div>
<div class="govuk-extra-width-container">

<div class="top-alignment-correct">
  <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
      beta
    </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your
          <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
 </div>


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-font-weight-regular">
            Number of 18 to 24 year old males entitled to <strong>Carers Allowance</strong> in selected <strong>Local Authorities</strong>
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <img src="../../public/images/charts-separate.png" class="full-width-image govuk-!-margin-bottom-5"/>
        <h2 class="govuk-heading-m">Things you may want to do with this data</h2>
        <ul>
          <li><a href="churchill-main-table.html">See a table of data</a></li>
          <li><a href="churchill-main.html">See areas on combined chart</a></li>
          <li><a href="churchill-main-unselected-areas.html">See unselected areas on the chart</a></li>
        </ul>
        <p class="govuk-body-s">View data source: <a href="https://stat-xplore.dwp.gov.uk/">Stat-Xplore</a></p>
      </div>

    <div class="govuk-grid-column-one-third">
        {{ govukTable({
          classes: "govuk-!-margin-bottom-2",
          caption: "Where you've chosen",
          captionClasses: "govuk-heading-m",
          rows: [
            [
              {
                html: "<div class=\"key-cube\" style=\"background-color:#F47738;\"></div>Aberdeen City"
              },
              {
                html: "<a href=\"#\" class=\"right\">Remove</a>"
              }
            ],
            [
              {
                html: "<div class=\"key-cube\" style=\"background-color:#27A197;\"></div>Camden"
              },
              {
                html: "<a href=\"#\" class=\"right\">Remove</a>"
              }
            ],
            [
              {
                html: "<div class=\"key-cube\" style=\"background-color:#FFBF47;\"></div>South Tyneside"
              },
              {
                html: "<a href=\"#\" class=\"right\">Remove</a>"
              }
            ]
          ]
        }) }}
        <p class="govuk-!-margin-bottom-7"><a href="where-2-loop.html" class="govuk-!-margin-bottom-6">Add another area</a></p>

        {{ govukTable({
          classes: "govuk-!-margin-bottom-2",
          caption: "What you're measuring",
          captionClasses: "govuk-heading-m",
          rows: [
            [
              {
                html: "Number of 18 to 24 year old males entitled to <strong>Carers allowance</strong>"
              },
              {
                html: "<a href=\"#\" class=\"right\">Change</a>"
              }
            ]
          ]
        }) }}
        <p class="govuk-!-margin-bottom-7"><a href="what-loop.html">Add another statistic</a></p>

        {{ govukTable({
          classes: "govuk-!-margin-bottom-7",
          caption: "When you're measuring",
          captionClasses: "govuk-heading-m",
          rows: [
            [
              {
                html: "May 2007 - May 2017"
              },
              {
                html: "<a href=\"#\" class=\"right\">Change</a>"
              }
            ]
          ]
        }) }}
    </div>
</div>


{% endblock %}
