
{% extends "layout.html" %}

{% block pageTitle %}
  Churchill | Find data about a local area
{% endblock %}

{% block content %}

<div class="top-alignment-correct">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
        beta
      </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your
            <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>

   </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">How would you like to find data?</h1>
      
      </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


      {{ govukRadios({
        idPrefix: "how-choice",
        name: "how-choice",
        fieldset: {
        },
        items: [
          {
            value: "where",
            text: "I'd like to find data for a place"
          },
          {
            value: "what",
            text: "I'd like to find data about a subject or thing"
          }
        ]
      }) }}

      <a href="#" class="govuk-button" id="continue-button">
        Continue
      </a>

      <script type="text/javascript">
          document.getElementById("how-choice-1").onclick = function () {
            document.getElementById("continue-button").href="how-where.html"; 
          }

          document.getElementById("how-choice-2").onclick = function() {
            document.getElementById("continue-button").href="how-what.html"; 
          };
      </script>

    </div>

    <div class="govuk-grid-column-one-third">

        
    </div>
</div>

{% endblock %}
