
{% extends "layout.html" %}

{% block pageTitle %}
Employer demand | Javascript | Digital skills | North East | Local enterprise partnership | Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="lep-ne.html">North East</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="lep-ne-skills.html">Skills in demand</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="lep-ne-skills-javascript.html">Javascript</a>
              </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Employer demand over time</li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Employer demand for Javascript in the North East over time
      </h1>
      </div>
    <div class="govuk-grid-column-one-third">
        
    </div>
  </div>

            <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Demand in the North East is very high with steady growth</h2>
                          <p class="govuk-body-s">Percentage of vacancies requiring Javascript</p>

                      </div>
                  </div>
               
                <div class="govuk-grid-row govuk-!-margin-bottom-6">
                    <div class="govuk-grid-column-three-quarters">
                        <img src="../../public/images/steady-line-gds.png" class="full-width-image govuk-!-margin-bottom-3"/>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <div class="volumetrics-completion-selected">
                            <span class="summary">November 2018</span>
                            <strong>4.1%</strong>
                            <p>(from 1,834 adverts)</p>
                          </div>
                    </div>
                </div>

                <div class="govuk-grid-row govuk-!-margin-bottom-6">

                        <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-heading-m">About the data</h2>
          <p>The employer demand was calculated by looking at Adzuna job adverts. Demand is worked out by looking at the proportion of adverts in an area seeking this skill.</p>
          </div>

      </div>


</div>

{% endblock %}

{% block pageScripts %}



{% endblock %}