
{% extends "layout.html" %}

{% block pageTitle %}
  North East | Local enterprise partnership | Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="where.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item"><a href="lep-ne.html">North East</a></li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Insights summary</li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        Insights summary for the North East
      </h1>
      <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How did we work this out?
            </span>
          </summary>
          <div class="govuk-details__text">
            We look at all of the data we hold on this area and highlight things that make it unique or interesting in comparison to other areas.
          </div>
        </details> 
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <!--  <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-5">
            <div class="govuk-panel__body">
                <a href="lep-ne-digital-skills-javascript">Demand for <strong>Javascript development</strong></a> is <strong>higher than the national average</strong> and is <strong>growing</strong>.
          </div>
          </div> -->

          <h2 class="govuk-heading-m">Employer demand for skills</h2>
            
            <ul class="govuk-list govuk-list--bullet">
                    <li><a href="lep-ne-skills-javascript">Demand for JavaScript development</a> is higher than the national average and is growing.</li>
                <li><a href="#">Demand for interaction design</a> is lower than the national average and is shrinking.</li>
            <li><a href="#">Demand for REACT</a> is higher than the national average and is growing.</li></ul>


            <h2 class="govuk-heading-m">Demographics</h2>

            <ul class="govuk-list govuk-list--bullet">
                <li><a href="lep-ne-ear">Economic activity rate</a> is the north east is lower than the national average and is growing slowly.</li>


          </div>



    <div class="govuk-grid-column-one-third">

        <h3 class="govuk-heading-m section-border-top">
            This area is part of
          </h3>

          <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="#">England</a>
              </li>
              <li>
                <a class="govuk-link" href="#">North East region</a>
              </li>
            </ul>

      <h3 class="govuk-heading-m section-border-top">
        Authorities in this area
      </h3>

      

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Durham</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Gateshead</a>
        </li>
        <li>
          <a class="govuk-link" href="la-newcastle">Newcastle upon Tyne</a>
        </li>
        <li>
          <a class="govuk-link" href="#">North Tyneside</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Northumberland</a>
        </li>
        <li>
          <a class="govuk-link" href="#">South Tyneside</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Sunderland</a>
        </li>
      </ul>
    </div>

</div>

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  
  const dataitems = [
  'GVA by industry sector',
  'Digital skills demand by industry sector',
  'Courses offered locally'
]

accessibleAutocomplete({
  element: document.querySelector('#autocomplete'),
  displayMenu: 'overlay',
  showAllValues: true,
  id: 'autocomplete', // To match it to the existing <label>.
  source: dataitems
})


</script>

{% endblock %}