
{% extends "layout.html" %}

{% block pageTitle %}
Manhattan
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="search">Home</a>
        </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">BROADSTREET GREAT WILSON (EUROPE)</li>
    </ol>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
          BROADSTREET GREAT WILSON (EUROPE)
      </h1>
      <span class="govuk-caption-xl govuk-!-margin-bottom-8">Employer overview</span>

    </div>
    <div class="govuk-grid-column-one-third">
        
    </div>
  </div>



 


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">

              <strong>BROADSTREET GREAT WILSON (EUROPE)</strong> is an employer that mainly operates in the <strong>retail sale in non-specialised stores with food, beverages or tobacco predominating</strong> sector.

</p>

<p class="govuk-body">

              It is a <strong>national</strong> employer, with a focus in <strong>no single area</strong>, and a presence of at least five employees in <strong>376</strong> out of 380 local authorities.

</p>

<p class="govuk-body">

             

                            Nationally, it is the <strong>4th</strong> largest employer.

             

</p>

<p class="govuk-body">

              The average salary for this company is roughly <strong>£11,749</strong>, across Great Britain.

</p>

<details class="govuk-details">

              <summary class="govuk-details__summary">

                            <span class="govuk-details__summary-text">

                                          View the areas with the most employees

                            </span>

              </summary>

              <div class="govuk-details__text">

                            <ol class="govuk-list govuk-list--number">

                                         

                                                       <li><a href="/placehome?place=E08000035"><strong>Leeds</strong></a> (3,399)</li>

                                         

                                                       <li><a href="/placehome?place=E08000036"><strong>Wakefield</strong></a> (2,385)</li>

                                         

                                                       <li><a href="/placehome?place=E08000025"><strong>Birmingham</strong></a> (2,341)</li>

                                         

                                                       <li><a href="/placehome?place=E08000010"><strong>Wigan</strong></a> (1,897)</li>

                                         

                                                       <li><a href="/placehome?place=E06000016"><strong>Leicester</strong></a> (1,816)</li>

                                         

                            </ol>

              </div>

</details>

<h2 class="govuk-heading-m govuk-!-margin-bottom-1">

              Map of employees' distribution

</h2>

<span class="govuk-hint">Viewed by place of employee residence — click an area to view other employers with an employee presence there, hover to view more details about that area.</span>
          </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <img src="../../public/images/gb-map.png" class="full-width-image"/>
        </div>
        <div class="govuk-grid-column-one-third">
            <p><strong>Location: <a href="la-newcastle">Newcastle upon Tyne</a></strong></p>
            <div class="govuk-heading-s govuk-!-margin-bottom-1">
                <strong>Employees count:</strong>
              </div>
              <div class="govuk-body-s label extra-annotation-emp">
                <span class="figure-emp">804</span>
                <div class="explainer">This is the <strong>9th</strong> largest employer in Newcastle upon Tyne.<br /> Roughly <strong>0.54%</strong> of the employees of this company live in this area.</div>
              </div>
              <div class="govuk-heading-s govuk-!-margin-bottom-1">
                  <strong>Change in employees:</strong>
                </div>
                <div class="govuk-body-s label extra-annotation-emp">
                  <span class="figure-emp">7.21%</span>
                  <div class="explainer">This indicates the number of employees is generally <strong>increasing</strong> over time, here. It became <strong>862</strong> by April 2016.</div>
                </div>
                <div class="govuk-heading-s govuk-!-margin-bottom-1">
                    <strong>Salary:</strong>
                  </div>
                  <div class="govuk-body-s label extra-annotation-emp">
                    <span class="figure-emp">£10,461</span>
                    <div class="explainer">This is <strong>below</strong> the national average of <strong>£11.748</strong> for this employer.</div>
                  </div>
        </div>
    </div>
 
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <br>
          <hr>
          <br>
        </div>
        </div>
  


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="app-contact-panel">
              <h2 class="govuk-heading-m app-contact-panel__heading">Learn more about how we do "Manhattan"</h2>
                <p class="app-contact-panel__body">Read more about our technical approach, and our data sources, on the <a href="methodology" class="app-contact-panel__link">methodology</a> page. <br />Get in touch with the Manhattan team with feedback and suggestions, we'd love to hear from you!</p>
            </div>
          </div>
      </div>
    </div>

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  
  const dataitems = [
  'BROADSTREET GREAT WILSON (EUROPE)',
  'WHITBREAD GRP PLC INCL WHITBREAD',
  'BRITISH UNITED PROVIDENT',
  'GREENE KING PLC INCL BREWING',
  'BRITISH AIRWAYS PLC INCL BRITISH',
  'BROOK STREET (UK) LTD INCL BAFIN'
]

accessibleAutocomplete({
  element: document.querySelector('#autocomplete'),
  displayMenu: 'overlay',
  id: 'autocomplete', // To match it to the existing <label>.
  source: dataitems
})


</script>


<script type="text/javascript" src="../../public/javascripts/sorttable.js"></script>

{% endblock %}