
{% extends "layout.html" %}

{% block pageTitle %}
  Where would you like to find out about? | Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your feedback will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      Home
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form method="post" class="form" action="/version-1-0/lep-ne">

        <fieldset class="govuk-fieldset" id="where_fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
            Where would you like to find out about?
            </h1>
          </legend> 
          <span class="govuk-hint">You can search for a region, a local enterprise partnership or a local authority district.</span>
          <div class="govuk-form-group">
            <div id="autocomplete"></div>
          </div>
        </fieldset>

        <button class="govuk-button">Continue</button>

    </form>
    
     
  </div>
</div>

{% endblock %}

{% block pageScripts %}

<script type="text/javascript">
  
    /*global accessibleAutocomplete*/
    function customResults (query, matchedResults) {
      var results = [
      { areatype: 'Local enterprise partnership', name: 'Black Country' },
      { areatype: 'Local enterprise partnership', name: 'Buckinghamshire Thames Valley' },
      { areatype: 'Local enterprise partnership', name: 'Cheshire and Warrington' },
      { areatype: 'Local enterprise partnership', name: 'Coast to Capital' },
      { areatype: 'Local enterprise partnership', name: 'Cornwall and Isles of Scilly' },
      { areatype: 'Local enterprise partnership', name: 'Coventry and Warwickshire' },
      { areatype: 'Local enterprise partnership', name: 'Cumbria' },
      { areatype: 'Local enterprise partnership', name: 'D2N2 (Derby, Derbyshire, Nottingham and Nottinghamshire)' },
      { areatype: 'Local enterprise partnership', name: 'Dorset' },
      { areatype: 'Local enterprise partnership', name: 'Enterprise M3' },
      { areatype: 'Local enterprise partnership', name: 'GFirst LEP' },
      { areatype: 'Local enterprise partnership', name: 'Greater Birmingham and Solihull' },
      { areatype: 'Local enterprise partnership', name: 'Greater Cambridge and Greater Peterborough' },
      { areatype: 'Local enterprise partnership', name: 'Greater Lincolnshire' },
      { areatype: 'Local enterprise partnership', name: 'Greater Manchester' },
      { areatype: 'Local enterprise partnership', name: 'Heart of the South West' },
      { areatype: 'Local enterprise partnership', name: 'Hertfordshire' },
      { areatype: 'Local enterprise partnership', name: 'Humber' },
      { areatype: 'Local enterprise partnership', name: 'Lancashire' },
      { areatype: 'Local enterprise partnership', name: 'Leeds City Region' },
      { areatype: 'Local enterprise partnership', name: 'Leicester and Leicestershire' },
      { areatype: 'Local enterprise partnership', name: 'Liverpool City Region' },
      { areatype: 'Local enterprise partnership', name: 'London Enterprise Panel' },
      { areatype: 'Local enterprise partnership', name: 'New Anglia' },
      { areatype: 'Local enterprise partnership', name: 'North East' },
      { areatype: 'Local enterprise partnership', name: 'Oxfordshire' },
      { areatype: 'Local enterprise partnership', name: 'Sheffield City Region' },
      { areatype: 'Local enterprise partnership', name: 'Solent' },
      { areatype: 'Local enterprise partnership', name: 'South East' },
      { areatype: 'Local enterprise partnership', name: 'South East Midlands' },
      { areatype: 'Local enterprise partnership', name: 'Stoke-on-Trent and Staffordshire' },
      { areatype: 'Local enterprise partnership', name: 'Swindon and Wiltshire' },
      { areatype: 'Local enterprise partnership', name: 'Tees Valley' },
      { areatype: 'Local enterprise partnership', name: 'Thames Valley Berkshire' },
      { areatype: 'Local enterprise partnership', name: 'The Marches' },
      { areatype: 'Local enterprise partnership', name: 'West of England' },
      { areatype: 'Local enterprise partnership', name: 'Worcestershire' },
      { areatype: 'Local enterprise partnership', name: 'York, North Yorkshire and East Riding' },
      
      { areatype: 'Local authority', name: 'Aberdeen City' },
      { areatype: 'Local authority', name: 'Aberdeenshire' },
      { areatype: 'Local authority', name: 'Adur' },
      { areatype: 'Local authority', name: 'Allerdale' },
      { areatype: 'Local authority', name: 'Amber Valley' },
      { areatype: 'Local authority', name: 'Angus' },
      { areatype: 'Local authority', name: 'Argyll & Bute' },
      { areatype: 'Local authority', name: 'Arun' },
      { areatype: 'Local authority', name: 'Ashfield' },
      { areatype: 'Local authority', name: 'Ashford' },
      { areatype: 'Local authority', name: 'Aylesbury Vale' },
      { areatype: 'Local authority', name: 'Babergh' },
      { areatype: 'Local authority', name: 'Barking and Dagenham' },
      { areatype: 'Local authority', name: 'Barnet' },
      { areatype: 'Local authority', name: 'Barnsley' },
      { areatype: 'Local authority', name: 'Barrow-in-Furness' },
      { areatype: 'Local authority', name: 'Basildon' },
      { areatype: 'Local authority', name: 'Basingstoke and Deane' },
      { areatype: 'Local authority', name: 'Bassetlaw' },
      { areatype: 'Local authority', name: 'Bath and North East Somerset' },
      { areatype: 'Local authority', name: 'Bedford' },
      { areatype: 'Local authority', name: 'Bexley' },
      { areatype: 'Local authority', name: 'Birmingham' },
      { areatype: 'Local authority', name: 'Blaby' },
      { areatype: 'Local authority', name: 'Blackburn with Darwen' },
      { areatype: 'Local authority', name: 'Blackpool' },
      { areatype: 'Local authority', name: 'Blaenau Gwent' },
      { areatype: 'Local authority', name: 'Bolsover' },
      { areatype: 'Local authority', name: 'Bolton' },
      { areatype: 'Local authority', name: 'Boston' },
      { areatype: 'Local authority', name: 'Bournemouth' },
      { areatype: 'Local authority', name: 'Bracknell Forest' },
      { areatype: 'Local authority', name: 'Bradford' },
      { areatype: 'Local authority', name: 'Braintree' },
      { areatype: 'Local authority', name: 'Breckland' },
      { areatype: 'Local authority', name: 'Brent' },
      { areatype: 'Local authority', name: 'Brentwood' },
      { areatype: 'Local authority', name: 'Bridgend' },
      { areatype: 'Local authority', name: 'Brighton and Hove' },
      { areatype: 'Local authority', name: 'Bristol City of' },
      { areatype: 'Local authority', name: 'Broadland' },
      { areatype: 'Local authority', name: 'Bromley' },
      { areatype: 'Local authority', name: 'Bromsgrove' },
      { areatype: 'Local authority', name: 'Broxbourne' },
      { areatype: 'Local authority', name: 'Broxtowe' },
      { areatype: 'Local authority', name: 'Burnley' },
      { areatype: 'Local authority', name: 'Bury' },
      { areatype: 'Local authority', name: 'Caerphilly' },
      { areatype: 'Local authority', name: 'Calderdale' },
      { areatype: 'Local authority', name: 'Cambridge' },
      { areatype: 'Local authority', name: 'Camden' },
      { areatype: 'Local authority', name: 'Cannock Chase' },
      { areatype: 'Local authority', name: 'Canterbury' },
      { areatype: 'Local authority', name: 'Cardiff' },
      { areatype: 'Local authority', name: 'Carlisle' },
      { areatype: 'Local authority', name: 'Carmarthenshire' },
      { areatype: 'Local authority', name: 'Castle Point' },
      { areatype: 'Local authority', name: 'Central Bedfordshire' },
      { areatype: 'Local authority', name: 'Ceredigion' },
      { areatype: 'Local authority', name: 'Charnwood' },
      { areatype: 'Local authority', name: 'Chelmsford' },
      { areatype: 'Local authority', name: 'Cheltenham' },
      { areatype: 'Local authority', name: 'Cherwell' },
      { areatype: 'Local authority', name: 'Cheshire East' },
      { areatype: 'Local authority', name: 'Cheshire West and Chester' },
      { areatype: 'Local authority', name: 'Chesterfield' },
      { areatype: 'Local authority', name: 'Chichester' },
      { areatype: 'Local authority', name: 'Chiltern' },
      { areatype: 'Local authority', name: 'Chorley' },
      { areatype: 'Local authority', name: 'Christchurch' },
      { areatype: 'Local authority', name: 'City of London' },
      { areatype: 'Local authority', name: 'Clackmannanshire' },
      { areatype: 'Local authority', name: 'Colchester' },
      { areatype: 'Local authority', name: 'Conwy' },
      { areatype: 'Local authority', name: 'Copeland' },
      { areatype: 'Local authority', name: 'Corby' },
      { areatype: 'Local authority', name: 'Cornwall' },
      { areatype: 'Local authority', name: 'Cotswold' },
      { areatype: 'Local authority', name: 'County Durham' },
      { areatype: 'Local authority', name: 'Coventry' },
      { areatype: 'Local authority', name: 'Craven' },
      { areatype: 'Local authority', name: 'Crawley' },
      { areatype: 'Local authority', name: 'Croydon' },
      { areatype: 'Local authority', name: 'Dacorum' },
      { areatype: 'Local authority', name: 'Darlington' },
      { areatype: 'Local authority', name: 'Dartford' },
      { areatype: 'Local authority', name: 'Daventry' },
      { areatype: 'Local authority', name: 'Denbighshire' },
      { areatype: 'Local authority', name: 'Derby' },
      { areatype: 'Local authority', name: 'Derbyshire Dales' },
      { areatype: 'Local authority', name: 'Doncaster' },
      { areatype: 'Local authority', name: 'Dover' },
      { areatype: 'Local authority', name: 'Dudley' },
      { areatype: 'Local authority', name: 'Dumfries & Galloway' },
      { areatype: 'Local authority', name: 'Dundee City' },
      { areatype: 'Local authority', name: 'Ealing' },
      { areatype: 'Local authority', name: 'East Ayrshire' },
      { areatype: 'Local authority', name: 'East Cambridgeshire' },
      { areatype: 'Local authority', name: 'East Devon' },
      { areatype: 'Local authority', name: 'East Dorset' },
      { areatype: 'Local authority', name: 'East Dunbartonshire' },
      { areatype: 'Local authority', name: 'East Hampshire' },
      { areatype: 'Local authority', name: 'East Hertfordshire' },
      { areatype: 'Local authority', name: 'East Lindsey' },
      { areatype: 'Local authority', name: 'East Lothian' },
      { areatype: 'Local authority', name: 'East Northamptonshire' },
      { areatype: 'Local authority', name: 'East Renfrewshire' },
      { areatype: 'Local authority', name: 'East Riding of Yorkshire' },
      { areatype: 'Local authority', name: 'East Staffordshire' },
      { areatype: 'Local authority', name: 'Eastbourne' },
      { areatype: 'Local authority', name: 'Eastleigh' },
      { areatype: 'Local authority', name: 'Eden' },
      { areatype: 'Local authority', name: 'Edinburgh City of' },
      { areatype: 'Local authority', name: 'Eilean Siar' },
      { areatype: 'Local authority', name: 'Elmbridge' },
      { areatype: 'Local authority', name: 'Enfield' },
      { areatype: 'Local authority', name: 'Epping Forest' },
      { areatype: 'Local authority', name: 'Epsom and Ewell' },
      { areatype: 'Local authority', name: 'Erewash' },
      { areatype: 'Local authority', name: 'Exeter' },
      { areatype: 'Local authority', name: 'Falkirk' },
      { areatype: 'Local authority', name: 'Fareham' },
      { areatype: 'Local authority', name: 'Fenland' },
      { areatype: 'Local authority', name: 'Fife' },
      { areatype: 'Local authority', name: 'Flintshire' },
      { areatype: 'Local authority', name: 'Forest Heath' },
      { areatype: 'Local authority', name: 'Forest of Dean' },
      { areatype: 'Local authority', name: 'Fylde' },
      { areatype: 'Local authority', name: 'Gateshead' },
      { areatype: 'Local authority', name: 'Gedling' },
      { areatype: 'Local authority', name: 'Glasgow City' },
      { areatype: 'Local authority', name: 'Gloucester' },
      { areatype: 'Local authority', name: 'Gosport' },
      { areatype: 'Local authority', name: 'Gravesham' },
      { areatype: 'Local authority', name: 'Great Yarmouth' },
      { areatype: 'Local authority', name: 'Greenwich' },
      { areatype: 'Local authority', name: 'Guildford' },
      { areatype: 'Local authority', name: 'Gwynedd' },
      { areatype: 'Local authority', name: 'Hackney' },
      { areatype: 'Local authority', name: 'Halton' },
      { areatype: 'Local authority', name: 'Hambleton' },
      { areatype: 'Local authority', name: 'Hammersmith and Fulham' },
      { areatype: 'Local authority', name: 'Harborough' },
      { areatype: 'Local authority', name: 'Haringey' },
      { areatype: 'Local authority', name: 'Harlow' },
      { areatype: 'Local authority', name: 'Harrogate' },
      { areatype: 'Local authority', name: 'Harrow' },
      { areatype: 'Local authority', name: 'Hart' },
      { areatype: 'Local authority', name: 'Hartlepool' },
      { areatype: 'Local authority', name: 'Hastings' },
      { areatype: 'Local authority', name: 'Havant' },
      { areatype: 'Local authority', name: 'Havering' },
      { areatype: 'Local authority', name: 'Herefordshire County of' },
      { areatype: 'Local authority', name: 'Hertsmere' },
      { areatype: 'Local authority', name: 'High Peak' },
      { areatype: 'Local authority', name: 'Highland' },
      { areatype: 'Local authority', name: 'Hillingdon' },
      { areatype: 'Local authority', name: 'Hinckley and Bosworth' },
      { areatype: 'Local authority', name: 'Horsham' },
      { areatype: 'Local authority', name: 'Hounslow' },
      { areatype: 'Local authority', name: 'Huntingdonshire' },
      { areatype: 'Local authority', name: 'Hyndburn' },
      { areatype: 'Local authority', name: 'Inverclyde' },
      { areatype: 'Local authority', name: 'Ipswich' },
      { areatype: 'Local authority', name: 'Isle of Anglesey' },
      { areatype: 'Local authority', name: 'Isle of Wight' },
      { areatype: 'Local authority', name: 'Isles of Scilly' },
      { areatype: 'Local authority', name: 'Islington' },
      { areatype: 'Local authority', name: 'Kensington and Chelsea' },
      { areatype: 'Local authority', name: 'Kettering' },
      { areatype: 'Local authority', name: 'King\'s Lynn and West Norfolk' },
      { areatype: 'Local authority', name: 'Kingston upon Hull City of' },
      { areatype: 'Local authority', name: 'Kingston upon Thames' },
      { areatype: 'Local authority', name: 'Kirklees' },
      { areatype: 'Local authority', name: 'Knowsley' },
      { areatype: 'Local authority', name: 'Lambeth' },
      { areatype: 'Local authority', name: 'Lancaster' },
      { areatype: 'Local authority', name: 'Leeds' },
      { areatype: 'Local authority', name: 'Leicester' },
      { areatype: 'Local authority', name: 'Lewes' },
      { areatype: 'Local authority', name: 'Lewisham' },
      { areatype: 'Local authority', name: 'Lichfield' },
      { areatype: 'Local authority', name: 'Lincoln' },
      { areatype: 'Local authority', name: 'Liverpool' },
      { areatype: 'Local authority', name: 'Luton' },
      { areatype: 'Local authority', name: 'Maidstone' },
      { areatype: 'Local authority', name: 'Maldon' },
      { areatype: 'Local authority', name: 'Malvern Hills' },
      { areatype: 'Local authority', name: 'Manchester' },
      { areatype: 'Local authority', name: 'Mansfield' },
      { areatype: 'Local authority', name: 'Medway' },
      { areatype: 'Local authority', name: 'Melton' },
      { areatype: 'Local authority', name: 'Mendip' },
      { areatype: 'Local authority', name: 'Merthyr Tydfil' },
      { areatype: 'Local authority', name: 'Merton' },
      { areatype: 'Local authority', name: 'Mid Devon' },
      { areatype: 'Local authority', name: 'Mid Suffolk' },
      { areatype: 'Local authority', name: 'Mid Sussex' },
      { areatype: 'Local authority', name: 'Middlesbrough' },
      { areatype: 'Local authority', name: 'Midlothian' },
      { areatype: 'Local authority', name: 'Milton Keynes' },
      { areatype: 'Local authority', name: 'Mole Valley' },
      { areatype: 'Local authority', name: 'Monmouthshire' },
      { areatype: 'Local authority', name: 'Moray' },
      { areatype: 'Local authority', name: 'Neath Port Talbot' },
      { areatype: 'Local authority', name: 'New Forest' },
      { areatype: 'Local authority', name: 'Newark and Sherwood' },
      { areatype: 'Local authority', name: 'Newcastle upon Tyne' },
      { areatype: 'Local authority', name: 'Newcastle-under-Lyme' },
      { areatype: 'Local authority', name: 'Newham' },
      { areatype: 'Local authority', name: 'Newport' },
      { areatype: 'Local authority', name: 'North Ayrshire' },
      { areatype: 'Local authority', name: 'North Devon' },
      { areatype: 'Local authority', name: 'North Dorset' },
      { areatype: 'Local authority', name: 'North East Derbyshire' },
      { areatype: 'Local authority', name: 'North East Lincolnshire' },
      { areatype: 'Local authority', name: 'North Hertfordshire' },
      { areatype: 'Local authority', name: 'North Kesteven' },
      { areatype: 'Local authority', name: 'North Lanarkshire' },
      { areatype: 'Local authority', name: 'North Lincolnshire' },
      { areatype: 'Local authority', name: 'North Norfolk' },
      { areatype: 'Local authority', name: 'North Somerset' },
      { areatype: 'Local authority', name: 'North Tyneside' },
      { areatype: 'Local authority', name: 'North Warwickshire' },
      { areatype: 'Local authority', name: 'North West Leicestershire' },
      { areatype: 'Local authority', name: 'Northampton' },
      { areatype: 'Local authority', name: 'Northumberland' },
      { areatype: 'Local authority', name: 'Norwich' },
      { areatype: 'Local authority', name: 'Nottingham' },
      { areatype: 'Local authority', name: 'Nuneaton and Bedworth' },
      { areatype: 'Local authority', name: 'Oadby and Wigston' },
      { areatype: 'Local authority', name: 'Oldham' },
      { areatype: 'Local authority', name: 'Orkney Islands' },
      { areatype: 'Local authority', name: 'Oxford' },
      { areatype: 'Local authority', name: 'Pembrokeshire' },
      { areatype: 'Local authority', name: 'Pendle' },
      { areatype: 'Local authority', name: 'Perth & Kinross' },
      { areatype: 'Local authority', name: 'Peterborough' },
      { areatype: 'Local authority', name: 'Plymouth' },
      { areatype: 'Local authority', name: 'Poole' },
      { areatype: 'Local authority', name: 'Portsmouth' },
      { areatype: 'Local authority', name: 'Powys' },
      { areatype: 'Local authority', name: 'Preston' },
      { areatype: 'Local authority', name: 'Purbeck' },
      { areatype: 'Local authority', name: 'Reading' },
      { areatype: 'Local authority', name: 'Redbridge' },
      { areatype: 'Local authority', name: 'Redcar and Cleveland' },
      { areatype: 'Local authority', name: 'Redditch' },
      { areatype: 'Local authority', name: 'Reigate and Banstead' },
      { areatype: 'Local authority', name: 'Renfrewshire' },
      { areatype: 'Local authority', name: 'Rhondda Cynon Taf' },
      { areatype: 'Local authority', name: 'Ribble Valley' },
      { areatype: 'Local authority', name: 'Richmond upon Thames' },
      { areatype: 'Local authority', name: 'Richmondshire' },
      { areatype: 'Local authority', name: 'Rochdale' },
      { areatype: 'Local authority', name: 'Rochford' },
      { areatype: 'Local authority', name: 'Rossendale' },
      { areatype: 'Local authority', name: 'Rother' },
      { areatype: 'Local authority', name: 'Rotherham' },
      { areatype: 'Local authority', name: 'Rugby' },
      { areatype: 'Local authority', name: 'Runnymede' },
      { areatype: 'Local authority', name: 'Rushcliffe' },
      { areatype: 'Local authority', name: 'Rushmoor' },
      { areatype: 'Local authority', name: 'Rutland' },
      { areatype: 'Local authority', name: 'Ryedale' },
      { areatype: 'Local authority', name: 'Salford' },
      { areatype: 'Local authority', name: 'Sandwell' },
      { areatype: 'Local authority', name: 'Scarborough' },
      { areatype: 'Local authority', name: 'Scottish Borders' },
      { areatype: 'Local authority', name: 'Sedgemoor' },
      { areatype: 'Local authority', name: 'Sefton' },
      { areatype: 'Local authority', name: 'Selby' },
      { areatype: 'Local authority', name: 'Sevenoaks' },
      { areatype: 'Local authority', name: 'Sheffield' },
      { areatype: 'Local authority', name: 'Shepway' },
      { areatype: 'Local authority', name: 'Shetland Islands' },
      { areatype: 'Local authority', name: 'Shropshire' },
      { areatype: 'Local authority', name: 'Slough' },
      { areatype: 'Local authority', name: 'Solihull' },
      { areatype: 'Local authority', name: 'South Ayrshire' },
      { areatype: 'Local authority', name: 'South Bucks' },
      { areatype: 'Local authority', name: 'South Cambridgeshire' },
      { areatype: 'Local authority', name: 'South Derbyshire' },
      { areatype: 'Local authority', name: 'South Gloucestershire' },
      { areatype: 'Local authority', name: 'South Hams' },
      { areatype: 'Local authority', name: 'South Holland' },
      { areatype: 'Local authority', name: 'South Kesteven' },
      { areatype: 'Local authority', name: 'South Lakeland' },
      { areatype: 'Local authority', name: 'South Lanarkshire' },
      { areatype: 'Local authority', name: 'South Norfolk' },
      { areatype: 'Local authority', name: 'South Northamptonshire' },
      { areatype: 'Local authority', name: 'South Oxfordshire' },
      { areatype: 'Local authority', name: 'South Ribble' },
      { areatype: 'Local authority', name: 'South Somerset' },
      { areatype: 'Local authority', name: 'South Staffordshire' },
      { areatype: 'Local authority', name: 'South Tyneside' },
      { areatype: 'Local authority', name: 'Southampton' },
      { areatype: 'Local authority', name: 'Southend-on-Sea' },
      { areatype: 'Local authority', name: 'Southwark' },
      { areatype: 'Local authority', name: 'Spelthorne' },
      { areatype: 'Local authority', name: 'St Albans' },
      { areatype: 'Local authority', name: 'St Edmundsbury' },
      { areatype: 'Local authority', name: 'St. Helens' },
      { areatype: 'Local authority', name: 'Stafford' },
      { areatype: 'Local authority', name: 'Staffordshire Moorlands' },
      { areatype: 'Local authority', name: 'Stevenage' },
      { areatype: 'Local authority', name: 'Stirling' },
      { areatype: 'Local authority', name: 'Stockport' },
      { areatype: 'Local authority', name: 'Stockton-on-Tees' },
      { areatype: 'Local authority', name: 'Stoke-on-Trent' },
      { areatype: 'Local authority', name: 'Stratford-on-Avon' },
      { areatype: 'Local authority', name: 'Stroud' },
      { areatype: 'Local authority', name: 'Suffolk Coastal' },
      { areatype: 'Local authority', name: 'Sunderland' },
      { areatype: 'Local authority', name: 'Surrey Heath' },
      { areatype: 'Local authority', name: 'Sutton' },
      { areatype: 'Local authority', name: 'Swale' },
      { areatype: 'Local authority', name: 'Swansea' },
      { areatype: 'Local authority', name: 'Swindon' },
      { areatype: 'Local authority', name: 'Tameside' },
      { areatype: 'Local authority', name: 'Tamworth' },
      { areatype: 'Local authority', name: 'Tandridge' },
      { areatype: 'Local authority', name: 'Taunton Deane' },
      { areatype: 'Local authority', name: 'Teignbridge' },
      { areatype: 'Local authority', name: 'Telford and Wrekin' },
      { areatype: 'Local authority', name: 'Tendring' },
      { areatype: 'Local authority', name: 'Test Valley' },
      { areatype: 'Local authority', name: 'Tewkesbury' },
      { areatype: 'Local authority', name: 'Thanet' },
      { areatype: 'Local authority', name: 'The Vale of Glamorgan' },
      { areatype: 'Local authority', name: 'Three Rivers' },
      { areatype: 'Local authority', name: 'Thurrock' },
      { areatype: 'Local authority', name: 'Tonbridge and Malling' },
      { areatype: 'Local authority', name: 'Torbay' },
      { areatype: 'Local authority', name: 'Torfaen' },
      { areatype: 'Local authority', name: 'Torridge' },
      { areatype: 'Local authority', name: 'Tower Hamlets' },
      { areatype: 'Local authority', name: 'Trafford' },
      { areatype: 'Local authority', name: 'Tunbridge Wells' },
      { areatype: 'Local authority', name: 'Uttlesford' },
      { areatype: 'Local authority', name: 'Vale of White Horse' },
      { areatype: 'Local authority', name: 'Wakefield' },
      { areatype: 'Local authority', name: 'Walsall' },
      { areatype: 'Local authority', name: 'Waltham Forest' },
      { areatype: 'Local authority', name: 'Wandsworth' },
      { areatype: 'Local authority', name: 'Warrington' },
      { areatype: 'Local authority', name: 'Warwick' },
      { areatype: 'Local authority', name: 'Watford' },
      { areatype: 'Local authority', name: 'Waveney' },
      { areatype: 'Local authority', name: 'Waverley' },
      { areatype: 'Local authority', name: 'Wealden' },
      { areatype: 'Local authority', name: 'Wellingborough' },
      { areatype: 'Local authority', name: 'Welwyn Hatfield' },
      { areatype: 'Local authority', name: 'West Berkshire' },
      { areatype: 'Local authority', name: 'West Devon' },
      { areatype: 'Local authority', name: 'West Dorset' },
      { areatype: 'Local authority', name: 'West Dunbartonshire' },
      { areatype: 'Local authority', name: 'West Lancashire' },
      { areatype: 'Local authority', name: 'West Lindsey' },
      { areatype: 'Local authority', name: 'West Lothian' },
      { areatype: 'Local authority', name: 'West Oxfordshire' },
      { areatype: 'Local authority', name: 'West Somerset' },
      { areatype: 'Local authority', name: 'Westminster' },
      { areatype: 'Local authority', name: 'Weymouth and Portland' },
      { areatype: 'Local authority', name: 'Wigan' },
      { areatype: 'Local authority', name: 'Wiltshire' },
      { areatype: 'Local authority', name: 'Winchester' },
      { areatype: 'Local authority', name: 'Windsor and Maidenhead' },
      { areatype: 'Local authority', name: 'Wirral' },
      { areatype: 'Local authority', name: 'Woking' },
      { areatype: 'Local authority', name: 'Wokingham' },
      { areatype: 'Local authority', name: 'Wolverhampton' },
      { areatype: 'Local authority', name: 'Worcester' },
      { areatype: 'Local authority', name: 'Worthing' },
      { areatype: 'Local authority', name: 'Wrexham' },
      { areatype: 'Local authority', name: 'Wychavon' },
      { areatype: 'Local authority', name: 'Wycombe' },
      { areatype: 'Local authority', name: 'Wyre' },
      { areatype: 'Local authority', name: 'Wyre Forest' },
      { areatype: 'Local authority', name: 'York' }
      
      ]
      const checkMatch = results.filter(result => 
       result.name.toLowerCase().indexOf(query.toLowerCase()) !== -1 // || result.areatype.toLowerCase().indexOf(query.toLowerCase()) !== -1
      )
      matchedResults(checkMatch)
    }

  function inputValueTemplate (result) {
    return result && result.name
  }

  function suggestionTemplate (result) {
    return result && '<span class=\'areaname\'>' + result.name + '</span>' +
      '<span class=\'areatype\'>' + result.areatype + '</span>'
  }
      
  var element = document.querySelector('#autocomplete');
  accessibleAutocomplete({
    element: element,
    id: 'autocomplete-class',
    source: customResults,
    templates: {
        inputValue: inputValueTemplate,
        suggestion: suggestionTemplate
    }
  });


</script>

{% endblock %}