
{% extends "layout.html" %}

{% block pageTitle %}
  Digital skills information service
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Explore the digital skills market by area
      </h1>
      <p>
        This is the prototype for digital skills information service. This is a service to allow users to look at local skills and labour market data in context and help with decision making.
      </p>

      <h2 class="govuk-heading-l">Prototype (MVP, skills data only)</h2>
      <h3><a href="version-0-6/">Version 0.6 (No open data, integrating content changes from UR)</a></h3>
      <p>Skills down to Javascript and roles down to Javascript Development.</p>
      <p>No data pages:</p>
      <ul>
        <li><a href="lep-ne-skills-quality-assurance-no-data">No data on skill</a></li>
        <li><a href="lep-ne-no-data">No data on area page</a></li>
        <li><a href="lep-ne-skills-no-data">No skills on skills page</a></li>
      </ul>

      <h2 class="govuk-heading-l">Prototype (w/ Open Data)</h2>
      <h3><a href="version-0-4/">Version 0.4 (Starting to bring in open data)</a></h3>
      <p>Brininging in four different types of open data, skills down to Javascript and roles down to Javascript Development.</p>


      <h2 class="govuk-heading-l">Archived Prototypes</h2>
      <h3><a href="version-0-5/">Version 0.5 (Atika's edits post UR)</a></h3>
      <p>Brininging in four different types of open data, skills down to Javascript and roles down to Javascript Development.</p>
      <h3><a href="version-0-3/">Version 0.3 (the same as 2 only with content tweaks)</a></h3>
      <p>Login and navigate to a LEP.</p>
      <h3><a href="version-0-2/">Version 0.2 (Working prototype for, skills only)</a></h3>
      <p>Login and navigate to the North East LEP, look at Skills, Javascript.</p>
      <h3><a href="version-0-1/">Version 0.1 (Cut after being shown at ops conf on Place)</a></h3>
      <p>Login and navigate to a LEP, you can view the GVA, digital skills demand, and specific demand for JS Development.</p>
    </div>
</div>

{% endblock %}
