
{% extends "layout.html" %}

{% block pageTitle %}
  Examine a place | GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Examine a place
        <span class="govuk-caption-xl">Version 0.1</span>
      </h1>
      <p>
        This is the prototype for Examine a Place. This is a service to allow users to look at local skills and labour market data in context and help with decision making.
      </p>

      

      <h2 class="govuk-heading-l">Prototypes</h2>
      <h3><a href="version-0-3">Version 0.3</a></h3>
      <p>More of a dashboard feel to the LEP page.</p>
      <h3><a href="version-0-2">Version 0.2</a></h3>
      <p>Search for a LEP or an LA, navigate either way between the two.</p>
      <h3><a href="version-0-1">Version 0.1</a></h3>
      <p>Search for a LEP, drill into a local authority within that if needed.</p>

    </div>
</div>

{% endblock %}
