
{% extends "layout-wide.html" %}

{% block pageTitle %}
  Churchill | Find data about a local area
{% endblock %}

{% block content %}
</div>
<div class="govuk-extra-width-container">

<div class="top-alignment-correct">
  <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
      beta
    </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your
          <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
 </div>


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl  govuk-!-margin-bottom-4">
            Local authority data
        </h1>
        <div class="location-bar govuk-!-margin-bottom-4">
            <p class="govuk-!-margin-bottom-0">Showing data for: <span class="key-cube" style="background-color:#F47738;"></span>Aberdeen City, <span class="key-cube" style="background-color:#27A197;"></span>Camden, <span class="key-cube" style="background-color:#FFBF47;"></span>South Tyneside (<a href="">Add or remove locations</a>)</p>
          </div>
      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

          <div class="chart-panel govuk-!-margin-bottom-6">

          <h3 class="govuk-heading-m govuk-!-font-weight-regular">
              Number of 18 to 24 year old males entitled to <strong>Carers Allowance</strong> (<a href="#">edit</a>)
            </h3>
            <p>Measuring from <select class="govuk-select"><option>May 2007</option></select> to <select class="govuk-select"><option>May 2017</option></select></p>

          <div class="tabs">
              <div class="tabs-nav">
                <ul class="tabs-list">
                  <li>
                    <a href="#tab-1">
                      Data in context
                    </a>
                  </li>
                  <li>
                    <a href="#tab-2">
                      Hide unselected areas
                    </a>
                  </li>
                  <li>
                    <a href="#tab-3">
                      Show as seperate charts
                    </a>
                  </li>
                  <li>
                      <a href="#tab-4">
                        Table of data
                      </a>
                    </li>
                </ul>
              </div>
      
              <div class="tabs-content">
                <div class="tabs-panel" id="tab-1">
                  <div class="tabs-panel-inner">

                      <h2 class="visually-hidden govuk-heading-m">
                          Data in context
                        </h2>
                          <img src="../../public/images/chart.png" class="full-width-image govuk-!-margin-bottom-3"/>
                          <p class="govuk-body-s">View data source: <a href="https://stat-xplore.dwp.gov.uk/">Stat-Xplore</a></p>
                    </div>
                </div>
      
                <div class="tabs-panel" id="tab-2">
                  <div class="tabs-panel-inner">
                    
                      <h2 class="visually-hidden govuk-heading-m">
                          Unselected areas hidden
                        </h2>

                        <img src="../../public/images/chart-2.png" class="full-width-image govuk-!-margin-bottom-3"/>
                        <p class="govuk-body-s">View data source: <a href="https://stat-xplore.dwp.gov.uk/">Stat-Xplore</a></p>
                  </div>
                </div>
      
                <div class="tabs-panel" id="tab-3">
                  <div class="tabs-panel-inner">
                    
                    <h2 class="visually-hidden govuk-heading-m">
                       Showing areas as seperate charts
                      </h2>

                      <img src="../../public/images/charts-separate.png" class="full-width-image govuk-!-margin-bottom-3"/>
                      <p class="govuk-body-s">View data source: <a href="https://stat-xplore.dwp.gov.uk/">Stat-Xplore</a></p>
                  </div>
                </div>

                <div class="tabs-panel" id="tab-4">
                    <div class="tabs-panel-inner">

                        <h2 class="visually-hidden govuk-heading-m">
                            Table of data
                          </h2>

                          {{ govukTable({
                            firstCellIsHeader: true,
                            head: [
                              {
                                text: "Date"
                              },
                              {
                                text: "Aberdeen City"
                              },
                              {
                                text: "Camden"
                              },
                              {
                                text: "South Tyneside"
                              }
                            ],
                            rows: [
                              [
                                {
                                  text: "May 2007"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2007"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2007"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2008"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2008"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2008"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2008"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2009"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2009"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2009"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2009"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2010"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2010"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2010"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2010"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2011"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2011"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2011"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2011"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2012"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2012"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2012"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2012"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2013"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2013"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2013"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2013"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2014"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2014"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2014"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2014"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2015"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2015"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2015"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2015"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2016"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                                {
                                  text: "May 2016"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "August 2016"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                                {
                                  text: "November 2016"
                                },
                                {
                                  text: "2,277"
                                },
                                {
                                  text: "1,993"
                                },
                                {
                                  text: "2,889"
                                }
                              ],
                              [
                              {
                                text: "February 2017"
                              },
                              {
                                text: "2,277"
                              },
                              {
                                text: "1,993"
                              },
                              {
                                text: "2,889"
                              }
                            ],
                            [
                            {
                              text: "May 2017"
                            },
                            {
                              text: "2,277"
                            },
                            {
                              text: "1,993"
                            },
                            {
                              text: "2,889"
                            }
                          ]
                            ]
                          }) }}
                    </div>
                  </div>

              </div>
            </div>

            
          </div>
        
      </div>

    <div class="govuk-grid-column-one-third">
        

    </div>
</div>


{% endblock %}
