
{% extends "layout.html" %}

{% block pageTitle %}
  Churchill | Find data about a local area
{% endblock %}

{% block content %}

<div class="top-alignment-correct">
  <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
      beta
    </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your
          <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>

  <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Organisations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Department for Work and Pensions</a>
          </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Find data about a local area</li>
      </ol>
    </div>
 </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Find data about a local area
      </h1>

      <p>Find data about a local area. You can explore data by location, time and characteristics.</p>

      <p>This service allows you to compare local areas. You can look at areas in more depth and see changes over time.</p>

      <p><a class="gem-c-button govuk-button govuk-button--start" role="button" rel="external" href="where-1.html">Start now</a></p>

    </div>
</div>

{% endblock %}
