
{% extends "layout.html" %}

{% block pageTitle %}
Quality assurance | Digital skills | North East | Local enterprise partnership | Explore the digital skills market by area
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="where.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="lep-ne.html">North East</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="lep-ne-skills.html">Skills in demand</a>
        </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Quality assurance</li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        Quality assurance in the North East
      </h1>
      <p class="govuk-body-l govuk-!-margin-bottom-3"><strong style="font-size:1.6rem;display:inline;">Skill</strong> in the Web and Software Development skills category.</p>
      
       <!-- <div class="govuk-inset-text">
          <p class=" govuk-body-s">
            We look at job data from Adzuna and use an alogrithm to match them with locations that are associated with this area.</p>
             </div> -->

    </div>
    <div class="govuk-grid-column-one-third">
        
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <p class="last-update">This data was last updated in January 2019</p>
  <div class="govuk-inset-text">
    <p>We work out this skills information by looking at job adverts that ask for each skill. We match the location listed in the advert with locations in this area. Job adverts are collected by Adzuna.</p>
    </div>
</div>
</div>

  <div class="govuk-grid-row  govuk-!-margin-bottom-5">
      <div class="govuk-grid-column-one-third">
          <div class="headline-stat-box section-border-top">
              <span class="title">Employer demand</span>
              <span class="no-data">no data</span>
              <div class="detail govuk-body-s">
                  <p class="govuk-body-s">There are no vacancies asking for quality assurance in the North East this month.</p>
              </div>
          </div>
      </div>
      <div class="govuk-grid-column-one-third">
          <div class="headline-stat-box section-border-top">
              <span class="title">Average salary range</span>
              <span class="no-data">not enough data</span>
              <div class="detail govuk-body-s">
                    <p class="govuk-body-s">There are not enough vacancies that ask for quality assurance to work out the average salary range.</p>
                </div>

          </div>
      </div>
      <div class="govuk-grid-column-one-third">
          <div class="headline-stat-box section-border-top">
              <span class="title">Transferability</span>
              <span class="figure">Highly specialised</span>
              <div class="detail govuk-body-s govuk-!-margin-bottom-0">
                  Employer demand for this skill is only found within a small amount of roles.
              </div>
          </div>
      </div>
  </div>


  
  

  <div class="govuk-grid-row  govuk-!-margin-bottom-6">
      
    <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m section-border-top govuk-!-margin-bottom-4">Roles requiring this skill</h2>
          <ul class="govuk-list">
            <li><a href="lep-ne-roles-Quality assurance-developer.htm">Javascript developer</a></li>
            <li><a href="#">Frontend Javascript developer</a></li>
            <li><a href="#">Javascript developer Nodejs</a></li>
            <li><a href="#">Angular developer</a></li>
            <li><a href="#">Full stack developer</a></li>
          </ul>
      </div>

      <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m section-border-top govuk-!-margin-bottom-4">Related skills</h2>
          <ul class="govuk-list">
            <li><a href="#">CSS</a></li>
            <li><a href="#">jQuery</a></li>
            <li><a href="#">C#</a></li>
            <li><a href="#">Front end</a></li>
            <li><a href="#">HTML5</a></li>
          </ul>
      </div>
      </div>

</div>

{% endblock %}

{% block pageScripts %}



{% endblock %}