
{% extends "layout.html" %}

{% block pageTitle %}
Manhattan
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-grid-row govuk-!-margin-top-7">

  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">

          "Manhattan" Employer Information Service

      </h1>

      <p class="govuk-body-l">

          This service lets you view information about employers.

      </p>

      <p class="govuk-body">

          It is currently derived from HMRC Pay-As-You-Earn (PAYE) data, from the 2015/2016 tax year, broken down by Local Authority District.

      </p>

      <p class="govuk-body">

          Use this tool to find information about:

      </p>

      <ul class="govuk-list govuk-list--bullet">

          <li>The <strong>number of employees</strong> living in a location by employer</li>

          <li><strong>Employer salaries</strong> by location</li>

          <li><strong>Growth or contraction</strong> of an employers workforce living in a location (this measure is experimental)</li>

          <li>The <strong>geographic spread</strong> of employers and employees</li>

          <li>Filterable visualisations and tables</li>

          </ul>

      <a href="search" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-4">

        Start now

      </a>

  </div>

</div>
</div>

{% endblock %}

{% block pageScripts %}



{% endblock %}